<apex:component controller="fsFA_PofS_ImageComponentController" allowDML="true" id="COMP_ImageComponent" >

    <!-- PofS ID Attribute -->
    <apex:attribute name="PofSID" description="The ID of the PofS record" type="ID" required="true" assignTo="{!GV_ImageId}" />
    
    <!-- External Style Sheets -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
    <apex:stylesheet value="{!URLFOR($Resource.ImageArea, 'jquery.imgareaselect-0.9.10/css/imgareaselect-default.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.JQueryUI, 'jquery-ui-1.10.3.custom/css/ui-lightness/jquery-ui-1.10.3.custom.min.css')}"/>
    <!-- jQuery ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
    <apex:includeScript value="{!URLFOR($Resource.ImageArea, 'jquery.imgareaselect-0.9.10/scripts/jquery.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.ImageArea, 'jquery.imgareaselect-0.9.10/scripts/jquery.imgareaselect.pack.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.JQueryUI, 'jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js')}"/>

    <!-- Style Sheets ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
    <style type="text/css">
        #DIV_Image{
          position: relative;
          border: solid 2px #7E7E7E;
          min-width: 300px;
          min-height: 300px;
          box-shadow: 0 0 5px #000;
          float: left;
          overflow: hidden;
        }

        #image{
          max-width: {!ROUND( GO_PofSSettings.Max_Image_Width__c, 0 )}px;
          max-height: {!ROUND( GO_PofSSettings.Max_Image_Height__c, 0 )}px;
          z-index: 1;
        }
        
        .img_click_area{
          max-width: {!ROUND( GO_PofSSettings.MaxImageWidthClickArea__c, 0 )}px;
          max-height: {!ROUND( GO_PofSSettings.MaxImageHeightClickArea__c, 0 )}px;
        }

        .image_area_box {
            float: left;
            filter: alpha(opacity=75);
            opacity: 0.75;
            z-index: 3;
        }

        .image_area_box_highlight {
          border: dashed 0px #5C5C5C;
          box-shadow: 0 0 5px 2px #000;
          float: left;
          border-radius: 60px;
          z-index: 3;
        }
        
        <apex:repeat value="{!GM_ClickAreaTypes}" var="LV_ClickAreaName">
            .image_area_box_{!LV_ClickAreaName}{
                background-image: url('{!GO_DocumentController.GV_DocumentURL}{!GM_ClickAreaTypes[ LV_ClickAreaName ].Icon__c}'), url('{!GO_DocumentController.GV_DocumentURL}{!GM_ClickAreaTypes[ 'Background' ].Icon__c}');
            }
        </apex:repeat>
        
        .image_area_description_box {
          border: none 0px #5C5C5C;
          border-bottom: none;
          float: left;
          color: #5C5C5C;
          font-weight: bold;
        }
        
        .button_bar{
            text-align:center;
            margin-top: 10px;
            margin-bottom: 10px
        }
        
        body .bPageBlock .pbBody .red .pbSubheader{
            background-color: #B81321;
        }
        
        .bPageBlock{
            border-color: #B81321 !important;
        }
        
        .red .bPageBlock{
            border: 0px none #B81321 !important;
        }
        .red{
            width:  400px;
            height: 200px;
        }
        .imgareaselect-selection{
            background-image: url('{!GO_DocumentController.GV_DocumentURL}{!GM_ClickAreaTypes[ 'NewCheck' ].Icon__c}');
        }
        
        #DIV_Image_AvailableArea{
            position: absolute;
            border: solid 5px green;
            border-radius: 5px;
            z-index: 2;
        }
        
        .sortable-placeholder{
            background-color: #D9D9D9;
            border: 1px dashed black !important;
            border-radius: 5px !important;
        }
        
        .question-row{
            background-color: #f8f8f8 !important;
            border: 1px solid grey !important;
            border-radius: 5px;
        }
        
        .assortment-control-container{
            height: 300px;
            overflow-y: auto; 
            overflow-x: hidden; 
            padding-right: 20px;    
        }
        
        .popup-background {
            /* Background color */
            background-color:black;
            opacity: 0.50;
            filter: alpha(opacity = 50);
        
            /* Dimensions */
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 998;
            position: fixed;
            
            /* Mouse */
            cursor:wait;
        }
        
        .popup-panel {
            /* Background color */
            border: dashed 5px #B81321;
            border-radius: 5px;
            background-color: #f8f8f8;
     
            /* Dimensions */
            left: 50%;
            width: 200px;
            margin-left: -100px;
            top: 50%;
            height: 50px;
            margin-top: -25px;
            z-index: 999;
            position: fixed;
            
            /* Mouse */
            cursor:pointer;
        }
    </style>
   
    <!--  Scripts -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
    <!-- The following script gets executed once when the page is loaded  -->
    <script type="text/javascript">
        // Variables -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        //The PofS ID 
        var GV_ImageArea = null;
        //Chosen ClickArea ID 
        var GV_ChosenImageArea = null;
        //The existing ClickAreas 
        var GL_ExistingImageAreas = new Array();
        //Is the Page already initialized? This is neccessary because the load and ready events are not always fired in the same order. 
        var GV_Initialized = false;
        //Stores the available ClickArea types and the related available area 
        var GM_ClickAreaTypes = new Object();

        //Get the ClickArea coordinates 
        GM_ClickAreaTypes[ "Default" ] = new Object();
        GM_ClickAreaTypes[ "Default" ].X1 = 0;
        GM_ClickAreaTypes[ "Default" ].Y1 = 0;
        GM_ClickAreaTypes[ "Default" ].X2 = 120;
        GM_ClickAreaTypes[ "Default" ].Y2 = 120;
        <apex:repeat value="{!GM_ClickAreaTypes}" var="LV_ClickAreaName">
                GM_ClickAreaTypes[ "{!LV_ClickAreaName}" ] = new Object();
                GM_ClickAreaTypes[ "{!LV_ClickAreaName}" ].X1 = {!GM_ClickAreaTypes[ LV_ClickAreaName ].X1__c};
                GM_ClickAreaTypes[ "{!LV_ClickAreaName}" ].Y1 = {!GM_ClickAreaTypes[ LV_ClickAreaName ].Y1__c};
                GM_ClickAreaTypes[ "{!LV_ClickAreaName}" ].X2 = {!GM_ClickAreaTypes[ LV_ClickAreaName ].X2__c};
                GM_ClickAreaTypes[ "{!LV_ClickAreaName}" ].Y2 = {!GM_ClickAreaTypes[ LV_ClickAreaName ].Y2__c};
        </apex:repeat>
    
        //Functions -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
        //Make the picture upload window draggable 
        /*$(document).ready( function(){
                $( '#DIV_ImageAreaAttributes_Upload' ).draggable();
        } );*/
    
        //Show the picture upload window 
        function showUploadWindow(){
            $( '#DIV_ImageAreaAttributes_Upload' ).css( 'visibility', 'visible' );
            $("#DIV_ImageAreaAttributes_Upload").position({
                                 my: "left+100 top",
                                 of: "[id$='BTN_ImageAreaAttributes_Upload']",
                                 collision: "flip fit"
                            });
        }
    
        //Hide the picture upload window 
        function hideUploadWindow(){
            $( '#DIV_ImageAreaAttributes_Upload' ).css( 'visibility', 'hidden' );
        }

        function disableUploadButtons(){
            $( "[id$='CB_ImageAreaAttributes_Upload_CloseButton']" ).attr( 'disabled', true );
        }
    
        function enableUploadButtons(){
            $( "[id$='CB_ImageAreaAttributes_Upload_CloseButton']" ).removeAttr( 'disabled' );
            var LL_FileName = $( "[id$='IF_ImageAreaAttributes_Upload_InputFile']" ).val().split( '\\' );
            var LV_FileName = LL_FileName[ LL_FileName.length - 1 ];
            AF_RefreshClickAreaQuestionImages( LV_FileName );
            hideUploadWindow();
        }
        
        function setNewImage(){
            var LL_FileName = $( "[id$='IF_ImageAreaAttributes_Upload_InputFile']" ).val().split( '\\' );
            var LV_FileName = LL_FileName[ LL_FileName.length - 1 ];
            $("[id$='SB_ImageAreaAttributes'] option").filter(function() {
                return $(this).text() == LV_FileName; 
            }).prop( 'selected', 'selected' );
        }
        
    </script>

   <!-- The following script will be reloaded several times -->
    <apex:outputPanel id="Scripts">
       <script type="text/javascript">
            // Variables -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
            //Was the New Area button clicked? 
            var GV_DrawNewArea = {!GV_DrawNewArea};
            //Was the Move Area button clicked? 
            var GV_MoveArea = {!GV_MoveArea};
            //The coordinates of the current ClickArea 
            var GV_X = 50;
            var GV_Y = 50;
            //The relative coordinates of the current ClickArea 
            var GV_X_Rel;
            var GV_Y_Rel;
            //The dimensions of the ClickArea Icon 
            var GV_Width = 120;
            var GV_Height = 120;
            //The dimensions of the PofS 
            var GV_ImageWidth;
            var GV_ImageHeight;
            //The image ratio CurrentSize / OriginalSize 
            var GV_ImageRatio = 1;
            //The jQuery object of the chosen ClickArea 
            var GO_ClickArea;
            //The Type of the chosen ClickArea 
            var GV_ClickAreaType = 'Default';
            //Is there a collision of the current ClickArea with another ClickArea or is it out of the available area? 
            var GV_Collision = false;
            //Stores the parent object of the moved assortment. This is neccessary to check if the assortment is moved to another container 
            var GO_AssortmentParent;
            
            //Init Functions -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
           
            //remove the existing ClickAreas 
            removeExistingAreas();
            var GL_ExistingImageAreas = new Array();
            
            //Initialize the ClickAreas once the document is ready. This is neccessary to handle the rerenderings 
            $(document).ready(function () {
                if( GV_Initialized ){
                    //console.log( 'ready.init' );
                    init();
                }
            });
       
            //Initialize the ClickAreas once the document is loaded. This is neccessary to handle the first load of the page and make sure the images are already loaded. 
            $(window).load(function () {
                init();
                //console.log( 'load.init' );
                GV_Initialized = true;
            });
            
            //Initialize the ClickArea 
            function init(){
                    //Get the image size and compute the ratio 
                    //console.log( 'init.setSize' );
                    setImageSize();
                    //Show the available Area of the chosen ClickAreaType 
                    //console.log( 'init.setArea' );
                    setAvailableArea();
                    //Draw all existing ClickAreas 
                    //console.log( 'init.drawExistingAreas' );
                    <apex:repeat value="{!GL_Clickareas}" var="LO_ImageArea">
                        if( !GV_MoveArea || ( '{!LO_ImageArea.Id}' != '{!GO_ImageArea.Id}' ) ){
                            GO_ExistingImageArea = new ExistingImageArea( '{!LO_ImageArea.Id}', '{!LO_ImageArea.Name}', '{!LO_ImageArea.Type__c}', {!LO_ImageArea.CenterX__c}, {!LO_ImageArea.CenterY__c} );
                            GL_ExistingImageAreas.push( GO_ExistingImageArea );
                        }
                    </apex:repeat>
                    drawExistingAreas();
                    
                    if( GV_DrawNewArea == true ){
                        //Handle the creation of a new ClickArea 
                        //console.log( 'init.drawNewArea' );
                        drawNewArea( 50, 50 );
                        //console.log( '/init.drawNewArea' );
                    }else if( GV_MoveArea ){
                        //Handle the placement of an already available ClickArea 
                        //console.log( 'init.moveArea' );
                        drawNewArea( {!if( GO_ImageArea.CenterX__c != null, GO_ImageArea.CenterX__c, 50 )}, {!if( GO_ImageArea.CenterY__c != null, GO_ImageArea.CenterY__c, 50 )} );
                        //console.log( '/init.moveArea' );
                    }else{
                        //console.log( 'init.hideArea' );
                        hideArea();
                        //console.log( 'init./hideArea' );
                    }
                    //Make the ClickArea Attributes Popup draggable 
                    //console.log( 'init.makeDraggable' );
                    $('#DIV_Area1_ImageAreaAttributes').draggable({
                        handle: "[id$='PB_ImageAreaAttributes']",
                        start: function() {
                            if ($(this).data("scrolled")) {
                                $(this).data("scrolled", false).trigger("mouseup");
                                return false;
                            }
                        }
                    });
                    //Deselect the chosen ClickArea if the background image is clicked 
                    //console.log( 'init.enabaleBackgroundClick' );
                    $('#image').click(
                            function(){
                                    if( !GV_DrawNewArea ){
                                        $('#' + GV_ChosenImageArea).addClass( 'image_area_box' ).removeClass( 'image_area_box_highlight' );
                                        GV_ChosenImageArea = null;
                                        hideClickAreaSettings();
                                        GV_ClickAreaType = 'Default';
                                        setAvailableArea();
                                    }
                                }
                    )
                    $('#DIV_Image_AvailableArea').click(
                            function(){
                                    if( !GV_DrawNewArea ){
                                        $('#' + GV_ChosenImageArea).addClass( 'image_area_box' ).removeClass( 'image_area_box_highlight' );
                                        GV_ChosenImageArea = null;
                                        hideClickAreaSettings();
                                        GV_ClickAreaType = 'Default';
                                        setAvailableArea();
                                    }
                                }
                    )
                    //Redraw the available area if a PageBlockSection is collapsed 
                    //console.log( 'init.enableCollapse' );
                    $( '.pbSubheader' ).click(
                        function(){
                            setAvailableArea();
                        }
                    );
                    //console.log( 'init.makeUplaodWindowDraggable' );
                    $( '#DIV_ImageAreaAttributes_Upload' ).draggable();
                    //console.log( '/init' );
            }
       
            //Set the image size and compute the ratio 
            function setImageSize(){
                //console.log( 'setImageSize.start' );
                GV_ImageWidth = $( '#image' ).width();
                GV_ImageHeight = $( '#image' ).height();
                //console.log( 'ImageWidth: ' + GV_ImageWidth + ', ImageWidth: ' + GV_ImageWidth );
                GO_NaturalSize = getNaturalSize( 'image' );
                //console.log( 'NaturalImageWidth: ' + GO_NaturalSize.width );
                GV_ImageRatio = GV_ImageWidth / GO_NaturalSize.width;
                //console.log( 'setImageSize.start' );
                saveImageSize( GO_NaturalSize.width, GO_NaturalSize.height );
            }
       
            //Get the original image size 
            function getNaturalSize ( LO_Element ) {
                //var img = new Image();
                //img.src = $( '#' + LO_Element ).attr( 'src' );
                //return { width: img.width, height: img.height };
                
                var LV_NaturalWidth = $( '#' + LO_Element )[0].naturalWidth;
                var LV_NaturalHeight = $( '#' + LO_Element )[0].naturalHeight;
                return { width: LV_NaturalWidth, height: LV_NaturalWidth };
            }
       
            //ClickArea Functions -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
            //Set the available area for the current ClickArea type 
            function setAvailableArea(){
                //Get the area coordinates 
                var LV_X = ( ( GM_ClickAreaTypes[ GV_ClickAreaType ].X1 / 100 * GV_ImageWidth ) - 5 - ( GV_Width / 2 ) * GV_ImageRatio );
                if( LV_X < 0 ){
                    LV_X = -5;
                }
                var LV_Y = ( ( GM_ClickAreaTypes[ GV_ClickAreaType ].Y1 / 100 * GV_ImageHeight ) - 5 - ( GV_Width / 2 ) * GV_ImageRatio );
                 if( LV_Y < 0 ){
                    LV_Y = -5;
                }
                //Set the coordinates 
                $( '#DIV_Image_AvailableArea' ).position( {
                    at: "left+" + LV_X + " top+" + LV_Y,
                    my: "left top",
                    of: $( '#image' ),
                    collision: 'none'
                });
                //Get the area dimensions 
                var LV_Width = ( GM_ClickAreaTypes[ GV_ClickAreaType ].X2 - GM_ClickAreaTypes[ GV_ClickAreaType ].X1 ) / 100 * GV_ImageWidth + ( GV_Width ) * GV_ImageRatio;
                if( LV_X + LV_Width > GV_ImageWidth ){
                    LV_Width = GV_ImageWidth - LV_X;
                }
                var LV_Height = ( GM_ClickAreaTypes[ GV_ClickAreaType ].Y2 - GM_ClickAreaTypes[ GV_ClickAreaType ].Y1 ) / 100 * GV_ImageHeight + ( GV_Width ) * GV_ImageRatio;
                if( LV_Y + LV_Height > GV_ImageHeight ){
                    LV_Height = GV_ImageHeight - LV_Y;
                }
                //Set the area dimensions 
                $( '#DIV_Image_AvailableArea' ).width( LV_Width );
                $( '#DIV_Image_AvailableArea' ).height( LV_Height );

            }
       
            //Handle the new area creation 
            function drawNewArea ( PV_X, PV_Y) {
                if( GV_ImageArea == null ){
                    //console.log( 'drawNewArea.start' );
                    var LV_Width = GV_Width * GV_ImageRatio;
                    var LV_Height= GV_Width * GV_ImageRatio;
                    var LV_X = ( PV_X / 100 * GV_ImageWidth ) - ( LV_Width / 2 );
                    var LV_Y = ( PV_Y / 100 * GV_ImageHeight ) - ( LV_Height / 2 );
                    //console.log( 'Ratio: ' + GV_ImageRatio );
                    //console.log( 'X: ' + LV_X + ', Y: ' + LV_Y + ', Width: ' + LV_Width + ', Height: ' + LV_Height );
                    GV_ImageArea = $('#image').imgAreaSelect({
                        instance: true,
                        persistent: true,
                        handles: false,
                        enable: true,
                        resizable: false,
                        onSelectChange: function (img, selection) {
                            transparentizeClickAreaSettings();
                            var LV_X = selection.x1 + ( GV_Width / 2 ) * GV_ImageRatio;
                            var LV_Y = selection.y1 + ( GV_Height / 2 ) * GV_ImageRatio;
                            checkCollision( LV_X, LV_Y );
                            
                            $("#DIV_Area1_ImageAreaAttributes").position({
                                 my: "left top",
                                 of: $( '.imgareaselect-selection' ),
                                 my: "left+65 top-50",
                                 collision: "flip fit"
                            });
                        },
                        onSelectEnd: function ( LO_Image, LO_Selection ){
                            untransparentizeClickAreaSettings();
                        },
                        x1: LV_X,
                        y1: LV_Y,
                        x2: LV_X + LV_Width,
                        y2: LV_Y + LV_Height,
                        zIndex: 6
                    });
                    $( '.imgareaselect-selection' ).css( 'background-size', Math.floor( GV_Width * GV_ImageRatio ) + 'px ' + Math.floor( GV_Width * GV_ImageRatio ) + 'px ' );
                    checkCollision( LV_X + ( LV_Width / 2 ), LV_Y + ( LV_Height / 2 ) );
                    showClickAreaSettings();
                    $("#DIV_Area1_ImageAreaAttributes").position({
                                 my: "left top",
                                 of: $( '.imgareaselect-selection' ),
                                 my: "left+65 top-50",
                                 collision: "flip fit"
                    });
                    //console.log( 'drawNewArea.stop' );
                }else{
                    //console.log( 'drawNewArea.NULL' );
                }
            }

            //Draw the existing ClickAreas 
            function drawExistingAreas(){
                for( var i = 0; i < GL_ExistingImageAreas.length; i++ ){
                    GL_ExistingImageAreas[ i ].attachToImage();
                }
            }

            //Remove the existing ClickArea 
            function removeExistingAreas(){
                for( var i = 0; i < GL_ExistingImageAreas.length; i++ ){
                    $( '#' + GL_ExistingImageAreas[ i ].LV_Id ).remove();
                    $( '#desc_' + GL_ExistingImageAreas[ i ].LV_Id ).remove();
                }
            }
                
            //Remove the New ClickAres selection 
            function hideArea () {
                $('#image').imgAreaSelect({
                    remove: true
                });
                GV_ImageArea = null;
            }
            
            //Save the ClckArea if there is no collision 
            function saveNewArea(){
                if( !GV_Collision ){
                    saveArea(GV_X_Rel, GV_Y_Rel);
                }else{
                    alert( 'The area can not be saved because it intersects with another one.' );
                }
            }
            
            //Display the ClickArea Popup 
            function showClickAreaSettings(){
                $("#DIV_Area1_ImageAreaAttributes").position({
                                 my: "left top",
                                 of: GO_ClickArea,
                                 my: "left+65 top-50",
                                 collision: "flip fit"
                });
                $('#DIV_Area1_ImageAreaAttributes').css('visibility', 'visible');
                setClickAreaType( false );
            }
       
            //Hide the ClickArea Popup 
            function hideClickAreaSettings(){
                $('#DIV_Area1_ImageAreaAttributes').css('visibility', 'hidden');
            }

            //Hide the ClickArea Popup 
            function hideClickAreaSettings2(){
                $('#DIV_Area1_ImageAreaAttributes').css('visibility', 'hidden');
                GV_ChosenImageArea = null;
            }
       
            // Make the ClickArea Popup transparent 
            function transparentizeClickAreaSettings(){
                $('#DIV_Area1_ImageAreaAttributes').css({ 'opacity' : 0.5 });
            }

            //Make the ClickArea Popup untransparent 
            function untransparentizeClickAreaSettings(){
                $('#DIV_Area1_ImageAreaAttributes').css({ 'opacity' : 1 });
            }
              
            //Class that handles the display of ImageAreas 
            function ExistingImageArea( PV_Id, PV_Name, PV_IconType, PV_X, PV_Y ){
                this.LV_Id = PV_Id;
                this.LV_Name = PV_Name;
                this.LV_IconType = PV_IconType.replace( /\s/g, '_' );;
                this.LV_Width = GV_Width * GV_ImageRatio;
                this.LV_Height= GV_Height * GV_ImageRatio;
                this.LV_X = ( PV_X / 100 * GV_ImageWidth ) - ( this.LV_Width / 2 );
                this.LV_Y = ( PV_Y / 100 * GV_ImageHeight ) - ( this.LV_Height / 2 );
 
                //Draw the ClickArea 
                this.attachToImage = function(){
                    var LV_X = this.LV_X - $('#DIV_Image').offset().left;
                    var LV_Y = this.LV_Y - $('#DIV_Image').offset().top;
                    
                    var LV_ImageAreaDiv = $('<div id="' + this.LV_Id + '" class="image_area_box image_area_box_' + this.LV_IconType + '"></div>').css(
                        {"position":"absolute","left":this.LV_X,"top":this.LV_Y,"width":this.LV_Width,"height":this.LV_Height}
                    ).on(
                        'mouseenter',
                        function(){
                            $(this).removeClass( 'image_area_box' ).addClass( 'image_area_box_highlight' );
                        }
                    ).on(
                        'mouseleave',
                        function(){
                            if( GV_ChosenImageArea != $( this ).attr( 'id' ) ){
                                $(this).addClass( 'image_area_box' ).removeClass( 'image_area_box_highlight' );
                            }
                        }
                    ).click(
                        function(){
                            if( GV_ChosenImageArea != $( this ).attr( 'id' ) ){
                                hideClickAreaSettings();
                                $('#' + GV_ChosenImageArea).addClass( 'image_area_box' ).removeClass( 'image_area_box_highlight' );
                                GV_ChosenImageArea = $( this ).attr( 'id' );
                                GO_ClickArea = $( this );
                                chooseArea( $( this ).attr( 'id' ) );
                                GV_X = $( this ).position().left + ( GV_Width / 2 ) * GV_ImageRatio;
                                GV_Y = $( this ).position().top + ( GV_Height / 2 ) * GV_ImageRatio;
                                GV_X_Rel = GV_X / GV_ImageWidth * 100;
                                GV_Y_Rel = GV_Y / GV_ImageHeight * 100;
                            }
                        }
                    );
                    $('#DIV_Image').append(LV_ImageAreaDiv);
                    //$( '.image_area_box_' + this.LV_IconType ).css( 'background-size', this.LV_Width + 'px ' + this.LV_Height + 'px ' );
                    $( '.image_area_box_' + this.LV_IconType ).css( 'background-size', 'cover' );
                    
                    var LV_ImageAreaDescriptionDiv = $('<div id="desc_' + this.LV_Id + '" class="image_area_description_box">' + this.LV_Name + '</div>').css({"position":"absolute","left":this.LV_X1,"top":this.LV_Y1 - 15,"width":100,"height":15});
                    $('#DIV_Image').append(LV_ImageAreaDescriptionDiv );
                }
            }
                    
            //Draw the available ClickArea and check for collision 
            function setClickAreaType( PV_CheckCollision ){
                GV_ClickAreaType = $( "[id$='IF_ClickAreaType']" ).val().replace( /\s/g, '_' );
                if( GV_ClickAreaType == '' ){
                    GV_ClickAreaType = 'Default';
                }
                setAvailableArea();
                if( PV_CheckCollision ){
                    checkCollision( GV_X, GV_Y );
                }else{
                    GV_Collision = false;
                }
                makeQuestionsSortable();
                makeAssortmentsSortable();
                if( GV_ClickAreaType == 'Assortment' ){
                    $('#DIV_Area1_ImageAreaAttributes').width( 900 );
                }else{
                    $('#DIV_Area1_ImageAreaAttributes').width( 600 );
                }
            }

            //Collision Functions -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
            //Is there a collision with an ClickArea or is the coordinate ouside of the available area? 
            function isCollision( PV_X, PV_Y ){
                var LV_Collision = false;
                <apex:repeat value="{!GL_Clickareas}" var="LO_ImageArea">
                    if( '{!LO_ImageArea.Id}' != GV_ChosenImageArea ){
                        if ( Math.sqrt( ( Math.pow( ( PV_X - ( {!LO_ImageArea.CenterX__c} / 100 * GV_ImageWidth ) ), 2) + Math.pow( ( PV_Y - ( {!LO_ImageArea.CenterY__c} / 100 * GV_ImageHeight ) ), 2) ) ) < GV_Width * GV_ImageRatio ){    
                            LV_Collision = true;
                        }
                    }
                </apex:repeat>
                if( ( PV_X < GM_ClickAreaTypes[ GV_ClickAreaType ].X1 / 100 * GV_ImageWidth ) || ( PV_Y < GM_ClickAreaTypes[ GV_ClickAreaType ].Y1 / 100 * GV_ImageHeight ) || ( PV_X > GM_ClickAreaTypes[ GV_ClickAreaType ].X2 / 100 * GV_ImageWidth ) || ( PV_Y > GM_ClickAreaTypes[ GV_ClickAreaType ].Y2 / 100 * GV_ImageHeight ) ){
                    LV_Collision = true;
                }
                    
                return LV_Collision;
            }
       
            //Check if there is a collision 
            function checkCollision( PV_X, PV_Y ){
                    if( !isCollision( PV_X, PV_Y ) ){
                        GV_X = PV_X;
                        GV_Y = PV_Y;
                        GV_X_Rel = PV_X / GV_ImageWidth * 100;
                        GV_Y_Rel = PV_Y / GV_ImageHeight * 100;
                        hideCollision();
                    }else{
                        GV_X = PV_X;
                        GV_Y = PV_Y;
                        GV_X_Rel = PV_X / GV_ImageWidth * 100;
                        GV_Y_Rel = PV_Y / GV_ImageHeight * 100;
                        showCollision();
                    }   
            }
       
            //Show the collision icon 
            function showCollision(){
                if ( !GV_Collision ){
                    $('.imgareaselect-selection').css("background-image", "url('{!GO_DocumentController.GV_DocumentURL}{!GM_ClickAreaTypes[ 'NewCross' ].Icon__c}')");
                    GV_Collision = true;
                }
            }

            //Hide the collision icon 
            function hideCollision(){
                if ( GV_Collision ){
                    $('.imgareaselect-selection').css("background-image", "url('{!GO_DocumentController.GV_DocumentURL}{!GM_ClickAreaTypes[ 'NewCheck' ].Icon__c}')");
                    GV_Collision = false;
                }
            }
            
            //Question Functions -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
            //Make the questions sortable 
            function makeQuestionsSortable(){
                $( "[id$='PBS_ImageAreaQuestions'] .pbSubsection .detailList tbody tr td:nth-child(1) span" ).addClass( "ui-icon ui-icon-arrowthick-2-n-s" );
                $( "[id$='PBS_ImageAreaQuestions'] .pbSubsection .detailList tbody tr:not(:nth-child(1), :nth-child(2))" ).addClass( "question-row" );
                $( "[id$='PBS_ImageAreaQuestions'] .pbSubsection .detailList tbody" ).sortable({
                        axis: "y", 
                        items: "> tr:not(:nth-child(1), :nth-child(2), :nth-last-child(1), :nth-last-child(2), :nth-last-child(3))", 
                        containment: "parent", 
                        placeholder: "sortable-placeholder",
                        opacity: 1, 
                        helper: "clone",
                        start: function( e, ui ){
                            ui.placeholder.height(ui.item.height());
                        },
                        stop: function( e, ui ){
                            var LV_OldClickAreaQuestionRowNumber = ui.item.find( ">:first-child span span" ).attr( "data-question-rownumber" );
                            var LV_NewClickAreaQuestionRowNumber = ui.item.index() - 1;
                            changeQuestionOrder( LV_OldClickAreaQuestionRowNumber, LV_NewClickAreaQuestionRowNumber );
                        }
                    });
            }

            // Assortment Functions -------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
            //Make the Assortments sorable 
            function makeAssortmentsSortable(){
                $( "[id$='PBS_Assortments'] .pbSubsection" ).addClass( "assortment-control-container" );
                $( "[id$='PBS_Assortments'] .pbSubsection .detailList tbody tr td:nth-child(1) span" ).addClass( "ui-icon ui-icon-arrowthick-2-n-s" );
                $( "[id$='PBS_Assortments'] .pbSubsection .detailList tbody tr:not(:nth-child(1), :nth-child(2))" ).addClass( "question-row" );
                $( "[id$='PBS_Assortments'] .pbSubsection .detailList tbody" ).sortable({
                        items: "> tr:not(:nth-child(1), :nth-child(2), :nth-last-child(1), :nth-last-child(2), :nth-last-child(3))", 
                        placeholder: "sortable-placeholder",
                        opacity: 1, 
                        helper: "clone",
                        connectWith: "[id$='PBS_AssortmentProducts'] .pbSubsection .detailList tbody",
                        start: function( e, ui ){
                            ui.placeholder.height(ui.item.height());
                            GO_AssortmentParent = ui.item.parent();
                        },
                        receive: function( e, ui ){
                            var LV_OldAssortmentRowNumber = ui.item.find( ">:first-child span span" ).attr( "data-question-rownumber" );
                            var LV_NewAssortmentRowNumber = ui.item.index() - 1;
                            newAssortment( LV_OldAssortmentRowNumber, LV_NewAssortmentRowNumber );
                        },
                        stop: function( e, ui ){
                            if( GO_AssortmentParent.get( 0 ) === ui.item.parent().get( 0 ) ){
                                var LV_OldAssortmentRowNumber = ui.item.find( ">:first-child span span" ).attr( "data-question-rownumber" );
                                var LV_NewAssortmentRowNumber = ui.item.index() - 1;
                                changeAssortmentOrder( LV_OldAssortmentRowNumber, LV_NewAssortmentRowNumber );
                            }
                        }
                });
                
                $( "[id$='PBS_AssortmentProducts'] .pbSubsection" ).addClass( "assortment-control-container" );
                $( "[id$='PBS_AssortmentProducts'] .pbSubsection .detailList tbody tr td:nth-child(1) span" ).addClass( "ui-icon ui-icon-arrowthick-2-n-s" );
                $( "[id$='PBS_AssortmentProducts'] .pbSubsection .detailList tbody tr:not(:nth-child(1), :nth-child(2))" ).addClass( "question-row" );
                $( "[id$='PBS_AssortmentProducts'] .pbSubsection .detailList tbody" ).sortable({
                        items: "> tr:not(:nth-child(1), :nth-child(2), :nth-last-child(1), :nth-last-child(2), :nth-last-child(3))", 
                        placeholder: "sortable-placeholder",
                        opacity: 1, 
                        helper: "clone",
                        connectWith: "[id$='PBS_Assortments'] .pbSubsection .detailList tbody",
                        start: function( e, ui ){
                            ui.placeholder.height(ui.item.height());
                        },
                        receive: function( e, ui ){
                            var LV_OldAssortmentRowNumber = ui.item.find( ">:first-child span span" ).attr( "data-question-rownumber" );
                            var LV_NewAssortmentRowNumber = ui.item.index() - 1;
                            deleteAssortment( LV_OldAssortmentRowNumber );
                        }
                });
                $( "[id$='PBS_Assortments'] .pbSubsection, [id$='PBS_AssortmentProducts'] .pbSubsection" ).scroll(function() {
                        $('#DIV_Area1_ImageAreaAttributes').data("scrolled", true);

                });
            }
                
                    
            //Eanable sortables
            function enableSortables(){
                makeQuestionsSortable();
                makeAssortmentsSortable();
            }
                        
       </script>
   </apex:outputPanel>
   
   <p />
   <!-- The popup view for a ClickArea -->
   <apex:form >
        <div id="DIV_Area1_ImageAreaAttributes" class="red" style="position: absolute; z-index: 10; visibility: hidden; width: 900px; height: 600px; overflow: auto; background-color: #f8f8f8; border-radius: 5px; border: 2px solid #B81321">
            <apex:pageBlock id="PB_ImageAreaAttributes">
                <!-- Header Buttons -->
                <apex:outputPanel id="OP_Buttons_ImageAreaAttributes" layout="block" styleClass="button_bar">
                       <apex:commandButton id="CB_SaveArea" value="{!$Label.fsfa_save}" onclick="saveNewArea(); return false;" status="AS_Status" />
                       <apex:commandButton id="CB_MoveArea" value="{!$Label.fsfa_move}" action="{!moveArea}" rendered="{!!GV_MoveArea}" rerender="Scripts, OP_Buttons_ImageAreaAttributes, OP_Buttons_ImageAreaAttributesBottom" status="AS_Status" />
                       <apex:commandButton id="CB_CancelArea" value="{!$Label.fsfa_close}" action="{!cancelArea}" rerender="Scripts, OP_Buttons_ImageAreaAttributes, OP_Buttons_ImageAreaAttributesBottom, OP_Area1_ImageAreaAttributes" oncomplete="hideClickAreaSettings2()" immediate="true" status="AS_Status" />
                       <apex:commandButton id="CB_DeleteArea" value="{!$Label.fsfa_delete}" action="{!deleteArea}" rendered="{!GV_EditArea && !GV_DrawNewArea}" rerender="Scripts, OP_Buttons_ImageAreaAttributes, OP_Buttons_ImageAreaAttributesBottom, OP_Area1_ImageAreaAttributes" oncomplete="hideClickAreaSettings2()" immediate="true" status="AS_Status" />
                </apex:outputPanel>
                <!-- /Header Buttons -->
                <apex:outputPanel id="OP_Area1_ImageAreaAttributes" styleClass="red">
                    <apex:pageMessages />
                    <!-- Header Attributes -->      
                    <apex:pageblockSection id="PBS_ImageAreaType" columns="1" title="{!$Label.fsfa_clickAreaType}" rendered="{!GV_EditArea}" showHeader="true">
                        <apex:inputField id="IF_ClickAreaType" value="{!GO_ImageArea.Type__c}" required="true">
                            <apex:actionSupport event="onchange" action="{!changeClickAreaType}" oncomplete="setClickAreaType( true )" rerender="OP_Area1_ImageAreaAttributes" status="AS_Status" />
                        </apex:inputField>
                    </apex:pageblockSection>
                    <apex:actionRegion >
                        <apex:outputPanel id="OP_ImageAreaAttributes">
                        <apex:pageblockSection id="PBS_ImageAreaAttributes" columns="1" title="{!$Label.fsfa_Setting}" rendered="{!GV_EditArea}" showHeader="true">
                            <apex:repeat value="{!$ObjectType.PofSClickarea__c.FieldSets[ SUBSTITUTE( GO_ImageArea.Type__c, ' ', '_' ) ]}" var="LO_Question">
                                <apex:inputField value="{!GO_ImageArea[ LO_Question ]}" required="{!LO_Question.required}" rendered="{!LO_Question.Label != 'Picture'}" />
                                <apex:pageBlockSectionItem rendered="{!LO_Question.Label == 'Picture'}">
                                    <apex:outputLabel value="{!LO_Question.Label}" for="SB_ImageAreaAttributes" rendered="{!LO_Question.Label == 'Picture'}" />
                                    
                                    <apex:selectList id="SB_ImageAreaAttributes" value="{!GO_ImageArea[ LO_Question ]}" size="1" rendered="{!LO_Question.Label == 'Picture'}">
                                        <apex:selectOptions value="{!GO_DocumentController.GL_ClickAreaQuestions}">
                                        </apex:selectOptions>
                                        <apex:actionSupport event="onchange" reRender="PBS_ImageAreaAttributes" status="AS_Status" />
                                    </apex:selectList>
                                    
                                </apex:pageBlockSectionItem>
                                <apex:pageBlockSectionItem rendered="{!LO_Question.Label == 'Picture'}">
                                    <apex:outputLabel value="" rendered="{!LO_Question.Label == 'Picture'}" />
                                    <apex:commandButton ID="BTN_ImageAreaAttributes_Upload" value="{!$Label.fsfa_uploadNewPicture}" action="{!Dummy}" rendered="{!LO_Question.Label == 'Picture'}" reRender="DIV_ImageAreaAttributes_Upload" onclick="showUploadWindow()" />
                                </apex:pageBlockSectionItem>
                                <apex:pageBlockSectionItem rendered="{!LO_Question.Label == 'Picture'}">
                                    <apex:outputLabel value="" for="IMG_ImageAreaAttributes" rendered="{!LO_Question.Label == 'Picture'}" />
                                    <apex:image id="IMG_ImageAreaAttributes" styleClass="img_click_area" value="{!GO_DocumentController.GV_DocumentURL}{!GO_ImageArea[ LO_Question ]}" rendered="{!( LO_Question.Label == 'Picture' ) && ( GO_ImageArea[ LO_Question ] != '000000000000000' )}" />
                                </apex:pageBlockSectionItem>
                            </apex:repeat>
                        </apex:pageblockSection>
                        </apex:outputPanel>
                    </apex:actionRegion>
                    <!-- /Header Attributes -->
                    <!-- Questions -->
                    <apex:outputPanel id="OP_ImageAreaQuestions">
                    <apex:pageblockSection id="PBS_ImageAreaQuestions" columns="5" title="{!$Label.fsfa_clickAreaQuestions}" rendered="{!GV_EditArea}" showHeader="true">
                        <apex:outputPanel id="OP_ImageAreaQuestionButtons" layout="block" styleclass="button_bar" >
                            <apex:commandButton value="{!$Label.fsfa_new}" action="{!newQuestion}" rerender="OP_Area1_ImageAreaAttributes" onComplete="enableSortables()" rendered="{!GV_RemainingQuestions > 0}" status="AS_Status" />
                        </apex:outputPanel>
                        <apex:outputText ></apex:outputText>
                        <apex:outputText ></apex:outputText>
                        <apex:outputText ></apex:outputText>
                        <apex:outputText ></apex:outputText>
                        <apex:outputText ></apex:outputText>
                        <apex:outputText style="font-weight: bold"><b>{!$Label.fsfa_Action}</b></apex:outputText>
                        <apex:outputText style="font-weight: bold"><b>{!$Label.fsfa_questionType}</b></apex:outputText>
                        <apex:outputText style="font-weight: bold"><b>{!$Label.fsfa_questionName}</b></apex:outputText>
                        <apex:outputText style="font-weight: bold"><b>{!$Label.fsfa_questionPotential}</b></apex:outputText>
                        <apex:repeat value="{!GM_ClickAreaQuestions}" var="LO_ClickAreaQuestionId">
                                <apex:outputPanel ><span data-question-rownumber="{!GM_ClickAreaQuestions[ LO_ClickAreaQuestionId ].RowNumber__c}"></span></apex:outputPanel>
                                <apex:commandLink value="{!$Label.fsfa_delete}" action="{!deleteQuestion}" rerender="OP_ImageAreaQuestions" onComplete="enableSortables()" status="AS_Status" immediate="true">
                                    <apex:param id="deleteQuestion_P1" name="deleteQuestion_P1" value="{!GM_ClickAreaQuestions[ LO_ClickAreaQuestionId ].RowNumber__c}" assignTo="{!GV_ClickAreaQuestionRowNumber}"/>
                                </apex:commandLink>             
                                <apex:inputField value="{!GM_ClickAreaQuestions[ LO_ClickAreaQuestionId ].Type__c}" label="" required="true"/>
                                <apex:inputField value="{!GM_ClickAreaQuestions[ LO_ClickAreaQuestionId ].Name}" label="" required="true"/>
                                <apex:inputField value="{!GM_ClickAreaQuestions[ LO_ClickAreaQuestionId ].Potential_hint__c}" label="" required="true"/>
                        </apex:repeat>
                        <apex:outputText >&nbsp;</apex:outputText>
                        <apex:outputText ></apex:outputText>
                        <apex:outputText ></apex:outputText>
                        <apex:outputText ></apex:outputText>
                        <apex:outputText ></apex:outputText>
                        <apex:outputText >&nbsp;</apex:outputText>
                        <apex:outputText ></apex:outputText>
                        <apex:outputText ></apex:outputText>
                        <apex:outputText ></apex:outputText>
                        <apex:outputText ></apex:outputText>
                        <apex:outputText >&nbsp;</apex:outputText>
                        <apex:outputText ></apex:outputText>
                        <apex:outputText ></apex:outputText>
                        <apex:outputText ></apex:outputText>
                        <apex:outputText ></apex:outputText>
                    </apex:pageblockSection>
                    </apex:outputPanel>
                    <!-- /Questions -->
                    <!-- Assortments -->
                    <div>
                        <apex:outputPanel id="OP_AssortmentProductFilter">
                            <apex:pageblockSection columns="{!GL_FilterFields.size}" title="{!$Label.fsfa_clickAreaAssortmentFilter}" rendered="{!( GV_EditArea ) && ( GO_ImageArea.Type__c == 'Assortment' )}" showHeader="true">
                                <apex:repeat value="{!GM_AssortmentProductFilters}" var="GV_AssortmentProductFilter">
                                    <apex:outputLabel value="{!GM_AssortmentProductFilterLabels[GV_AssortmentProductFilter]}" style="font-weight: bold;"></apex:outputLabel>
                                </apex:repeat>
                                <apex:repeat value="{!GM_AssortmentProductFilters}" var="GV_AssortmentProductFilter">
                                    <apex:selectList value="{!GM_AssortmentProductFilterValues[GV_AssortmentProductFilter]}" size="1">
                                        <apex:selectOptions value="{!GM_AssortmentProductFilters[GV_AssortmentProductFilter]}">
                                            
                                        </apex:selectOptions>
                                        <apex:actionSupport event="onchange" reRender="OP_Area1_ImageAreaAttributes" onComplete="makeAssortmentsSortable();" status="AS_Status"></apex:actionSupport>
                                    </apex:selectList>
                                </apex:repeat>
                            </apex:pageblockSection>
                        </apex:outputPanel>
                        
                        <table style="width: 100%">
                            <tr>
                                <td style="vertical-align: top">
                                    <div style="">
                                    <apex:outputPanel id="OP_Assortments">
                                    <apex:pageblockSection id="PBS_Assortments" columns="5" title="{!$Label.fsfa_clickAreaAssortment}" rendered="{!( GV_EditArea ) && ( GO_ImageArea.Type__c == 'Assortment' )}" showHeader="true">
                                        <apex:outputText ></apex:outputText>
                                        <apex:outputText ></apex:outputText>
                                        <apex:outputText ></apex:outputText>
                                        <apex:outputText ></apex:outputText>
                                        <apex:outputText ></apex:outputText>
                                        <apex:outputText ></apex:outputText>
                                        <apex:outputText style="font-weight: bold"><b>Name</b></apex:outputText>
                                        <apex:outputText style="font-weight: bold"><b>Manual Survey</b></apex:outputText>
                                        <apex:outputText style="font-weight: bold"><b>{!GO_Image.ReplacementsInSurvey__c}</b></apex:outputText>
                                        <apex:outputText style="font-weight: bold"><b>Preview</b></apex:outputText>
                                        <apex:repeat value="{!GM_Assortments}" var="LO_AssortmentId">
                                                <apex:outputPanel ><span data-question-rownumber="{!GM_Assortments[ LO_AssortmentId ].RowNumber__c}"></span></apex:outputPanel>
                                                <apex:outputField value="{!GM_Assortments[ LO_AssortmentId ].ArticleGroupRelation__c}" label=""/>
                                                <apex:inputField value="{!GM_Assortments[ LO_AssortmentId ].ManualSurvey__c}" label=""/>
                                                <apex:inputField value="{!GM_Assortments[ LO_AssortmentId ].HasReplacementArticle__c}" label=""/>
                                                <apex:image url="/servlet/servlet.FileDownload?file={!GM_Assortments[ LO_AssortmentId ].ArticleGroupRelation__r.Picture__c}" width="50" height="50"></apex:image>
                                                <!--<apex:inputField value="{!GM_Assortments[ LO_AssortmentId ].Picture__c}" label=""/>-->
                                        </apex:repeat>
                                        <apex:outputText rendered="{!GV_AssortmentsCount > 0}" >&nbsp;</apex:outputText>
                                        <apex:outputText rendered="{!GV_AssortmentsCount > 0}" ></apex:outputText>
                                        <apex:outputText rendered="{!GV_AssortmentsCount > 0}" ></apex:outputText>
                                        <apex:outputText rendered="{!GV_AssortmentsCount > 0}" ></apex:outputText>
                                        <apex:outputText rendered="{!GV_AssortmentsCount > 0}" ></apex:outputText>
                                        <apex:outputText rendered="{!GV_AssortmentsCount > 0}" >&nbsp;</apex:outputText>
                                        <apex:outputText rendered="{!GV_AssortmentsCount > 0}" ></apex:outputText>
                                        <apex:outputText rendered="{!GV_AssortmentsCount > 0}" ></apex:outputText>
                                        <apex:outputText rendered="{!GV_AssortmentsCount > 0}" ></apex:outputText>
                                        <apex:outputText rendered="{!GV_AssortmentsCount > 0}" ></apex:outputText>
                                        <apex:outputText rendered="{!GV_AssortmentsCount > 0}" >&nbsp;</apex:outputText>
                                        <apex:outputText rendered="{!GV_AssortmentsCount > 0}" ></apex:outputText>
                                        <apex:outputText rendered="{!GV_AssortmentsCount > 0}" ></apex:outputText>
                                        <apex:outputText rendered="{!GV_AssortmentsCount > 0}" ></apex:outputText>
                                        <apex:outputText rendered="{!GV_AssortmentsCount > 0}" ></apex:outputText>
                                    </apex:pageblockSection>
                                    </apex:outputPanel>
                                </div>
                                </td>
                                <td style="vertical-align: top">
                                    <div style="">
                                    <apex:outputPanel id="OP_AssortmentProducts">
                                    <apex:pageblockSection id="PBS_AssortmentProducts" columns="5" title="{!$Label.fsfa_clickAreaArticle}" rendered="{!( GV_EditArea ) && ( GO_ImageArea.Type__c == 'Assortment' )}" showHeader="true">
                                        <apex:outputText ></apex:outputText>
                                        <apex:outputText ></apex:outputText>
                                        <apex:outputText ></apex:outputText>
                                        <apex:outputText ></apex:outputText>
                                        <apex:outputText ></apex:outputText>
                                        <apex:outputText ></apex:outputText>
                                        <apex:outputText style="font-weight: bold"><b>Name</b></apex:outputText>
                                        <apex:outputText style="font-weight: bold"><b>Package</b></apex:outputText>
                                        <apex:outputText style="font-weight: bold"><b>Size</b></apex:outputText>
                                        <apex:outputText style="font-weight: bold"><b>Preview</b></apex:outputText>
                                        <apex:repeat value="{!GM_AssortmentProducts}" var="LO_AssortmentProductId">
                                                <apex:outputPanel ><span data-question-rownumber="{!GM_AssortmentProducts[ LO_AssortmentProductId ].Id}"></span></apex:outputPanel>
                                                <apex:outputField value="{!GM_AssortmentProducts[ LO_AssortmentProductId ].Name}" label=""/>
                                                <apex:outputField value="{!GM_AssortmentProducts[ LO_AssortmentProductId ].KindOfPackage__c}" label=""/>
                                                <apex:outputField value="{!GM_AssortmentProducts[ LO_AssortmentProductId ].Packaging_Size__c}" label=""/>
                                                <apex:inputField value="{!GM_AssortmentProducts[ LO_AssortmentProductId ].Preview__c}" label=""/>
                                        </apex:repeat>
                                        <apex:outputText >&nbsp;</apex:outputText>
                                        <apex:outputText ></apex:outputText>
                                        <apex:outputText ></apex:outputText>
                                        <apex:outputText ></apex:outputText>
                                        <apex:outputText ></apex:outputText>
                                        <apex:outputText >&nbsp;</apex:outputText>
                                        <apex:outputText ></apex:outputText>
                                        <apex:outputText ></apex:outputText>
                                        <apex:outputText ></apex:outputText>
                                        <apex:outputText ></apex:outputText>
                                        <apex:outputText >&nbsp;</apex:outputText>
                                        <apex:outputText ></apex:outputText>
                                        <apex:outputText ></apex:outputText>
                                        <apex:outputText ></apex:outputText>
                                        <apex:outputText ></apex:outputText>
                                    </apex:pageblockSection>
                                    </apex:outputPanel>
                                    </div>
                                </td>
                            </tr>
                        </table>
                        
                    </div>
                    <!-- /Assortments -->
                </apex:outputPanel>
                <!-- Bottom Buttons -->
                <apex:outputPanel id="OP_Buttons_ImageAreaAttributesBottom" layout="block" styleClass="button_bar">
                       <apex:commandButton id="CB_SaveAreaBottom" value="{!$Label.fsfa_save}" onclick="saveNewArea(); return false;" status="AS_Status" />
                       <apex:commandButton id="CB_MoveAreaBottom" value="{!$Label.fsfa_move}" action="{!moveArea}" rendered="{!!GV_MoveArea}" rerender="Scripts, OP_Buttons_ImageAreaAttributes, OP_Buttons_ImageAreaAttributesBottom" status="AS_Status" />
                       <apex:commandButton id="CB_CancelAreaBottom" value="{!$Label.fsfa_close}" action="{!cancelArea}" rerender="Scripts, OP_Buttons_ImageAreaAttributes, OP_Buttons_ImageAreaAttributesBottom, OP_Area1_ImageAreaAttributes" oncomplete="hideClickAreaSettings2()" immediate="true" status="AS_Status" />
                       <apex:commandButton id="CB_DeleteAreaBottom" value="{!$Label.fsfa_delete}" action="{!deleteArea}" rendered="{!GV_EditArea && !GV_DrawNewArea}" rerender="Scripts, OP_Buttons_ImageAreaAttributes, OP_Buttons_ImageAreaAttributesBottom, OP_Area1_ImageAreaAttributes" oncomplete="hideClickAreaSettings2()" immediate="true" status="AS_Status" />
                </apex:outputPanel>
                <!-- /Bottom Buttons -->
            </apex:pageBlock>
        </div>
    
		<!-- Error message if no image is attached -->
        <apex:outputPanel rendered="{!GO_Image.Picture__c == ''}">
        	<apex:outputText >There is no Image attached.</apex:outputText>
        </apex:outputPanel>
        <!-- /Error message if no image is attached -->
           
           <!-- PofS Imge -->
           <apex:outputPanel styleClass="red">
               <apex:pageblockSection id="PBS_Image" title="Areas" showHeader="true" columns="1" rendered="{!GO_Image.Picture__c != ''}">
                   <apex:outputPanel id="OP_Buttons_Image" layout="block" styleClass="button_bar">
                       <apex:commandButton id="CB_DrawNewArea" value="{!$Label.fsfa_drawNewArea}" action="{!drawNewArea}" rendered="{!GO_Image.Picture__c != ''}" rerender="Scripts, OP_Buttons_ImageAreaAttributes, OP_Buttons_ImageAreaAttributesBottom, OP_Area1_ImageAreaAttributes" immediate="true" />
                   </apex:outputPanel>
                   <div id="DIV_Image">
                       <img id="image" src="{!GO_DocumentController.GV_DocumentURL}{!GO_Image.Picture__c}" />
                   </div>
                   <div id="DIV_Image_AvailableArea" />
               </apex:pageblockSection>
           </apex:outputPanel>
           <!-- /PofS Imge -->

           <!-- SaveArea Function -->
           <apex:actionFunction name="saveArea" action="{!saveArea}" rerender="Scripts, OP_Buttons_ImageAreaAttributes, OP_Buttons_ImageAreaAttributesBottom, OP_Area1_ImageAreaAttributes" onComplete="setClickAreaType()" status="AS_Status">
               <apex:param id="x" name="x" assignTo="{!GV_X}" value="" />
               <apex:param id="y" name="y" assignTo="{!GV_Y}" value="" />
           </apex:actionFunction>
           <!-- /SaveArea Function -->

           <!-- ChooseArea Function -->
           <apex:actionFunction name="chooseArea" action="{!chooseArea}" rerender="OP_Buttons_ImageAreaAttributes, OP_Buttons_ImageAreaAttributesBottom, OP_Area1_ImageAreaAttributes" oncomplete="showClickAreaSettings()" immediate="true" status="AS_Status">
               <apex:param id="id" name="id1" assignTo="{!GV_ImageAreaId}" value="" />
           </apex:actionFunction>
           <!-- /ChooseArea Function -->
    
           <!-- ReloadArea Function -->
           <apex:actionFunction name="reloadArea" action="{!Dummy}" reRender="OP_Area1_ImageAreaAttributes" status="AS_Status" />
           <!-- /ReloadArea Function -->
           
           <!-- changeQuestionOrder Function -->
           <apex:actionFunction name="changeQuestionOrder" action="{!changeQuestionOrder}" reRender="OP_Area1_ImageAreaAttributes" onComplete="enableSortables()" status="AS_Status" >
               <apex:param id="GV_OldClickAreaQuestionRowNumber" name="GV_OldClickAreaQuestionRowNumber" assignTo="{!GV_OldClickAreaQuestionRowNumber}" value="" />
               <apex:param id="GV_NewClickAreaQuestionRowNumber" name="GV_NewClickAreaQuestionRowNumber" assignTo="{!GV_NewClickAreaQuestionRowNumber}" value="" />
           </apex:actionFunction>
           <!-- /changeQuestionOrder Function -->
           
           <!-- newAssortment Function -->
           <apex:actionFunction name="newAssortment" action="{!newAssortment}" reRender="OP_Area1_ImageAreaAttributes" onComplete="enableSortables()" status="AS_Status" >
               <apex:param id="GV_AssortmentProductId" name="GV_AssortmentProductId" assignTo="{!GV_AssortmentProductId}" value="" />
               <apex:param id="GV_AssortmentRowNumber" name="GV_AssortmentRowNumber" assignTo="{!GV_AssortmentRowNumber}" value="" />
           </apex:actionFunction>
           <!-- /newAssortment Function -->
           
           <!-- deleteAssortment Function -->
           <apex:actionFunction name="deleteAssortment" action="{!deleteAssortment}" reRender="OP_Area1_ImageAreaAttributes" onComplete="enableSortables()" status="AS_Status" >
               <apex:param id="GV_AssortmentRowNumber2" name="GV_AssortmentRowNumber2" assignTo="{!GV_AssortmentRowNumber}" value="" />
           </apex:actionFunction>
           <!-- /deleteAssortment Function -->
           
           <!-- changeAssortmentOrder Function -->
           <apex:actionFunction name="changeAssortmentOrder" action="{!changeAssortmentOrder}" reRender="OP_Area1_ImageAreaAttributes" onComplete="enableSortables()" status="AS_Status" >
               <apex:param id="GV_OldAssortmentRowNumber" name="GV_OldAssortmentRowNumber" assignTo="{!GV_OldAssortmentRowNumber}" value="" />
               <apex:param id="GV_NewAssortmentRowNumber" name="GV_NewAssortmentRowNumber" assignTo="{!GV_NewAssortmentRowNumber}" value="" />
           </apex:actionFunction>
           <!-- /changeAssortmentOrder Function -->

           <!-- setImageSize Function -->
           <apex:actionFunction name="saveImageSize" action="{!saveImageSize}" reRender="DIV_ImageAreaAttributes_Upload" >
               <apex:param id="GV_ImageWidth" name="GV_ImageWidth" assignTo="{!GO_Image.Image_Width__c}" value="" />
               <apex:param id="GV_ImageHeight" name="GV_ImageHeight" assignTo="{!GO_Image.Image_Height__c}" value="" />
           </apex:actionFunction>
           <!-- /setImageSize Function -->
           
    </apex:form>

    <!-- Upload Popup -->
    <div id="DIV_ImageAreaAttributes_Upload" class="red" style="position: absolute; z-index: 11; visibility: visible; max-width: 300px; height: 200px; overflow: auto; background-color: #f8f8f8; border-radius: 5px; border: 2px solid #B81321">
        <apex:pageBlock id="PB_ImageAreaAttributes_Upload">
            <apex:outputPanel styleClass="red">
                <apex:pageBlockSection title="Upload new File" columns="1">
                    <apex:form target="IF_ImageAreaAttributes_Upload" >
                        <apex:inputFile id="IF_ImageAreaAttributes_Upload_InputFile" fileName="{!GO_DocumentController.GO_UploadFile.name}" value="{!GO_DocumentController.GO_UploadFile.Body}">
                        </apex:inputFile>
                        <apex:commandButton id="CB_ImageAreaAttributes_Upload_UploadButton" value="{!$Label.fsfa_upload}" action="{!GO_DocumentController.uploadClickAreaQuestion}" onclick="disableUploadButtons()" />
                    </apex:form>
                    <apex:form >
                        <apex:commandButton id="CB_ImageAreaAttributes_Upload_CloseButton" value="{!$Label.fsfa_close}" reRender="OP_Area1_ImageAreaAttributes" onClick="hideUploadWindow()" />
                        <apex:actionFunction id="AF_RefreshClickAreaQuestionImages" name="AF_RefreshClickAreaQuestionImages" action="{!refreshClickAreaQuestionImages}" reRender="OP_ImageAreaAttributes" oncomplete="setNewImage()">
                            <apex:param id="AP_NewImageName" name="AP_NewImageName" assignTo="{!GV_NewImageName}" value="" />
                        </apex:actionFunction>
                    </apex:form>
                </apex:pageBlockSection>
            </apex:outputPanel>
        </apex:pageBlock>
        <iframe id="IF_ImageAreaAttributes_Upload" name="IF_ImageAreaAttributes_Upload" style="display: none;" onload="enableUploadButtons()" />
    </div>
    <!-- /Upload Popup -->

    <!-- Modal Status Popup -->
    <apex:outputpanel >
        <apex:actionstatus id="AS_Status">
            <apex:facet name="start">
                <div>
                    <div class="popup-background" />
                    <div class="popup-panel">
                        <table border="0" width="100%" height="100%">
                            <tr>
                                <td align="center"><b>{!$Label.fsfa_wait}</b></td>
                            </tr>
                            <tr>
                                <td align="center"><img src="/img/loading.gif"/></td>
                            </tr>
                        </table>
                    </div>
                </div> 
            </apex:facet>
        </apex:actionstatus>
    </apex:outputpanel>
    <!-- /Modal Status Popup -->
    
</apex:component>