<apex:component controller="PofSDeviceModelController" allowDML="true" id="COMP_PofS_DeviceModelComponent" > 
    <!-- PofS Id Attribute -->
    <apex:attribute name="PofSId" description="The Id of the PofS record" type="ID" required="true" assignTo="{!PofS_Id}" />
    
    <!-- External Style Sheets -------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
    <apex:stylesheet value="{!URLFOR($Resource.ImageArea, 'jquery.imgareaselect-0.9.10/css/imgareaselect-default.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.JQueryUI, 'jquery-ui-1.10.3.custom/css/ui-lightness/jquery-ui-1.10.3.custom.min.css')}"/>
    <!-- jQuery ----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- -->
    <apex:includeScript value="{!URLFOR($Resource.ImageArea, 'jquery.imgareaselect-0.9.10/scripts/jquery.min.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.ImageArea, 'jquery.imgareaselect-0.9.10/scripts/jquery.imgareaselect.pack.js')}"/>
    <apex:includeScript value="{!URLFOR($Resource.JQueryUI, 'jquery-ui-1.10.3.custom/js/jquery-ui-1.10.3.custom.min.js')}"/>
    
   	<apex:outputPanel id="Scripts">
    	<script type="text/javascript">
    		var htmlDivId = '#DIV_PofS_DeviceModel';
        	function showClickNewPofSDevice() {
        		$(htmlDivId).css('visibility', 'visible');
        		$(htmlDivId).draggable();
        	}    
        	
        	function hideClickNewPofSDevice() {
        		$(htmlDivId).css('visibility', 'hidden');
        	}
        	/*
        	function SaveNewPofSDeviceModel() {
        		// Is a Validation needed?
        		savePofSDeviceModel({!PofSDeviceLookup.DeviceModel__c});
        	}
			*/
	
       	</script>
   	</apex:outputPanel>
        
    <!-- Popup view for new device -->
    <apex:form >
        <div id="DIV_PofS_DeviceModel" class="red" style="position: absolute; z-index: 10;  width: 300px; height: 200px; visibility: hidden; overflow: auto; background-color: #f8f8f8; border-radius: 5px; border: 2px solid #B81321">
            <apex:pageBlock id="PB_PofS_DeviceModelAttributes">
                <!-- Header Buttons -->
                <apex:outputPanel id="OP_Buttons_DeviceAttributes" layout="block" styleClass="button_bar">
                    <apex:commandButton id="CB_SavePofSDeviceModel" value="{!$Label.fsfa_save}" onclick="saveNewPofSDeviceModel(); return false;" status="AS_Status" />
                    <apex:commandButton id="CB_CancelPofSDeviceModel" value="{!$Label.fsfa_close}" onclick="hideClickNewPofSDevice()" rerender="Scripts, OP_Buttons_ImageAreaAttributes, OP_Buttons_ImageAreaAttributesBottom, OP_Area1_ImageAreaAttributes" oncomplete="hidePofSDeviceModel" immediate="true" status="AS_Status" /> 
                </apex:outputPanel>
                <!-- /Header Buttons -->
                
                <apex:outputPanel id="OP_PofSModelDevice_DeviceAttributes" styleClass="red">
                    <apex:pageMessages />
                </apex:outputPanel>                
                <apex:pageblockSection id="PBS_PofSDeviceModel_Device" columns="1" title="Neues Device" showHeader="true">
                    <!-- <apex:inputHidden id="PofS_Id" value="{!PofSId}" /> -->
                    <apex:inputField id="PofS_DeviceLookup" value="{!PofSDeviceLookup.DeviceModel__c}">
						<apex:actionSupport event="onchange" reRender="someArea" oncomplete="doSomething()"/>
					</apex:inputField>
					<script>
						function saveNewPofSDeviceModel() {						    
							var lkfield = document.getElementById('{!$Component.PofS_DeviceLookup}');
							savePofSDeviceModel(lkfield.value);	
						}        
					</script>
                </apex:pageblockSection>                
            </apex:pageBlock>
        </div>
            
		<!-- SavePofSDeviceModel Function -->
		<apex:actionFunction name="savePofSDeviceModel" action="{!savePofSDeviceModel}" rerender="Scripts, OP_Buttons_ImageAreaAttributes, OP_Buttons_ImageAreaAttributesBottom, OP_Area1_ImageAreaAttributes" onComplete="setClickAreaType()" status="AS_Status">
		    <apex:param id="deviceName" name="deviceName" assignTo="{!DeviceModelName}" value="{!PofSDeviceLookup.DeviceModel__c}" />
		</apex:actionFunction>
		<!-- /SavePofSDeviceModel Function -->
    </apex:form>

    <!-- Table of devices -->
    <apex:outputPanel styleClass="red">
        <apex:pageBlockSection id="PBS_PofSDeviceModel" columns="1" title="Devices" showHeader="true">                    
            <apex:form >
                <apex:outputPanel id="OP_Buttons_Device" layout="block" styleClass="button_bar">
                    <apex:commandButton value="Neues Device" onclick="showClickNewPofSDevice(); return false;" />
                </apex:outputPanel> 
            </apex:form>                  

            <apex:pageBlockTable value="{!listPofSDeviceModels}" var="PofSDeviceModels" rendered="{!listPofSDeviceModels.size!=0}">
                <apex:column headerValue="Name">
                    <apex:outputLink value="/{!PofSDeviceModels.DeviceModel__r.Id}">{!PofSDeviceModels.DeviceModel__r.Name}</apex:outputLink>
                </apex:column>
                <apex:column value="{!PofSDeviceModels.DeviceModel__r.Brand__c}"/>
                <apex:column value="{!PofSDeviceModels.DeviceModel__r.AvailableBrands__c}"/>     
            </apex:pageBlockTable>
        </apex:pageBlockSection>
    </apex:outputPanel>

    
</apex:component>