<apex:component controller="SCHistoryAdvancedController" selfClosing="">

    <!--
        We pass the object id (oid) from the component to controller.
    -->
    <apex:attribute name="oid" description="Object ID" type="String" required="true" assignTo="{!oid}"/>
    <apex:attribute name="mode" description="Mode for controller" type="String" required="true" assignTo="{!mode}"/>
    <apex:attribute name="jquery" description="Suppress optionally jquery (e.g. in sf tabs)" type="Boolean" default="true" required="false" />

    <apex:outputPanel rendered="{!!renderPage}" style="display:block;font-size:14px;font-weight:bold;margin: 0 auto;padding: 50px 0 0;text-align:center;width:550px;">
        {!$Label.SC_msg_HistoryComponentDisabled}
    </apex:outputPanel> 
    
    <apex:outputPanel rendered="{!renderPage}">
    <apex:outputPanel rendered="{!jquery}">
        <apex:includeScript value="{!URLFOR($Resource.SCRes,'lib/jquery/js/jquery-1.4.2.min.js')}" />
    </apex:outputPanel>
    
    <!--  Need this for the order-print function -->
    <apex:includeScript value="/soap/ajax/20.0/connection.js"/>
    <apex:includeScript value="/soap/ajax/20.0/apex.js"/>
    

    <style>
    blockquote{
        margin:0;
        padding:0;
    }
    #historydiv ul li {
        margin:0;
        padding:0;
    }
    #historydiv ul {
        list-style-type:none;
        margin:0;
        padding:0;
    }
    
    #historydiv hr {
        background-color:#ECECEC;
        color:#ECECEC;
        height:1px;
        width:100%;
        border:0;
    }
    
    optgroup {
        font-style:normal;
    }
    
    .nestedList {
        padding:0 0 0 0;
        margin:0 0 0 0;
    }
    
    .searching
    {
        background:url(/img/loading.gif) no-repeat 0 0; 
        padding-left:20px; 
        margin-left:10px; 
        padding-bottom:5px; 
        font-size:12px;
    }
    
    .searchingDetails
    {
        display:block;
        background:url(/img/loading.gif) no-repeat #F8F8F8 center center; 
        font-size:12px;
        width:100%;
        height:100%;
    }
        
    .cellSelected {
        background:#FDF09A;
    }
    
    .cellSelected2 {
        background:#FCF4C4;
    }
    
    .cell {
        
    }
    
    .cellMain, .cellDetail {
        background:#DADADA;
    }

    .cellDetail:hover {
        background: #aeaeae;
        cursor:pointer;
        font-color:#fff;
        color:#fff;
    }
    
    .cell:hover, .cellSelected:hover, .cellSelected2:hover, .cellMain:hover  {
        background: #fff;
        cursor:pointer;
    }
    
    .plusMinus {
        width:12px;
        height:12px;
        cursor:pointer;
        display:block;
        float:left;
        margin:1px 5px 0 9px;
    }
    .plusBg {
        background: url("/img/setup_plus.gif") no-repeat center transparent;
    }
    .minusBg {
        background: url("/img/setup_minus.gif") no-repeat center transparent;
    }
    
    .hideMe {
        width:12px;
        height:12px;
        display:block;
        float:left;
        margin:3px 8px 0 0;
    }
    
    .cp-selected, .cp-selected:hover
    {
        background-color: #ABCFED;
    }
    
    .detailPannel {
    }
    
    .hideDetail{
        display:none;
    }
    .showDetail{
        display:block;
    }
    
    #map_canvas { 
        height: 250px;
        width:100%; 
    }
    
    .smenu {display: block;

float: left;}



    </style>   
    
    <script>
    
    var selectSR = false;
    var listNumberSR = null;
    
    function selectFirst(){
        for(var c1 = 0; c1 < document.getElementById(listId).length; c1++){
            if(document.getElementById(listId).options[c1].value != '' && selectSR == false)
            {
                document.getElementById(listId).options[c1].selected = true;
                document.getElementById(listId).onchange();
                return;
            }
            if(selectSR && listNumberSR != null)
            {
                if(c1 == listNumberSR)
                {
                    document.getElementById(listId).options[c1].selected = true;
                    document.getElementById(listId).onchange();
                    return;
                }
            }
        }
    }
    
    function selectApp(element,o)
    {   
        if(jQuery('.cp-selected') != null)
        {
            jQuery('.cp-selected').toggleClass('cp-selected');
        }
        if(o=='main')
        jQuery(element).parent().toggleClass('cp-selected');
        if(o=='sub')
        jQuery(element).toggleClass('cp-selected');
        
    }
    
    
    function selectLine(id,object)
    {
        hideDetails();
        document.getElementById(sItemId).value = id;
        document.getElementById(sItemType).value = object;
        
        showItemDetails();

    }    
    
    function hideDetails(){
        document.getElementById('detailsContainer').style.display = 'none';
    }
    function showDetails(){
        document.getElementById('detailsContainer').style.display = 'block';
    }
    
    function toggleDetails(element,id) {
        // 'All details' clicked?
        if(jQuery(element).attr('id') == 'allDetailsBtn'){
            // Button not active
            if(!jQuery(element).hasClass('x-btn-pressed')){
                jQuery('.detailPannel').removeClass('hideDetail').addClass('showDetail');
                jQuery('.smenu:.x-btn-pressed').removeClass('x-btn-pressed');
                jQuery(element).addClass('x-btn-pressed');
            }
        }
        else{
            // Button active?
            if(jQuery(element).hasClass('x-btn-pressed')){  // Yes, button is active  (pressed)         
                // Set button inactive
                jQuery(element).removeClass('x-btn-pressed');
                // Set associated pannel inactive 
                jQuery('.detailPannel:#'+id).removeClass('showDetail').addClass('hideDetail');
                // All pannels are inactive now?
                if( jQuery('#detailsContainer').children('.detailPannel.hideDetail').size() == jQuery('#detailsContainer').children('.detailPannel').size() ) {
                    // Set all pannels active
                    jQuery('#detailsContainer').children('.detailPannel').removeClass('hideDetail').addClass('showDetail'); 
                    // Set 'All detail' button active
                    jQuery('#allDetailsBtn').addClass('x-btn-pressed');
                }
            }
            else{ // No, button is inactive (not pressed)
                // Set actual button active
                jQuery(element).addClass('x-btn-pressed');
                // Is 'All detail' button active
                if(jQuery('#allDetailsBtn').hasClass('x-btn-pressed')){     // Yes, pressed
                    // Set 'All detail' button inactive
                    jQuery('#allDetailsBtn').removeClass('x-btn-pressed');
                    // Set all pannels (but not the actual) inactive
                    jQuery('.detailPannel:not(#'+id+')').removeClass('showDetail').addClass('hideDetail');
                }
                else{
                    // Set associated pannel active 
                    jQuery('.detailPannel:#'+id).removeClass('hideDetail').addClass('showDetail');
                }
            }
        }
    }
    
    
    
    </script> 
   
    
    <apex:form id="historyForm">
    <div id="historydiv">
        <apex:actionFunction name="showItemDetails" action="{!onDoDetails}" reRender="details" status="dlyMyStatusDetails" oncomplete="showDetails()" />
        <apex:inputHidden id="selectedId" value="{!selectedId}"/>
        <apex:inputHidden id="selectedType" value="{!selectedType}"/>
        <script>
            var sItemId   = document.getElementById("{!$Component.selectedId}").id;
            var sItemType = document.getElementById("{!$Component.selectedType}").id;
        </script>
        
        
        
        <apex:inputHidden id="selectedItemId" value="{!selectedViewIndex}"/>
        
        
        <!-- Select list -->
        <span style="font-size:11px;">{!$Label.SC_msg_PleaseSelectView}:&nbsp;</span>
        <apex:selectList value="{!selectedViewIndex}" size="1" multiselect="false" id="dlgViewModeList" style="font-size:11px;margin:0 0 10px 0;width:25%">
            <apex:actionSupport event="onchange" action="{!onViewSelected}" onsubmit="hideDetails()" reRender="dlgContent" status="dlyStatus" />
            <apex:selectOptions value="{!views}"/>
        </apex:selectList>
        
        &nbsp;
        
        <script type="text/javascript"> 
            // get the form id and save it to the global variable
            var listId = document.getElementById("{!$Component.dlgViewModeList}").id;
        </script>
        
        <apex:actionStatus id="dlyStatus" startText="{!$Label.SC_app_Searching}" stopText="" startStyleClass="searching" ></apex:actionStatus>
        
        <script>
            // Remove all empty options from the list above.
            // Because of salesforce do not support 'optgroup' yet, we must make some tricks in controller.
            // Side effect of it are empty options in the list which we must remove with this javascript.
            var views = document.getElementById('{!$Component.dlgViewModeList}');
            for (var i = views.length - 1; i>=0; i--)
            {
                if (views.options[i].text == '')
                {
                    views.remove(i);
                }
            }
            
            var views = document.getElementById('{!$Component.dlgViewModeList}');
            for (var i = views.length - 1; i>=0; i--)
            {
            
                if(views.options[i].text.search("{!serviceRecipientLabel}") != -1 && '{!mode}' != 'order')
                {   
                    // Setting the picklist by default to the Service Recipient
                    selectSR = true;
                    listNumberSR = i;
                }
                
                // Only for mode=order: we must preselect first order item
                if(views.options[i].text.search("{!$Label.SC_app_OrderItems}") != -1 && '{!mode}' == 'order')
                {   
                    // Setting the picklist by default to the Order Item
                    selectSR = true;
                    listNumberSR = i;
                }
                
            }
        </script>  
        
        <table border="0" cellspacing="0" cellpadding="0" width="100%">
            <tr>
            <td width="50%" valign="top">
            
            <!-- Content (depends on selected view above) -->
            <apex:pageBlock id="dlgContent">
            
            <div style="height:450px;overflow:auto;font-size:11px;">
            
            <ul>
                <span style="display: block;float: left;height: 20px;margin: 0 10px 0 0; padding: 3px 0 0 5px;width: 15px;">
                    <input type="checkbox" id="selectAllOrderCheckboxes" onclick="selectAllOrders()"/>
                </span>
                <apex:commandButton id="btnPrintOrders" reRender="none" onclick="printOrders()" value="{!$Label.SC_app_PrintSelected}"/>

                
                <!-- Main objects -->
                <apex:repeat value="{!Items}" var="mainItem">

                <li>
                
                <apex:outputPanel rendered="{!IF(mainItem.SubItemCount = 0 && mainItem.itemObjectType != 'ibaselocation' && mainItem.itemObjectType != 'contract', false, true )}">
                                
                <apex:outputPanel rendered="{!IF(mainItem.itemObjectType = 'contract', false, true)}">
                
                
                <table border="0" width="100%" cellspacing="0" cellpadding="0" style="margin-top:7px;">
                <tr class="{!IF(mainItem.itemIsActive == true, 'cellSelected','cellMain')}" height="22">

                <td width="30">
                    <div class="plusMinus minusBg" id="plus-{!mainItem.itemID}">
                        <a href="javascript:void(0);" onclick="togglePanel('block-{!mainItem.itemID}','plus-{!mainItem.itemID}')">
                            <img src="/s.gif" width="12" height="12" border="0"/>
                        </a>
                    </div>
                </td>

                <td width="250" style="white-space: nowrap"  onclick="selectLine('{!mainItem.itemID}','{!mainItem.itemObjectType}');selectApp(this,'main');">
                
                    <img src="/img/icon/{!IF(mainItem.itemObjectType='ibaselocation','building16','box16')}.png" width="16" height="16" alt="" align="absmiddle"/> 
                    <b>{!IF(mainItem.itemName = '' || mainItem.itemName = null, $ObjectType.SCOrder__c.labelPlural, mainItem.itemName)}</b> ({!mainItem.SubItemCount}) 
                    {!IF(mainItem.itemSerial = '', '', ' | SN: ')} {!mainItem.itemSerial}

                </td>

                <td align="right"  onclick="selectLine('{!mainItem.itemID}','{!mainItem.itemObjectType}');selectApp(this,'main');">
                    {!IF(mainItem.itemSystem != null, 'System: '+mainItem.itemSystem,'')}
                    &nbsp;&nbsp;
                </td>
                </tr>
                </table>
                
                </apex:outputPanel>
                
                    <ul style="margin-left:0;">
                       
                        <!-- Sub Objects -->
                        <div id="block-{!mainItem.itemID}" style="margin:0;padding:0;overflow:hidden;display:block;">

                        <apex:repeat value="{!mainItem.subItems}" var="subItem">
                            <li>  
                                                                               
                            <table border="0" width="100%" cellspacing="0" cellpadding="0">

                            <tr>
                            <td width="30"><img src="/s.gif" width="30" height="1" alt=""  /></td>
                            <td width="123"><img src="/s.gif" width="123" height="1" alt=""  /></td>
                            <td width="60"><img src="/s.gif" width="110" height="1" alt=""  /></td>
                            <td width="80"><img src="/s.gif" width="70" height="1" alt=""  /></td>
                            <td></td>
                            <td></td>
                            </tr>
                            
                            <tr class="{!IF(subItem.itemIsActive == true, 'cellSelected2','cell')}"  height="20">
                            <td align="center" >
                                <input type="checkbox" class="selectToPint" value="{!subItem.itemID}" style="display:{!IF(subItem.itemObjectType == 'order','block','none')};" />
                            </td>
                            <td style="white-space: nowrap;" onclick="selectLine('{!subItem.itemID}','{!subItem.itemObjectType}'); selectApp(this,'main');">
                                <img src="/img/icon/{!subItem.Icon}" width="16" height="16" alt="" align="absmiddle" border="0"/> 
                                {!subItem.itemName}
                            </td>
                            <td style="white-space: nowrap;" onclick="selectLine('{!subItem.itemID}','{!subItem.itemObjectType}'); selectApp(this,'main');">
                                <apex:outputText value="{!IF(subItem.itemObjectType == 'ibaselocation',$Label.SC_app_Location,subItem.itemType)}" title="{!$ObjectType.SCOrder__c.fields.Type__c.label}" />
                            </td>                            
                            <td style="white-space: nowrap;" onclick="selectLine('{!subItem.itemID}','{!subItem.itemObjectType}'); selectApp(this,'main');">
                                <apex:outputText value="{!subItem.itemDate}" 
                                                 escape="false" 
                                                 title="{!IF(BEGINS(subItem.itemDate, "*"), $ObjectType.SCOrder__c.fields.CreatedDate.label, $ObjectType.SCOrder__c.fields.Closed__c.label)}"/>
                                &nbsp;
                            </td>
                           
                            <td style="white-space: nowrap;" onclick="selectLine('{!subItem.itemID}','{!subItem.itemObjectType}'); selectApp(this,'main');">
                                <apex:outputText value="{!IF(subItem.itemObjectType == 'ibaselocation','',subItem.itemStatus)}" title="{!$ObjectType.SCOrder__c.fields.Status__c.label}" />
                            </td>
                            <td align="right" onclick="selectLine('{!subItem.itemID}','{!subItem.itemObjectType}'); selectApp(this,'main');">
                                <apex:outputText value="{!subItem.itemInvoicingType}" title="{!$ObjectType.SCOrder__c.fields.InvoicingType__c.label}" />
                                <apex:outputText value="SN: {!subItem.itemSerial}" rendered="{!IF(subItem.itemSerial == null || subItem.itemSerial == '', false, true)}"/>
                                &nbsp;&nbsp;
                            </td>
                            </tr>
                            </table>
                            
                            <hr noshade="noshade" size="1" style="margin:0;padding:0;border:0;width:100%;height:1px;background-color:#ececec;color:#ececec;"/>

                            </li>
                        
                        </apex:repeat>
                        
                        </div>
                        
                        
                    </ul>
                </apex:outputPanel>
                
                </li>
                
                </apex:repeat>
                <!--       
                <apex:outputText value="Nothing found." rendered="{!IF(Items.size = 0, true, false)}"/>    
                -->
            
            </ul>
            
            </div>
            
            </apex:pageBlock>
            
            </td>
            
            <td><img src="/s.gif" width="10" height="1" alt="" /></td>
            
            <td width="50%" valign="top">
            
            <!-- Details (depends on selected content) -->
            
            <apex:pageBlock id="details" mode="detail">
            <div style="height:450px;overflow:auto;font-size:11px;">
            
            <apex:actionStatus id="dlyMyStatusDetails" startText="" stopText="" startStyleClass="searchingDetails" ></apex:actionStatus>
            
            <div id="detailsContainer">
                      
                
                <apex:repeat value="{!readDetails}" var="d" rendered="{!NOT(ISNULL(readDetails))}">
                    
                    <img src="{!d.dIcon}" width="24" height="24" alt="" align="absmiddle" style="margin: 0 2px 10px;padding: 3px 0 0 0;"/>
                    
<!-- Order Details -->
                    <apex:repeat value="{!d.dOrder}" var="order" rendered="{!NOT(ISNULL(d.dOrder))}">
                        
                        <span style="font-size:14px; font-weight:bold; color:#474747;">
                            <a href="/{!order.Id}" target="_blank">{!order.Name}</a>
                        </span>
                        &nbsp;&nbsp;
                        <span style="font-size:14px; font-weight:bold; color:#474747;">
                            <a href="/apex/SCOrderProtocolPopup?id={!order.Id}" target="_blank">{!$Label.SC_app_OrderProtocol}</a>
                        </span>
                        
                        <div id="smallNavi" style="margin:5px 0 20px 0;width:100%;">
                            <a href="javascript:void(0);" id="allDetailsBtn" class="x-btn x-btn-noicon x-btn-pressed smenu" style="text-decoration:none;font-weight:normal;" onclick="toggleDetails(this,null)">&nbsp;&nbsp;{!$Label.SC_flt_All}&nbsp;&nbsp;</a>
                            <a href="javascript:void(0);" class="x-btn x-btn-noicon smenu" style="text-decoration:none;font-weight: normal;" onclick="toggleDetails(this,'g1')">{!$Label.SC_msg_Overview}</a>
                            <a href="javascript:void(0);" class="x-btn x-btn-noicon smenu" style="text-decoration:none;font-weight: normal;" onclick="toggleDetails(this,'g2')">{!$Label.SC_msg_FinancialData}</a>
                            <a href="javascript:void(0);" class="x-btn x-btn-noicon smenu" style="text-decoration:none;font-weight: normal;" onclick="toggleDetails(this,'g3')">{!$Label.SC_app_SchedulingDetails}</a>
                            <a href="javascript:void(0);" class="x-btn x-btn-noicon smenu" style="text-decoration:none;font-weight: normal;" onclick="toggleDetails(this,'g4')">Failure</a>
                            <a href="javascript:void(0);" class="x-btn x-btn-noicon smenu" style="text-decoration:none;font-weight: normal;" onclick="toggleDetails(this,'g5')">{!$Label.SC_app_HoverContract}</a>
                            <a href="javascript:void(0);" class="x-btn x-btn-noicon smenu" style="text-decoration:none;font-weight: normal;" onclick="toggleDetails(this,'g6')">{!$ObjectType.SCOrderRole__c.labelPlural}</a>
                            <a href="javascript:void(0);" class="x-btn x-btn-noicon smenu" style="text-decoration:none;font-weight: normal;" onclick="toggleDetails(this,'g7')">{!$ObjectType.SCOrderLine__c.labelPlural}</a>
                            <a href="javascript:void(0);" class="x-btn x-btn-noicon smenu" style="text-decoration:none;font-weight: normal;" onclick="toggleDetails(this,'g9')">{!$ObjectType.SCOrderItem__c.labelPlural}</a>
                        </div>
                        <br/><br/>
                        
                    <!-- +++++++++ Group 1  +++++++++ -->
                        <div id="g1" class="detailPannel showDetail">
                        <table border="0" width="100%" cellspacing="0" cellpadding="2" style="margin:0 0 5px 0;">
                        <tr>
                        <td bgcolor="#dadada">
                            &nbsp;&nbsp;

                            <b>{!$Label.SC_msg_Overview}</b>
                        </td>
                        </tr>
                        </table>
                        <div id="group1" style="margin:0;padding:0;overflow:hidden;display:block;">
                        <apex:pageblockSection columns="2" >
                            <apex:outputField value="{!order.Type__c}" />
                            <apex:outputField value="{!order.Status__c}" />
                            <apex:outputField value="{!order.InvoicingType__c}" />
                            <apex:outputField value="{!order.CancelReason__c}" rendered="{!IF(order.Status__c = '5507',true, false)}"/>
                            <apex:outputField value="{!order.InvoicingStatus__c}" />
                            <apex:outputField value="{!order.IdExt__c}" />
                            <apex:outputField value="{!order.MaterialStatus__c}" />
                            <apex:outputField value="{!order.Brand__r.Name}" />
                            <apex:outputField value="{!order.Channel__c}" />
                            <apex:outputField value="{!order.CreatedDate}" />
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="{!$Label.SC_app_CreatedBy}"/>
                                <apex:outputText >{!order.CreatedBy.Name}<br/>{!order.CreatedBy.CompanyName}</apex:outputText>
                            </apex:pageBlockSectionItem>
                            <apex:outputField value="{!order.Closed__c}" />
                            <apex:outputField value="{!order.ClosedBy__c}" />
                            <apex:outputField value="{!order.ClosedByInfo__c}" />
                            <apex:outputField value="{!order.IdOld__c}" />
                        
                        </apex:pageblockSection>
                        </div>
                        </div>

                    <!-- +++++++++ Group 2 +++++++++ -->
                        <div id="g2" class="detailPannel showDetail">
                        <table border="0" width="100%" cellspacing="0" cellpadding="2" style="margin:0 0 5px 0;">
                        <tr>
                        <td bgcolor="#dadada">
                            &nbsp;&nbsp;
                            <b>{!$Label.SC_msg_FinancialData}</b>
                        </td>
                        </tr>
                        </table>
                        <div id="group2" style="margin:0;padding:0;overflow:hidden;display:block;">
                        <apex:pageBlockSection columns="2" >                 
                            <apex:outputField value="{!order.CreditNoteReason__c}" />
                            <apex:outputField value="{!order.CreditNoteBy__c}" />
                            <apex:outputField value="{!order.InvoicingDate__c}" />                            
                            <apex:outputField value="{!order.InvoicingNo__c}" />
                            <apex:outputField value="{!order.InvoicingNoERP__c}" />
                            <apex:outputField value="{!order.InvoicingReleased__c}" style="white-space: nowrap;" />                            
                            <apex:outputField value="{!order.InvoicingStatus__c}" />
                            <apex:outputField value="{!order.InvoicingText__c}" />
                            <apex:outputField value="{!order.InvoicingType__c}" />
                            
                            <apex:outputField value="{!order.PaymentType__c}" />
                            <apex:outputField value="{!order.PriceERP__c}" />
                            <apex:outputField value="{!order.PriceGross__c}"  />
                            <apex:outputField value="{!order.PriceNet__c}" />
                            <apex:outputField value="{!order.PriceTax__c}" />
                        </apex:pageblockSection>
                        </div>
                        </div>
                        
                    <!-- +++++++++ Group 3 +++++++++ -->
                        <div id="g3" class="detailPannel showDetail">
                        <table border="0" width="100%" cellspacing="0" cellpadding="2" style="margin:0 0 5px 0;">
                        <tr>
                        <td bgcolor="#dadada">
                            &nbsp;&nbsp;

                            <b>{!$Label.SC_app_SchedulingDetails}</b>
                        </td>
                        </tr>
                        </table>
                        <div id="group3" style="margin:0;padding:0;overflow:hidden;display:block;">
                        <apex:pageBlockSection columns="2" >                 
                            <apex:outputField value="{!order.CustomerPrefEnd__c}" />
                            <apex:outputField value="{!order.CustomerPrefStart__c}" />                            
                            <apex:outputField value="{!order.CustomerPriority__c}" />
                            <apex:outputField value="{!order.CustomerTimewindow__c}" />
                            <apex:outputField value="{!order.DepartmentCurrent__c}" />                            
                            <apex:outputField value="{!order.DepartmentResponsible__c}" />
                            <apex:outputField value="{!order.DepartmentTurnover__c}" />
                        </apex:pageblockSection>
                        </div>
                        </div>
                        
                    <!-- +++++++++ Group 4 +++++++++ -->
                        <div id="g4" class="detailPannel showDetail">
                        <table border="0" width="100%" cellspacing="0" cellpadding="2" style="margin:0 0 5px 0;">
                        <tr>
                        <td bgcolor="#dadada">
                            &nbsp;&nbsp;
                            <b>{!$Label.SC_app_PrioDlg_FailureType}</b>
                        </td>
                        </tr>
                        </table>
                        <div id="group4" style="margin:0;padding:0;overflow:hidden;display:block;">
                        <apex:pageBlockSection columns="2" >                 
                            <apex:outputField value="{!order.Description__c}" />
                            <apex:outputField value="{!order.FailureType__c}" />                            
                            <apex:outputField value="{!order.Followup1__c}" />
                            <apex:outputField value="{!order.Followup2__c}" />
                        </apex:pageblockSection>
                        </div>
                        </div>
                        
                    <!-- +++++++++ Group 8 +++++++++ -->
                        <div id="g8" class="detailPannel showDetail">
                        <table border="0" width="100%" cellspacing="0" cellpadding="2" style="margin:0 0 5px 0;">
                        <tr>
                        <td bgcolor="#dadada">
                            &nbsp;&nbsp;
                            <b>{!$ObjectType.SCAppointment__c.labelPlural}</b>
                        </td>
                        </tr>
                        </table>
                        <div id="group8" style="margin:0;padding:0;overflow:hidden;display:block;">

                        <apex:pageBlock mode="edit">
                        <apex:pageBlockTable value="{!order.Appointments__r}" var="ap" rendered="{!IF(order.Appointments__r.size > 0, true, false)}">
                            <apex:column value="{!ap.Name}"/>
                            <apex:column value="{!ap.Start__c}"/>
                            <apex:column value="{!ap.Resource__c}"/>
                            <apex:column value="{!ap.Employee__c}"/>
                            <apex:column value="{!ap.Mobile__c}"/>
                            <apex:column value="{!ap.AssignmentStatus__c}"/>
                        </apex:pageBlockTable>
                        </apex:pageblock>
                        </div>
                        </div>
                        
                    <!-- +++++++++ Group 5 +++++++++ -->
                        <div id="g5" class="detailPannel showDetail">
                        <table border="0" width="100%" cellspacing="0" cellpadding="2" style="margin:0 0 5px 0;">
                        <tr>
                        <td bgcolor="#dadada">
                            &nbsp;&nbsp;
                            <b>{!$Label.SC_app_HoverContract}</b>
                        </td>
                        </tr>
                        </table>
                        <div id="group5" style="margin:0;padding:0;overflow:hidden;display:block;">
                        <apex:pageBlockSection columns="2" >                 
                            <apex:outputField value="{!order.Contract__r.util_details__c}" />
                            <apex:outputField value="{!order.InsurancePolicy__c}" rendered="{!NOT(ISNULL(order.InsurancePolicy__c))}" />                            
                        </apex:pageblockSection>
                        </div>
                        </div>
                        
                    <!-- +++++++++ Group 6 +++++++++ -->
                        <div id="g6" class="detailPannel showDetail">
                        <table border="0" width="100%" cellspacing="0" cellpadding="2" style="margin:0 0 5px 0;">
                        <tr>
                        <td bgcolor="#dadada">
                            &nbsp;&nbsp;
                            <b>{!$ObjectType.SCOrderRole__c.labelPlural}</b>
                        </td>
                        </tr>
                        </table>
                        <div id="group6" style="margin:0;padding:0;overflow:hidden;display:block;">

                        <apex:pageBlock mode="edit">
                        <apex:repeat value="{!order.OrderRole__r}" var="or">
                        <apex:pageBlockSection columns="3">    

                            <apex:outputText ><a href="/{!or.Id}" target="_blank">{!or.OrderRole__c}</a></apex:outputText>
                            <apex:outputText >{!or.Name1__c} {!or.Name2__c} {!or.Name3__c}</apex:outputText>
                            <!--
                                Object types for this component
                                - account
                                - location
                                - orderrole
                                - orderitem
                             -->
                            <c:SCAddressFormatted paramObjectId="{!or.Id}" paramObjectType="orderrole" id="addressComponent"/>
                            
                        </apex:pageblockSection>
                        <hr/>                        
                        </apex:repeat>
                        </apex:pageblock>
                        </div>
                        </div>

                    <!-- +++++++++ Group 7 +++++++++ -->
                        <div id="g7" class="detailPannel showDetail">
                        <table border="0" width="100%" cellspacing="0" cellpadding="2" style="margin:0 0 5px 0;">
                        <tr>
                        <td bgcolor="#dadada">
                            &nbsp;&nbsp;
                            <b>{!$ObjectType.SCOrderLine__c.labelPlural}</b>
                        </td>
                        </tr>
                        </table>
                        <div id="group7" style="margin:0;padding:0;overflow:hidden;display:block;">
                        <apex:pageBlockTable value="{!order.OrderLine__r}" var="ol">
                            <apex:column value="{!ol.Article__r.Name}"/>
                            <apex:column value="{!ol.ArticleName__c}"/>
                            
                            <apex:column style="text-align:right;">
                                <apex:facet name="header">
                                    <div style="display:block;text-align:right;padding:0 3px 0 0;">{!$ObjectType.SCOrderLine__c.fields.Qty__c.label}</div>
                                </apex:facet>
                                <apex:outputText value="{0, number}" style="padding:0 3px 0 0;">
                                       <apex:param value="{!ol.Qty__c}" />
                                 </apex:outputText>               
                            </apex:column>

                            <apex:column style="text-align:right; width:12%;">
                                <apex:facet name="header">
                                    <div style="display:block;text-align:right;padding:0 3px 0 0;">{!$ObjectType.SCOrderLine__c.fields.Price__c.label}</div>
                                </apex:facet>
                                <apex:facet name="footer">
                                <apex:outputText value="{0, number, 0.00}" style="padding:0 2px 0 0;text-align:right">
                                    Total:&nbsp;<apex:param value="{!order.PriceNet__c}"/>
                                </apex:outputText>   
                                </apex:facet>
                                <apex:outputText value="{0, number, 0.00}" style="padding:0 3px 0 0;">
                                       <apex:param value="{!ol.Price__c}" />
                                 </apex:outputText>               
                            </apex:column>
                            
                            <apex:column value="{!ol.InvoicingType__c}"/>
                            
                        </apex:pageBlockTable>
                        </div>
                        </div>
                        
                    <!-- +++++++++ Group 9 +++++++++ -->
                        <div id="g9" class="detailPannel showDetail">
                        <table border="0" width="100%" cellspacing="0" cellpadding="2" style="margin:10px 0 5px 0;">
                        <tr>
                        <td bgcolor="#dadada">
                            &nbsp;&nbsp;
                            <b>{!$ObjectType.SCOrderItem__c.labelPlural}</b>
                        </td>
                        </tr>
                        </table>
                        <div id="group9" style="margin:0;padding:0;overflow:hidden;display:block;">
                        <apex:pageBlockTable value="{!order.OrderItem__r}" var="oi">
                            <apex:column headerValue="{!oi.Name}">
                                <a href="/{!oi.Id}" target="_blank">{!oi.Name}</a>
                            </apex:column>
                            <apex:column value="{!oi.InstalledBase__c}"/>
                            <apex:column value="{!oi.ProductNameCalc__c}"/>
                        </apex:pageBlockTable>
                        </div>
                        </div>
                        
                    </apex:repeat>
                    
                    
                    
<!-- Installed Base Details -->

                    <apex:repeat value="{!d.dInstalledBase}" var="installedBase" rendered="{!NOT(ISNULL(d.dInstalledBase))}">
                        
                        <span style="font-size:14px; font-weight:bold; color:#474747;">
                            <a href="/{!installedBase.Id}" target="_blank">{!installedBase.Name}</a>
                        </span>
                        
                        <div id="smallNavi" style="margin:5px 0 20px 0;width:100%;">
                            <a href="javascript:void(0);" id="allDetailsBtn" class="x-btn x-btn-noicon x-btn-pressed smenu" style="text-decoration:none;font-weight:normal;" onclick="toggleDetails(this,null)">&nbsp;&nbsp;{!$Label.SC_flt_All}&nbsp;&nbsp;</a>
                            <a href="javascript:void(0);" class="x-btn x-btn-noicon smenu" style="text-decoration:none;font-weight: normal;" onclick="toggleDetails(this,'g1')">{!$Label.SC_msg_Overview}</a>
                            <a href="javascript:void(0);" class="x-btn x-btn-noicon smenu" style="text-decoration:none;font-weight: normal;" onclick="toggleDetails(this,'g2')">Identification</a>
                            <a href="javascript:void(0);" class="x-btn x-btn-noicon smenu" style="text-decoration:none;font-weight: normal;" onclick="toggleDetails(this,'g3')">{!$Label.SC_app_ProductSearchBox}</a>
                            <a href="javascript:void(0);" class="x-btn x-btn-noicon smenu" style="text-decoration:none;font-weight: normal;" onclick="toggleDetails(this,'g4')">{!$ObjectType.SCContractItem__c.labelPlural}</a>
                            <a href="javascript:void(0);" class="x-btn x-btn-noicon smenu" style="text-decoration:none;font-weight: normal;" onclick="toggleDetails(this,'g5')">{!$ObjectType.Case.labelPlural}</a>
                        </div>
                        <br/><br/>
                        
                    <!-- +++++++++ Group 1  +++++++++ -->
                        <div id="g1" class="detailPannel showDetail">
                        <table border="0" width="100%" cellspacing="0" cellpadding="2" style="margin:0 0 5px 0;">
                        <tr>
                        <td bgcolor="#dadada">

                           &nbsp;&nbsp;<b>{!$Label.SC_msg_Overview}</b>
                        </td>
                        </tr>
                        </table>
                        <div id="group1" style="margin:0;padding:0;overflow:hidden;display:block;">
                        <apex:pageblockSection columns="2" >
                            <apex:outputField value="{!installedBase.Type__c}" />
                            <apex:outputField value="{!installedBase.Status__c}" />
                            <apex:outputField value="{!installedBase.Brand__r.Name}" />
                            <apex:outputField value="{!installedBase.Department__c}" />
                            <apex:outputField value="{!installedBase.InstalledBaseLocation__c}" />
                            <apex:outputField value="{!installedBase.System__c}" />
                        
                        </apex:pageblockSection>
                        </div>
                        </div>

                    <!-- +++++++++ Group 2 +++++++++ -->
                        <div id="g2" class="detailPannel showDetail">
                        <table border="0" width="100%" cellspacing="0" cellpadding="2" style="margin:0 0 5px 0;">
                        <tr>
                        <td bgcolor="#dadada">
                            &nbsp;&nbsp;
                            <b>Identification</b>
                        </td>
                        </tr>
                        </table>
                        <div id="group2" style="margin:0;padding:0;overflow:hidden;display:block;">
                        <apex:pageBlockSection columns="2" >                 
                            <apex:outputField value="{!installedBase.SerialNo__c}" />
                            <apex:outputField value="{!installedBase.ArticleName__c}" />
                            <apex:outputField value="{!installedBase.IdInt__c}" />
                            <apex:outputField value="{!installedBase.IdExt__c}" />
                        </apex:pageblockSection>
                        </div>
                        </div>
                        
                    <!-- +++++++++ Group 3 +++++++++ -->
                        <div id="g3" class="detailPannel showDetail">
                        <table border="0" width="100%" cellspacing="0" cellpadding="2" style="margin:0 0 5px 0;">
                        <tr>
                        <td bgcolor="#dadada">
                            &nbsp;&nbsp;
                            <b>{!$Label.SC_app_ProductSearchBox}</b>
                        </td>
                        </tr>
                        </table>
                        <div id="group3" style="margin:0;padding:0;overflow:hidden;display:block;">
                        <apex:pageBlockSection columns="2" >                 
                            <apex:outputField value="{!installedBase.ProductNameCalc__c}" />
                            <apex:outputField value="{!installedBase.Article__c}" />
                            <apex:outputField value="{!installedBase.ProductUnitClass__c}" />
                            <apex:outputField value="{!installedBase.ArticleNo__c}" />
                            <apex:outputField value="{!installedBase.ProductUnitType__c}" />
                            <apex:outputField value="{!installedBase.ArticleName__c}" />
                            <apex:outputField value="{!installedBase.InstallationDate__c}" />
                            <apex:outputField value="{!installedBase.GuaranteeUntil__c}" />
                        </apex:pageblockSection>
                        </div>
                        </div>
                        
                    <!-- +++++++++ Group 4 +++++++++ -->
                        <div id="g4" class="detailPannel showDetail">
                        <table border="0" width="100%" cellspacing="0" cellpadding="2" style="margin:0 0 5px 0;">
                        <tr>
                        <td bgcolor="#dadada">
                            &nbsp;&nbsp;
                            <b>{!$ObjectType.SCContractItem__c.labelPlural}</b>
                        </td>
                        </tr>
                        </table>
                        <div id="group4" style="margin:0;padding:0;overflow:hidden;display:block;">
                        <apex:pageBlockTable value="{!installedBase.ServiceContractItems__r}" var="ci">
                            <apex:column value="{!ci.util_ib_serialno__c}"/>
                            <apex:column value="{!ci.util_ib_product_model__c}"/>
                            <apex:column value="{!ci.util_ib_idInt__c}"/>
                            <apex:column value="{!ci.MaintenancePrice__c}"/>
                        </apex:pageBlockTable>
                        </div>
                        </div>
                        

                    <!-- +++++++++ Group 5 +++++++++ -->
                        <div id="g5" class="detailPannel showDetail">
                        <table border="0" width="100%" cellspacing="0" cellpadding="2" style="margin:0 0 5px 0;">
                        <tr>
                        <td bgcolor="#dadada">
                            &nbsp;&nbsp;
                            <b>{!$ObjectType.Case.labelPlural}</b>
                        </td>
                        </tr>
                        </table>
                        <div id="group5" style="margin:0;padding:0;overflow:hidden;display:block;">
                        <apex:pageBlockTable value="{!installedBase.Cases__r}" var="c">
                            <apex:column value="{!c.CaseNumber}"/>
                            <apex:column value="{!c.Status}"/>
                            <apex:column value="{!c.Subject}"/>
                            <apex:column value="{!c.Type}"/>
                            <apex:column value="{!c.Description}"/>
                        </apex:pageBlockTable>
                        </div>
                        </div>
                        
                    </apex:repeat>
                    
                    
                    
<!-- Case Details -->
                    <apex:repeat value="{!d.dCase}" var="case" rendered="{!NOT(ISNULL(d.dCase))}">
                        
                        <span style="font-size:14px; font-weight:bold; color:#474747;">
                            <a href="/{!case.Id}" target="_blank">{!case.CaseNumber}</a>
                        </span>
                        
                        <div id="smallNavi" style="margin:5px 0 20px 0;width:100%;">
                            <a href="javascript:void(0);" id="allDetailsBtn" class="x-btn x-btn-noicon x-btn-pressed smenu" style="text-decoration:none;font-weight:normal;" onclick="toggleDetails(this,null)">&nbsp;&nbsp;{!$Label.SC_flt_All}&nbsp;&nbsp;</a>
                            <a href="javascript:void(0);" class="x-btn x-btn-noicon smenu" style="text-decoration:none;font-weight: normal;" onclick="toggleDetails(this,'g1')">{!$Label.SC_msg_Overview}</a>
                            
                        </div>
                        
                        <br/>
                        
                    <!-- +++++++++ Group 1  +++++++++ -->
                        <div id="g1" class="detailPannel showDetail">
                        <table border="0" width="100%" cellspacing="0" cellpadding="2" style="margin:0 0 5px 0;">
                        <tr>
                        <td bgcolor="#dadada">

                           &nbsp;&nbsp;<b>{!$Label.SC_msg_Overview}</b>
                        </td>
                        </tr>
                        </table>
                        <div id="group1" style="margin:0;padding:0;overflow:hidden;display:block;">
                        <apex:pageblockSection columns="2" >
                            <apex:outputField value="{!case.CaseNumber}" />
                            <apex:outputField value="{!case.Type}" />
                            <apex:outputField value="{!case.Status}" />
                            <apex:outputField value="{!case.Description}" />
                            <apex:outputField value="{!case.Priority}" />
                            <apex:outputField value="{!case.CreatedDate}" />
                            <apex:outputField value="{!case.Subject}" />
                            <apex:outputField value="{!case.Due_Date__c}" />
                            <apex:outputField value="{!case.Escalation_Date__c}" />
                            <apex:outputField value="{!case.Contact.Name}" />
                            <apex:outputField value="{!case.Contact.Phone}" />
                            <apex:outputField value="{!case.Contact.MobilePhone}" />
                            <apex:outputField value="{!case.ArticleName__c}" />
                            <apex:outputField value="{!case.ArticleNumber__c}" />
                        
                        </apex:pageblockSection>
                        </div>
                        </div>

                    
                                               
                    </apex:repeat>
                    
                    
<!-- Contract Details -->
                    <apex:repeat value="{!d.dContract}" var="contract" rendered="{!NOT(ISNULL(d.dContract))}">
                        
                        <span style="font-size:14px; font-weight:bold; color:#474747;">
                            <a href="/{!contract.Id}" target="_blank">{!contract.Name}</a>
                        </span>
                        
                        <div id="smallNavi" style="margin:5px 0 20px 0;width:100%;">
                            <a href="javascript:void(0);" id="allDetailsBtn" class="x-btn x-btn-noicon x-btn-pressed smenu" style="text-decoration:none;font-weight:normal;" onclick="toggleDetails(this,null)">&nbsp;&nbsp;{!$Label.SC_flt_All}&nbsp;&nbsp;</a>
                            <a href="javascript:void(0);" class="x-btn x-btn-noicon smenu" style="text-decoration:none;font-weight: normal;" onclick="toggleDetails(this,'g1')">{!$Label.SC_msg_Overview}</a>
                            <a href="javascript:void(0);" class="x-btn x-btn-noicon smenu" style="text-decoration:none;font-weight: normal;" onclick="toggleDetails(this,'g2')">{!$ObjectType.SCContract__c.fields.Runtime__c.label}</a>
                            <a href="javascript:void(0);" class="x-btn x-btn-noicon smenu" style="text-decoration:none;font-weight: normal;" onclick="toggleDetails(this,'g3')">{!$ObjectType.SCContract__c.fields.TerminationDate__c.label}</a>
                            <a href="javascript:void(0);" class="x-btn x-btn-noicon smenu" style="text-decoration:none;font-weight: normal;" onclick="toggleDetails(this,'g4')">{!$ObjectType.SCContract__c.fields.util_ProfitabilityRanking__c.label}</a>
                            <a href="javascript:void(0);" class="x-btn x-btn-noicon smenu" style="text-decoration:none;font-weight: normal;" onclick="toggleDetails(this,'g5')">{!$ObjectType.SCCOntractItem__c.labelPlural}</a>
                        </div>
                        <br/><br/>
                        
                    <!-- +++++++++ Group 1  +++++++++ -->
                        <div id="g1" class="detailPannel showDetail">
                        <table border="0" width="100%" cellspacing="0" cellpadding="2" style="margin:0 0 5px 0;">
                        <tr>
                        <td bgcolor="#dadada">

                           &nbsp;&nbsp;<b>{!$Label.SC_msg_Overview}</b>
                        </td>
                        </tr>
                        </table>
                        <div id="group1" style="margin:0;padding:0;overflow:hidden;display:block;">
                        <apex:pageblockSection columns="2" >
                            <apex:outputField value="{!contract.OrderType__c}" />
                            <apex:outputField value="{!contract.Status__c}" />
                            <apex:outputField value="{!contract.RecordType.Name}" />
                            <apex:outputField value="{!contract.IdExt__c}" />
                            <apex:outputField value="{!contract.Template__c}" />
                            <apex:outputField value="{!contract.IdOld__c}" />
                            <apex:outputField value="{!contract.TemplateName__c}" />
                            <apex:outputField value="{!contract.Brand__c}" />
                            <apex:outputField value="{!contract.Account__c}" />
                            <apex:outputField value="{!contract.Contact__c}" />
                            <apex:outputField value="{!contract.util_templatedetails__c}" />
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="{!$ObjectType.SCContract__c.fields.util_active__c.label}"/>
                                
                                <apex:outputPanel >
                                    <div id="isActiveImg"></div>
                                    <script>
                                        var tmpisActiveImg = '{!JSENCODE(contract.util_active__c)}';
                                        document.getElementById('isActiveImg').innerHTML = tmpisActiveImg;
                                    </script>
                                </apex:outputPanel>
                                
                            </apex:pageBlockSectionItem>
                        
                        </apex:pageblockSection>
                        </div>
                        </div>

                    <!-- +++++++++ Group 2 +++++++++ -->
                        <div id="g2" class="detailPannel showDetail">
                        <table border="0" width="100%" cellspacing="0" cellpadding="2" style="margin:0 0 5px 0;">
                        <tr>
                        <td bgcolor="#dadada">
                            &nbsp;&nbsp;
                            <b>{!$ObjectType.SCContract__c.fields.Runtime__c.label}</b>
                        </td>
                        </tr>
                        </table>
                        <div id="group2" style="margin:0;padding:0;overflow:hidden;display:block;">
                        <apex:pageBlockSection columns="2" >                 
                            <apex:outputField value="{!contract.ConclusionDate__c}" />
                            <apex:outputField value="{!contract.Runtime__c}" />
                            <apex:outputField value="{!contract.StartDate__c}" />
                            <apex:outputField value="{!contract.RuntimeMax__c}" />
                            <apex:outputField value="{!contract.EndDate__c}" />
                            <apex:outputField value="{!contract.AutoExtend__c}" />

                        </apex:pageblockSection>
                        </div>
                        </div>
                        
                    <!-- +++++++++ Group 3 +++++++++ -->
                        <div id="g3" class="detailPannel showDetail">
                        <table border="0" width="100%" cellspacing="0" cellpadding="2" style="margin:0 0 5px 0;">
                        <tr>
                        <td bgcolor="#dadada">
                            &nbsp;&nbsp;
                            <b>{!$ObjectType.SCContract__c.fields.TerminationDate__c.label}</b>
                        </td>
                        </tr>
                        </table>
                        <div id="group3" style="margin:0;padding:0;overflow:hidden;display:block;">
                        <apex:pageBlockSection columns="2" >
                            <apex:outputField value="{!contract.TerminationDate__c}" />
                            <apex:outputField value="{!contract.TerminationReceivedDate__c}" />
                            <apex:outputField value="{!contract.TerminationReason__c}" />
                            <apex:outputField value="{!contract.TerminationPeriod__c}" />
                            <apex:outputField value="{!contract.TerminationExtraordinary__c}" />
                            <apex:outputField value="{!contract.TerminationDescription__c}" />

                        </apex:pageblockSection>
                        </div>
                        </div>
                        
                    <!-- +++++++++ Group 4 +++++++++ -->
                        <div id="g4" class="detailPannel showDetail">
                        <table border="0" width="100%" cellspacing="0" cellpadding="2" style="margin:0 0 5px 0;">
                        <tr>
                        <td bgcolor="#dadada">
                            &nbsp;&nbsp;
                            <b>{!$ObjectType.SCContract__c.fields.util_ProfitabilityRanking__c.label}</b>
                        </td>
                        </tr>
                        </table>
                        <div id="group4" style="margin:0;padding:0;overflow:hidden;display:block;">
                        <apex:pageBlockSection columns="2" >
                        
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="{!$ObjectType.SCContract__c.fields.util_Profitability__c.label}"/>
                                <apex:outputText escape="false" value="{!HTMLENCODE(TEXT(contract.util_Profitability__c))}"/>
                            </apex:pageBlockSectionItem>
                            
                            <apex:pageBlockSectionItem >
                                <apex:outputLabel value="{!$ObjectType.SCContract__c.fields.util_ProfitabilityRanking__c.label}"/>

                                <apex:outputPanel >
                                    <div id="isProfitRankImg"></div>
                                    <script>
                                        var tmpisProfitRankImg = '{!JSENCODE(contract.util_ProfitabilityRanking__c)}';
                                        document.getElementById('isProfitRankImg').innerHTML = tmpisProfitRankImg;
                                    </script>
                                </apex:outputPanel>
                                
                            </apex:pageBlockSectionItem>

                            <apex:outputField value="{!contract.util_Profit__c}" />

                        </apex:pageblockSection>
                        </div>
                        </div>
                        

                    <!-- +++++++++ Group 5 +++++++++ -->
                        <div id="g5" class="detailPannel showDetail">
                        <table border="0" width="100%" cellspacing="0" cellpadding="2" style="margin:0 0 5px 0;">
                        <tr>
                        <td bgcolor="#dadada">
                            &nbsp;&nbsp;
                            <b>{!$ObjectType.SCCOntractItem__c.labelPlural}</b>
                        </td>
                        </tr>
                        </table>
                        <div id="group5" style="margin:0;padding:0;overflow:hidden;display:block;">
                        <apex:pageBlockTable value="{!contract.Service_Contract_Items__r}" var="contractItem">
                            <apex:column value="{!contractItem.Name}"/>
                            <apex:column value="{!contractItem.util_ib_serialno__c}"/>
                            <apex:column value="{!contractItem.util_ib_idInt__c}"/>
                            <apex:column value="{!contractItem.MaintenancePrice__c}"/>
                            <apex:column value="{!contractItem.MaintenanceInterval__c}"/>
                        </apex:pageBlockTable>
                        </div>
                        </div>
                        
                    </apex:repeat>
                    
                    
<!-- Installed Base Location Details -->
                    <apex:repeat value="{!d.dInstalledBaseLocation}" var="ibl" rendered="{!NOT(ISNULL(d.dInstalledBaseLocation))}">
                        
                        <span style="font-size:14px; font-weight:bold; color:#474747;">
                            <a href="/{!ibl.Id}" target="_blank">{!ibl.Name}</a>
                        </span>
                        
                        <div id="smallNavi" style="margin:5px 0 20px 0;width:100%;">
                            <a href="javascript:void(0);" id="allDetailsBtn" class="x-btn x-btn-noicon x-btn-pressed smenu" style="text-decoration:none;font-weight:normal;" onclick="toggleDetails(this,null)">&nbsp;&nbsp;{!$Label.SC_flt_All}&nbsp;&nbsp;</a>
                            <a href="javascript:void(0);" class="x-btn x-btn-noicon smenu" style="text-decoration:none;font-weight: normal;" onclick="toggleDetails(this,'g1')">{!$Label.SC_msg_Overview}</a>
                            <a href="javascript:void(0);" class="x-btn x-btn-noicon smenu" style="text-decoration:none;font-weight: normal;" onclick="toggleDetails(this,'g2')">{!$ObjectType.SCInstalledBaseRole__c.labelPlural}</a>
                            <a href="javascript:void(0);" class="x-btn x-btn-noicon smenu" style="text-decoration:none;font-weight: normal;" onclick="toggleDetails(this,'g3')">{!$ObjectType.SCInstalledBaseSystem__c.labelPlural}</a>
                            <a href="javascript:void(0);" class="x-btn x-btn-noicon smenu" style="text-decoration:none;font-weight: normal;" onclick="toggleDetails(this,'g4')">{!$ObjectType.SCInstalledBase__c.labelPlural}</a>
                        </div>
                        <br/><br/>
                        
                    <!-- +++++++++ Group 1  +++++++++ -->
                        <div id="g1" class="detailPannel showDetail">
                        <table border="0" width="100%" cellspacing="0" cellpadding="2" style="margin:0 0 5px 0;">
                        <tr>
                        <td bgcolor="#dadada">

                           &nbsp;&nbsp;<b>{!$Label.SC_msg_Overview}</b>
                        </td>
                        </tr>
                        </table>
                        <div id="group1" style="margin:0;padding:0;overflow:hidden;display:block;">
                        <apex:pageblockSection columns="2" >
                            <apex:outputField value="{!ibl.LocName__c}" />
                            <apex:outputField value="{!ibl.Status__c}" />
                            <apex:pageBlockSectionItem >
                            
                                <apex:outputLabel value="{!$ObjectType.SCInstalledBaseLocation__c.fields.Address__c.label}"/>
                                <!--
                                    Object types for this component
                                    - account
                                    - location
                                    - orderrole
                                    - orderitem
                                 -->
                                <c:SCAddressFormatted paramObjectId="{!ibl.Id}" paramObjectType="location" id="addressComponent"/>
                                
                            </apex:pageBlockSectionItem>
                            <apex:outputField value="{!ibl.BuildingDate__c}" />
                            <apex:outputField value="{!ibl.Country__c}" />
                            <apex:outputField value="{!ibl.Description__c}" />
                        </apex:pageblockSection>
                        
                        <!-- the address map -->
                        <apex:panelGroup id="addressmap" layout="none" style="width:100%;">
                            <apex:panelGrid columns="1" cellpadding="0" cellspacing="0" rendered="{!IF(ibl.GeoX__c = 0, 'false', 'true')}" style="width:100%;text-align:middle;margin:10px 0 10px 0;">

                            <apex:includeScript value="https://maps.googleapis.com/maps/api/js?v=3&client={!JSENCODE($Setup.SCApplicationSettings__c.GOOGLE_GEOCODE_CLIENTID__c)}&sensor=false&callback=initialize&channel=SCHistoryAdvanced"/>
                            
                            <!-- Google Maps -->
                            <script type="text/javascript">
                              function initialize() {
                                var latlng = new google.maps.LatLng({!HTMLENCODE(TEXT(ibl.GeoY__c))}, {!HTMLENCODE(TEXT(ibl.GeoX__c))});
                                var myOptions = {
                                  zoom: 14,
                                  center: latlng,
                                  mapTypeId: google.maps.MapTypeId.ROADMAP
                                };
                                var map = new google.maps.Map(document.getElementById("map_canvas"),
                                    myOptions);
                                    
                                var marker = new google.maps.Marker({  
                                    position: latlng,  
                                    map: map  
                                });  
                              }
                              initialize();
                            </script>
                            
                                <div id="map_canvas" style="width:100%; height:250px"></div>                                
                                
                            </apex:panelGrid>
                        </apex:panelgroup>
                        
                        </div>
                        </div>

                    <!-- +++++++++ Group 2 +++++++++ -->
                        <div id="g2" class="detailPannel showDetail">
                        <table border="0" width="100%" cellspacing="0" cellpadding="2" style="margin:0 0 5px 0;">
                        <tr>
                        <td bgcolor="#dadada">
                            &nbsp;&nbsp;
                            <b>{!$ObjectType.SCInstalledBaseRole__c.labelPlural}</b>
                        </td>
                        </tr>
                        </table>
                        <div id="group2" style="margin:0;padding:0;overflow:hidden;display:block;">
                        <apex:pageBlockTable value="{!ibl.Installed_Base_Roles__r}" var="role">
                            <apex:column value="{!role.Name}"/>
                            <apex:column value="{!role.Role__c}"/>
                            <apex:column value="{!role.Account__c}"/>

                        </apex:pageBlockTable>
                        </div>
                        </div>
                        
                    <!-- +++++++++ Group 3 +++++++++ -->
                        <div id="g3" class="detailPannel showDetail">
                        <table border="0" width="100%" cellspacing="0" cellpadding="2" style="margin:0 0 5px 0;">
                        <tr>
                        <td bgcolor="#dadada">
                            &nbsp;&nbsp;
                            <b>{!$ObjectType.SCInstalledBaseSystem__c.labelPlural}</b>
                        </td>
                        </tr>
                        </table>
                        <div id="group3" style="margin:0;padding:0;overflow:hidden;display:block;">
                        <apex:pageBlockTable value="{!ibl.InstalledBaseSystems__r}" var="system">
                            <apex:column value="{!system.Name}"/>
                            <apex:column value="{!system.Description__c}"/>

                        </apex:pageBlockTable>
                        </div>
                        </div>
                        
                    <!-- +++++++++ Group 4 +++++++++ -->
                        <div id="g4" class="detailPannel showDetail">
                        <table border="0" width="100%" cellspacing="0" cellpadding="2" style="margin:0 0 5px 0;">
                        <tr>
                        <td bgcolor="#dadada">
                            &nbsp;&nbsp;
                            <b>{!$ObjectType.SCInstalledBase__c.labelPlural}</b>
                        </td>
                        </tr>
                        </table>
                        <div id="group4" style="margin:0;padding:0;overflow:hidden;display:block;">
                        <apex:pageBlockTable value="{!ibl.InstalledBaseLocation__r}" var="ibase">
                            <apex:column value="{!ibase.Name}"/>
                            <apex:column value="{!ibase.Type__c}"/>
                            <apex:column value="{!ibase.ArticleName__c}"/>
                            <apex:column value="{!ibase.Brand__c}"/>
                            <apex:column value="{!ibase.ProductNameCalc__c}"/>
                            <apex:column value="{!ibase.InstallationDate__c}"/>

                        </apex:pageBlockTable>
                        </div>
                        </div>
                        
                    </apex:repeat>
                    
                    
<!-- System Details -->
                    <apex:repeat value="{!d.dSystem}" var="system" rendered="{!NOT(ISNULL(d.dSystem))}">
                        
                        <span style="font-size:14px; font-weight:bold; color:#474747;">
                            <a href="/{!system.Id}" target="_blank">{!system.Name}</a>
                        </span>
                        
                        <div id="smallNavi" style="margin:5px 0 20px 0;width:100%;">
                            <a href="javascript:void(0);" id="allDetailsBtn" class="x-btn x-btn-noicon x-btn-pressed smenu" style="text-decoration:none;font-weight:normal;" onclick="toggleDetails(this,null)">&nbsp;&nbsp;{!$Label.SC_flt_All}&nbsp;&nbsp;</a>
                            <a href="javascript:void(0);" class="x-btn x-btn-noicon smenu" style="text-decoration:none;font-weight: normal;" onclick="toggleDetails(this,'g1')">{!$Label.SC_msg_Overview}</a>
                            <a href="javascript:void(0);" class="x-btn x-btn-noicon smenu" style="text-decoration:none;font-weight: normal;" onclick="toggleDetails(this,'g2')">{!$ObjectType.SCInstalledBase__c.labelPlural}</a>
                        </div>
                        <br/><br/>
                        
                    <!-- +++++++++ Group 1  +++++++++ -->
                        <div id="g1" class="detailPannel showDetail">
                        <table border="0" width="100%" cellspacing="0" cellpadding="2" style="margin:0 0 5px 0;">
                        <tr>
                        <td bgcolor="#dadada">

                           &nbsp;&nbsp;<b>{!$Label.SC_msg_Overview}</b>
                        </td>
                        </tr>
                        </table>
                        <div id="group1" style="margin:0 0 10px 0;padding:0;overflow:hidden;display:block;">
                        <apex:pageblockSection columns="2" >
                            <apex:outputField value="{!system.Name}" />
                            <apex:outputField value="{!system.InstalledBaseLocation__c}" />
                            <apex:outputField value="{!system.Description__c}" />
                            <apex:outputField value="{!system.CreatedDate}" />
                            
                        </apex:pageblockSection>

                        
                        </div>
                        </div>

                    <!-- +++++++++ Group 2 +++++++++ -->
                        <div id="g2" class="detailPannel showDetail">
                        <table border="0" width="100%" cellspacing="0" cellpadding="2" style="margin:0 0 5px 0;">
                        <tr>
                        <td bgcolor="#dadada">
                            &nbsp;&nbsp;
                            <b>{!$ObjectType.SCInstalledBase__c.labelPlural}</b>
                        </td>
                        </tr>
                        </table>
                        <div id="group2" style="margin:0;padding:0;overflow:hidden;display:block;">
                        <apex:pageBlockTable value="{!system.InstalledBaseSystem__r}" var="installedBase">
                            <apex:column value="{!installedBase.Name}"/>
                            <apex:column value="{!installedBase.Status__c}"/>
                            <apex:column value="{!installedBase.Type__c}"/>
                            <apex:column value="{!installedBase.InstallationDate__c}"/>
                            <apex:column value="{!installedBase.SerialNo__c}"/>
                            <apex:column value="{!installedBase.ProductNameCalc__c}"/>

                        </apex:pageBlockTable>
                        </div>
                        </div>
                        
                    </apex:repeat>
                    
                    
                    
                    
                    
                </apex:repeat>
            
            </div>
            
            </div>    
            </apex:pageBlock>
            
            
            </td>
            </tr>
        </table>
        
        </div>    
    </apex:form>
   
    <script>
    
    // Toggles the installed-base-location pannel and +/- icon
    function togglePanel(id1,id2)
    {
        jQuery('#'+id1).slideToggle('100');
        if(jQuery('#'+id2).hasClass('plusBg')){
            jQuery('#'+id2).removeClass('plusBg').addClass('minusBg');
        }
        else{
            jQuery('#'+id2).removeClass('minusBg').addClass('plusBg');
        }
    }
    
    // Print all selected orders
    function printOrders()
    {    
        var ids = new Array();
        
        jQuery('input.selectToPint').each(function(){
            if(jQuery(this).attr('checked') && jQuery(this).val() != ''){
                ids.push(jQuery(this).val());
            }
        });
        
        if(ids.length == 0){
            alert('{!$Label.SC_app_SelectAtLeastOneOrder}');
        }
        else{
            var templatename = '{!HTMLENCODE($Setup.SCApplicationSettings__c.PRINTINGTEMPLATE_ORDER__c)}';
            var sql = "select id from ITBtemplate__Template__c where name = '" + templatename + "'";
            var result = sforce.connection.query(sql);
            var records = result.getArray("records");
            if(records.length > 0)
            {
                var templ = records[0]; 
                var myurl = "/apex/ITBtemplate__CtrlGenerateDocument?templateId=" + templ.Id + "&rootids="+ids+"&override=false&retURL=";
                window.open(myurl);
            }
            else
            {
               alert("template not found:" +  templatename);
            }
        }
    }
    
    function selectAllOrders()
    {
        if(jQuery('#selectAllOrderCheckboxes').is(":checked")){
            jQuery('input.selectToPint').each(function(){
                jQuery(this).attr('checked', true);
            });
        }
        else{
            jQuery('input.selectToPint').each(function(){
                jQuery(this).attr('checked', false);
            });
        }
    }
    
    jQuery(document).ready(function() {
        selectFirst();
    });
        
    </script>
    
    </apex:outputPanel>
    

</apex:component>