<apex:component allowDML="true">

<apex:attribute name="index" type="Integer" 
                required="true" description="index of the component, if it is more than once on a page"/>
<apex:attribute name="allValues" type="SelectOption[]" 
                required="true" description="all items, shown in the left selction list"/>
<apex:attribute name="curValues" type="SelectOption[]" 
                required="true" description="currently selected items, shown in the right selction list"/>
<apex:attribute name="curValueIds" type="String" 
                required="true" description="comma separated list of currently selected id"/>


<style type="text/css">

.selectList
{
    min-width: 350px;
}

</style>


    <apex:panelGroup layout="none">
        <apex:inputHidden value="{!curValueIds}" id="curSelection"/>
        <apex:panelGrid columns="3">
            <apex:selectList id="all" size="20" multiselect="true" styleClass="selectList"/>
            <apex:panelGroup >
                <apex:commandButton value=">>" onclick="return onAddItems_{!index}();" style="margin: 150px 10px 0 10px;"/>
                <br/>
                <apex:commandButton value="<<" onclick="return onRemoveItems_{!index}();" style="margin: 5px 10px 0 10px;"/>
            </apex:panelGroup>
            <apex:selectList id="selected" size="20" multiselect="true" styleClass="selectList"/>
        </apex:panelGrid>
    </apex:panelGroup>


<script type="text/javascript">

// initialize the select list which shows all values
var allOptions = document.getElementById('{!$Component.all}').options;
if (allOptions.length > 0)
{
    allOptions[0] = null;
}

<apex:repeat var="allVal" value="{!allValues}">
    var newOption = new Option('{!allVal.label}', '{!allVal.value}', false, false);
    allOptions[allOptions.length] = newOption;
</apex:repeat>


// initialize the select list which shows the selected values
var curOptions = document.getElementById('{!$Component.selected}').options;
if (curOptions.length > 0)
{
    curOptions[0] = null;
}

<apex:repeat var="curVal" value="{!curValues}">
    var newOption = new Option('{!curVal.label}', '{!curVal.value}', false, false);
    curOptions[curOptions.length] = newOption;
</apex:repeat>


//
// Sort the content of a select list by the labels
// jQuery function sortOptions() does not work here.
// no idea why.
//
function sortOptions(elemId, sort)
{
    var j = typeof(sort) == "undefined" ? true : !!sort;

    var c = document.getElementById(elemId).options;
    var g = c.length;
    var d = [];
    for (var b=0; b<g; b++)
    {
        d[b] = {v:c[b].value, t:c[b].text};
    }

    d.sort(function(a, f)
    {
        o1t = a.t.toLowerCase(), o2t = f.t.toLowerCase();
        if (o1t == o2t) return 0;
        if (j)
        {
            return o1t < o2t ? -1 : 1;
        }
        else
        {
            return o1t > o2t ? -1 : 1;
        }
    });
    for (var b=0; b<g; b++)
    {
        c[b].text = d[b].t;
        c[b].value = d[b].v;
    }
}

//
// Removes the entries from the left selection list which has alread been selected.
// This function is only called when the page is build up.
//
function removeSelected(allId, selectedId)
{
    var curSelected = document.getElementById(selectedId).options;
    var allItems = document.getElementById(allId).options;
    
    for (var i=0; i<curSelected.length; i++)
    {
        for (var j=0; j<allItems.length; j++)
        {
            if (allItems[j].value == curSelected[i].value)
            {
                allItems[j] = null;
                break;
            }
        }
    }
}

//
// Shifts the selected items from one selection list to the other
// and removes the selected from the source selection list.
//
function shiftItems(sourceId, destId)
{
    var sourceOpt = document.getElementById(sourceId).options;
    var destOpt = document.getElementById(destId).options;

    for (var i=sourceOpt.length-1; i>=0; i--)
    {
        if (sourceOpt[i].selected)
        {
            var newOption = new Option(sourceOpt[i].text, sourceOpt[i].value, false, false);
            destOpt[destOpt.length] = newOption;
            sourceOpt[i] = null;
        }
    }
}

//
// Updates the hidden field, which contains the ids (comma separated) of the current 
// entries in the right selection list.
// 
function updateHiddenField(sourceId, hiddenId)
{    
    var allOptions = document.getElementById(sourceId).options;
    var valueList = new Array(allOptions.length);
    for (var i=0; i<allOptions.length; i++)
    {
        valueList[i] = allOptions[i].value;
    }        
    var multipleValues = valueList.join(',');
    document.getElementById(hiddenId).value = multipleValues;
}

//
// Method which shifts the selected entries from the left to the right selection list.
// And sorts the right list.
//
function onAddItems_{!index}()
{
    shiftItems('{!$Component.all}', '{!$Component.selected}');
    updateHiddenField('{!$Component.selected}', '{!$Component.curSelection}');
    sortOptions('{!$Component.selected}', true);
    return false;
}

//
// Method which shifts the selected entries from the right to the left selection list.
// And sorts the left list.
//
function onRemoveItems_{!index}()
{
    shiftItems('{!$Component.selected}', '{!$Component.all}');
    updateHiddenField('{!$Component.selected}', '{!$Component.curSelection}');
    sortOptions('{!$Component.all}', true);
    return false;
}


//
// first initialization of the lists
// 
removeSelected('{!$Component.all}', '{!$Component.selected}');
sortOptions('{!$Component.all}', true);
sortOptions('{!$Component.selected}', true);

</script>
</apex:component>