<apex:component controller="SCProductLookupController">

<style>
.h1 { 
    font-size:1.7em;
    font-weight:bold;
    margin: 5px 5px 15px 5px;
}
body .bEditBlock .pbBottomButtons, 
body .apexp .bPageBlock.apexDefaultPageBlock .pbBottomButtons {
margin-top:0px;
}
</style>

<script type="text/javascript">

function prodModelSelected(modelname)
{
    document.getElementById(productModelId).value = modelname;    
    jQuery(".ui-dialog-titlebar-close").trigger('click');
}

</script>


    <apex:panelGroup id="messagePanel">
        <apex:pageMessage summary="{!message}" severity="warning" strength="3" rendered="{!NOT(ISNULL(message))}"/>
    </apex:panelGroup>
    
    <apex:messages id="messages" />
    <apex:form id="pms">
        <apex:outputPanel id="thePanel" layout="block" styleClass="h1" rendered="false">
            {!$Label.SC_app_ProductSearchTitle}
        </apex:outputPanel>

        <apex:pageBlock >
        
            <apex:pageBlockButtons location="bottom">
                <!-- search button -->
                <apex:commandButton action="{!search}" value="{!$Label.SC_btn_Search}" rerender="resultBlock,messagePanel" id="pmsbid"  />
                <script>
                var pmsbid = document.getElementById("{!$Component.pmsbid}").id;
                </script>
            </apex:pageBlockButtons>
    
            <apex:panelGrid columns="5" id="searchGrid" style="font-size:11px;">
            
                <apex:outputLabel value="{!$Label.SC_app_ProductSearchBox}"/>
                <apex:outputLabel value="{!$ObjectType.SCProductModel__c.fields.Brand__c.label}"/>
                <apex:outputLabel value="{!$ObjectType.SCProductModel__c.fields.UnitClass__c.label}"/>      
                <apex:outputLabel value="{!$ObjectType.SCProductModel__c.fields.UnitType__c.label}"/>
                <apex:outputLabel value="{!$ObjectType.SCProductModel__c.fields.Power__c.label}"/>
                
                <!-- product search box -->
                <apex:inputText id="product" value="{!productName}" />   
      
                <!-- brand select list -->
                <apex:selectList value="{!selectedBrand}" multiselect="false" size="1" id="brand"> 
                    <apex:selectOptions value="{!allBrand}"/>
                    <apex:actionSupport event="onchange"
                        rerender="resultBlock,messagePanel"
                        action="{!search}">
                    </apex:actionSupport>
                </apex:selectList>

                <!-- unit class select list -->
                <apex:inputField value="{!searchProduct.UnitClass__c}" >
                    <apex:actionSupport event="onchange"
                        rerender="resultBlock,messagePanel"
                        action="{!search}">
                    </apex:actionSupport>
                </apex:inputField>

                <!-- unit type select list -->
                <apex:inputField value="{!searchProduct.UnitType__c}" >
                    <apex:actionSupport event="onchange"
                        rerender="resultBlock,messagePanel"
                        action="{!search}">
                    </apex:actionSupport>
                </apex:inputField>

                <!-- power select list -->
                <apex:inputField value="{!searchProduct.Power__c}" >
                    <apex:actionSupport event="onchange"
                        rerender="resultBlock,messagePanel"
                        action="{!search}">
                    </apex:actionSupport>
                </apex:inputField>
            </apex:panelGrid>
            
            <!-- get id from input fields -->
            <script>
                var productModelNameId = document.getElementById("{!$Component.product}").id;
                var productBrandNameId = document.getElementById("{!$Component.brand}").id;
                //var pmsbid = document.getElementById("{!$Component.pmsbid}").value;
                //var pms = document.getElementById("{!$Component.pms}").name;
            </script>  
        </apex:pageBlock>
        
        <apex:panelGroup id="resultBlock"  style="font-size:11px;">
            <apex:pageBlock rendered="{!NOT(ISNULL(foundProducts))}">
                <apex:pageBlockSection columns="1" id="foundProductsSection">
                    <apex:pageBlockTable value="{!foundProducts}" var="item">
                        <apex:column >
                            <apex:facet name="header">{!$ObjectType.Brand__c.fields.Name.label}</apex:facet>
                            <apex:outputText value="{!item.Brand__r.Name}" />
                        </apex:column>
                        <apex:column >
                            <apex:facet name="header">{!$ObjectType.SCProductModel__c.fields.Name.label}</apex:facet>
                            <a href="#" onclick="prodModelSelected('{!item.Name}');" class="closeDialog">{!item.Name}</a>
                        </apex:column>
                        <apex:column >
                            <apex:facet name="header">{!$ObjectType.SCProductModel__c.fields.Group__c.label}</apex:facet>
                            <apex:outputText value="{!item.Group__c}" />
                        </apex:column>
                        <apex:column >
                            <apex:facet name="header">{!$ObjectType.SCProductModel__c.fields.UnitClass__c.label}</apex:facet>
                            <apex:outputText value="{!item.UnitClass__c}" />
                        </apex:column>
                        <apex:column >
                            <apex:facet name="header">{!$ObjectType.SCProductModel__c.fields.UnitType__c.label}</apex:facet>
                            <apex:outputText value="{!item.UnitType__c}" />
                        </apex:column>
                        <apex:column >
                            <apex:facet name="header">{!$ObjectType.SCProductModel__c.fields.Power__c.label}</apex:facet>
                            <apex:outputText value="{!item.Power__c}" />
                        </apex:column>
                    </apex:pageBlockTable> 
                </apex:pageBlockSection>   
                <!-- paging part -->
                <c:SCPagination id="paginationProductModel" setController="{!setController}" pageRerender="foundProductsSection"/>
            </apex:pageBlock>
        </apex:panelGroup> 
    </apex:form>


</apex:component>