<apex:page controller="SCSearchClass">

<apex:includeScript value="{!URLFOR($Resource.tablesort,'/jquery-1.7.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.tablesort,'/jquery.tablesorter.min.js')}" />

<style>
.radioButton {}
</style>

<script type="text/javascript">
$(document).ready(function() 
    { 
        $("table").tablesorter(); 
        
        var elems = document.getElementsByName('radioGroup');
        if ('{!radioSel}' == '1')
        {
            elems[1].checked = true;
        }
        else
        {
            elems[0].checked = true;
        }
    } 
); 

function setVal(param)
{
    jQuery('[id$=radioSel]').val(jQuery(param).val());
}


</script>

    <apex:form accept="dosearch" style="margin:0 0 5px 0;">           
        <apex:panelGrid columns="9">
            <input type="radio" value="0" name="radioGroup" class="radioButton" onclick="setVal(this)"/>
            <apex:outputText value="Object: "/>
            <apex:inputText value="{!search}" style="width:200px;"/>
        
            <apex:inputHidden id="radioSel" value="{!radioSel}"/>
            <apex:outputText value=""/>
            <apex:outputText value=""/>
            
            <apex:commandButton id="dosearch" value="Search" action="{!doSearch}" style="width:120px; margin:0 0 0 5px;" />
            
            <apex:commandButton id="createNewClass"
                                reRender="none" 
                                value="New class" 
                                style="width:120px; margin:0 0 0 50px;" 
                                onclick="javacript:window.location='/setup/build/editApexClass.apexp?retURL=/apex/c'" />
                                
            <apex:commandButton id="createNewPage" 
                                reRender="none"
                                value="New page" 
                                style="width:120px; margin:0 0 0 5px;" 
                                onclick="javacript:window.location='/066/e?retURL=/apex/c'" />

           
            <input type="radio" value="1" name="radioGroup"  class="radioButton" onclick="setVal(this)"/>
            <apex:outputText value="Modified by: "/>
            <apex:inputField value="{!resource.Employee__c}" style="width:200px;"/>
            <apex:outputText value="in last: "/>
            <apex:inputText value="{!days}" style="width:20px;"/>
            <apex:outputText value="days"/>
            <apex:outputText value="(1 day = today)"/>
       </apex:panelGrid>
    </apex:form>
        
    <apex:pageBlock id="result">
    <h2>Classes</h2>
       <apex:pageBlockTable value="{!results}" var="item">
           <apex:column headerValue="Name">
               <a href="/{!item.Id}/e" target="_blank" class="actionLink" style="color: #015BA7;text-decoration:none;">
                    Edit
               </a>
               &nbsp;&nbsp;
                <a href="/{!item.Id}" target="_blank">
                    <apex:outputField value="{!item.name}"/>
                </a>
           </apex:column>
           <apex:column headerValue="Changed by" value="{!item.LastModifiedBy.Name}"/>
           <apex:column headerValue="Changed on" value="{!item.LastModifiedDate}"/>
       </apex:pageBlockTable>
       
       <h2>Trigger</h2>
       <apex:pageBlockTable value="{!resultsT}" var="item2">
           <apex:column headerValue="Name" >
                <a href="/{!item2.Id}" target="_blank">
                    <apex:outputField value="{!item2.name}"/>
                </a>
           </apex:column>
           <apex:column headerValue="Status" value="{!item2.status}"/>
           <apex:column headerValue="Changed by" value="{!item2.LastModifiedBy.Name}"/>
           <apex:column headerValue="Changed on" value="{!item2.LastModifiedDate}"/>
       </apex:pageBlockTable>

       <h2>Pages</h2>
       <apex:pageBlockTable value="{!resultsP}" var="item3">
           <apex:column headerValue="Name">
               <a href="/{!item3.Id}/e" target="_blank" class="actionLink" style="color: #015BA7;text-decoration:none;">
                    Edit
               </a>
               &nbsp;&nbsp;
                <a href="/{!item3.Id}" target="_blank">
                    <apex:outputField value="{!item3.name}"/>
                </a>
           </apex:column>
           <apex:column headerValue="Changed by" value="{!item3.LastModifiedBy.Name}"/>
           <apex:column headerValue="Changed on" value="{!item3.LastModifiedDate}"/>
       </apex:pageBlockTable>

       <h2>Components</h2>
       <apex:pageBlockTable value="{!resultsComp}" var="itemComp">
           <apex:column headerValue="Name">
               <a href="/apexpages/setup/editApexComponent.apexp?id={!itemComp.Id}" target="_blank" class="actionLink" style="color: #015BA7;text-decoration:none;">
                    Edit
               </a>
               &nbsp;&nbsp;
                <a href="/apexpages/setup/viewApexComponent.apexp?id={!itemComp.Id}" target="_blank">
                    <apex:outputField value="{!itemComp.name}"/>
                </a>
           </apex:column>
           <apex:column headerValue="Changed by" value="{!itemComp.LastModifiedBy.Name}"/>
           <apex:column headerValue="Changed on" value="{!itemComp.LastModifiedDate}"/>
       </apex:pageBlockTable>

       <h2>Objects</h2>
       <apex:pageBlockTable value="{!resultsObj}" var="o">
           <apex:column headerValue="Name">
                <a href="/{!o.url}" target="_blank">
                    <apex:outputText value="{!o.name}"/>
                </a>
           </apex:column>

<!--           
           <apex:column headerValue="Name">
                <a href="/{!item4.Id}" target="_blank">
                    <apex:outputField value="{!item4.name}"/>
                </a>
           </apex:column>
           <apex:column headerValue="Changed by" value="{!item4.LastModifiedBy.Name}"/>
           <apex:column headerValue="Changed on" value="{!item4.LastModifiedDate}"/>
-->           
       </apex:pageBlockTable>


       <h2>User</h2>
       <apex:pageBlockTable value="{!resultsU}" var="item4">
           <apex:column headerValue="Action">
                <a href="/servlet/servlet.su?oid={!orgid}&suorgadminid={!item4.Id}&retURL=%2Fapex%2Fc&targetURL=%2Fhome%2Fhome.jsp" target="_blank">
                    Login
                </a>
           </apex:column>
           <apex:column headerValue="User" >
                <a href="/{!item4.Id}?noredirect=1" target="_blank">
                    <apex:outputField value="{!item4.name}"/>
                </a>
           </apex:column>
           <apex:column headerValue="Profile" value="{!item4.Profile.Name}"/>
           <apex:column headerValue="Role" value="{!item4.UserRole.Name}"/>
           <apex:column headerValue="Changed by" value="{!item4.LastModifiedBy.Name}"/>
           <apex:column headerValue="Changed on" value="{!item4.LastModifiedDate}"/>
       </apex:pageBlockTable>


       
    </apex:pageBlock>
    
</apex:page>