<apex:page StandardController="PictureOfSuccess__c" sidebar="false" showHeader="false">
    
    <style type="text/css">
        body .bPageBlock .pbBody .red .pbSubheader{
            background-color:#B81321;
        }
        
        .bPageBlock{
            border-color: #B81321 !important;
        }
        
        .red .bPageBlock{
            border: 0px none #B81321 !important;
        }

        .button_bar{
            text-align:center;
            margin-top: 10px;
            margin-bottom: 10px
        }

    </style>

       <apex:pageBlock id="PB_Image" title="Picture of Success">
               <apex:form > 
                   <apex:outputPanel id="OP_Buttons_Image" layout="block" styleClass="button_bar">
                        <apex:commandButton id="BTN_Edit" value="{!$Label.fsfa_Edit}" action="{!edit}"/>
                        <apex:commandButton id="BTN_Save" value="{!$Label.fsfa_save}" action="{!save}" style="display: none" />
                        <apex:commandButton id="BTN_Cancel" value="{!$Label.fsfa_cancel}"  action="{!cancel}" style="display: none"/>
                        <apex:commandButton id="BTN_Close" value="{!$Label.fsfa_close}"  action="/apex/fSFA_PofS_List?sfdc.tabName=01rc00000008lAV"/>
                   </apex:outputPanel>
               <apex:outputPanel styleClass="red">
                   <apex:pageblockSection id="PBS_PofSAttributes" columns="2" title="{!$Label.fsfa_Setting}" showHeader="true">
                        <apex:repeat value="{!$ObjectType.PictureOfSuccess__c.FieldSets.Header_Information}" var="LO_Question">
                            <apex:outputField value="{!PictureOfSuccess__c[ LO_Question ]}" rendered="{!LO_Question.Label != 'Picture'}" />
                        </apex:repeat>
                   </apex:pageblockSection>
               </apex:outputPanel>
            <!-- <apex:inlineEditSupport event="ondblClick" showOnEdit="BTN_Save, BTN_Cancel" hideOnEdit="BTN_Edit" /> -->
            </apex:form> 
            <!-- <c:fsFA_PofS_DeviceModelComponent PofSID="{!PictureOfSuccess__c.Id}" /> -->
            <c:fsFA_PofS_ImageComponent PofSID="{!PictureOfSuccess__c.Id}" />
       </apex:pageBlock>  
    
</apex:page>