<apex:page controller="GMS_SS_Test">
    <apex:messages />
    <apex:form >
        <apex:pageBlock >
            <apex:pageBlockSection >
                <apex:commandButton value="Start" action="{!start}"/>
                <apex:repeat value="{!Print}" var="string">
                    <apex:outputText value="{!string}"/><br/>
                </apex:repeat>
            </apex:pageBlockSection>
            <apex:pageBlockTable value="{!listDomVals}" var="domVal">
                <apex:column >
                    <a href="/{!domVal.Id}" target="_blank">
                        <apex:outputField value="{!domVal.ID2__c}"/>
                    </a>
                </apex:column>
                <apex:column value="{!domVal.tmp_De__c}" />
                <apex:column value="{!domVal.tmp_En__c}" />
            </apex:pageBlockTable>
        </apex:pageBlock>
    </apex:form>
</apex:page>