<!--
 * @(#)SCAppointmentAnalysis.page
 * 
 * Copyright 2010 by GMS Development
 * Karl-Schurz-Strasse 29,  33100 Paderborn
 * All rights reserved.
 * This software is the confidential and proprietary information
 * of GMS Development GmbH. ("Confidential Information").  You
 * shall not disclose such Confidential Information and shall use
 * it only in accordance with the terms of the license agreement
 * you entered into with GMS.
 *
 * This page opens an applet that shows details about the last appointment proposal request
 * This can be used to determine why certain engineers are not included in the proposal list.
 * @author ls <ldiembeck@gms-online.de>
 * @version $Revision$, $Date$
-->

<apex:page title="Appointment Proposal Analysis" controller="SCPlanningSessionExtension" name="AppointmentAnalysis" sidebar="fals" showHeader="fals"> 
  <apex:form >
    <apex:pageBlock title="Automatic scheduling details" mode="edit">
        <apex:pageBlockButtons >
            <apex:commandButton value="Close" action="javascript:window.close();" style="width:25%"/>
        </apex:pageBlockButtons>    

        <c:SCPlanningBoard codeBase="{!codeBase}"
            sessionID="{!sessionID}" 
            userID="{!userID}" 
            service="{!service}" 
            userLang="{!userLang}" 
            mode="ANALYSE"
        />
    </apex:pageBlock>
  </apex:form>
</apex:page>