<!--
 * @(#)SCAppointmentPageContract.page
 * 
 * Copyright 2011 by GMS Development
 * Karl-Schurz-Strasse 29,  33100 Paderborn
 * All rights reserved.
 * This software is the confidential and proprietary information
 * of GMS Development GmbH. ("Confidential Information").  You
 * shall not disclose such Confidential Information and shall use
 * it only in accordance with the terms of the license agreement
 * you entered into with GMS.
 *
 * @author na <narmbruster@gms-online.de>
 * @version $Revision$, $Date$

###TODO finalize and reformat the page (try to use the component SCAppointmentProposal)
-->
<apex:page standardController="SCContract__c" extensions="SCContractExtension,SCAppointmentExtension" >
 

<style type="text/css">
.processing
{
    background:url(/img/loading.gif) no-repeat 0 0; 
    padding-left:20px; 
    margin-left:10px; 
    padding-bottom:5px; 
    font-size:12px;
}

div.hideCurrDate span.dateInput span.dateFormat{
   display:none;
}

</style>


<apex:stylesheet value="{!URLFOR($Resource.SCRes,'css/cp-global.css')}" />

<apex:includeScript value="{!URLFOR($Resource.SCRes,'lib/jquery/js/jquery-1.7.1.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SCRes,'scripts/global.js')}" />
<apex:includeScript value="{!URLFOR($Resource.SCRes,'scripts/notification.js')}" />


<script type="text/javascript">

/**
 * DOMREADY event processing
 */
jQuery(document).ready(function()
{
    
    bottomElem = jQuery('[id$=dlgHistory]');
    toBottom = true;

    if (notificationOk)
    {
        blockScreen('blocker', true, !jQuery('#sidebarCell').hasClass('sidebarCollapsed'));
    }
});

jQuery('#handlebarContainer').click(function()
{
    if (notificationOk)
    {
        blockScreen('blocker', true, jQuery('#sidebarCell').hasClass('sidebarCollapsed'));
    }
});

/** 
* Is called when a customer property is changed. If all questions are answered,
* the methode onContinueServiceMessage is called
*/
function onChgCustomerProperty()
{
    var allAnswered = 1;
    jQuery('select[class=customerProperty]').each( function(index, element)
    {
        allAnswered &= (jQuery(element).val() != '');
    });
    
    if (1 == allAnswered)
    {
        onContinueServiceMessage();
    }
}
</script>


<apex:form id="dlgForm">

<apex:outputPanel id="dlgPanel">
    <!-- Order summary - the time window fields are displayed if invalid -->
    <apex:pageBlock title="{!$Label.SC_msg_ContractDispatch}"  id="dlgContract">
        <apex:pageBlockButtons location="top">
            <apex:commandButton value="{!$Label.SC_btn_Cancel}" action="/{!id}" />
        </apex:pageBlockButtons>    
    
        <apex:pageBlockSection id="dlgOverview">
            <apex:pageBlock >
                <apex:pageBlockSection title="{!$ObjectType.SCOrder__c.fields.Contract__c.label} [{!contract.name}]">
                    <apex:outputField value="{!contract.Account__c}"/>
                        <apex:outputpanel >
                            <apex:outputField value="{!contract.EnableVisitCreation__c}" />&nbsp;
                            <apex:outputText value="{!$ObjectType.SCContract__c.fields.EnableVisitCreation__c.label}" />
                        </apex:outputpanel>
                    <apex:outputField value="{!contract.Status__c}"/>
                        <apex:outputpanel >
                            <apex:outputField value="{!contract.EnableOrderCreation__c}" />&nbsp;
                            <apex:outputText value="{!$ObjectType.SCContract__c.fields.EnableOrderCreation__c.label}" />
                        </apex:outputpanel>
                    <apex:outputField value="{!contract.StartDate__c}"/>
                        <apex:outputpanel >
                            <apex:outputField value="{!contract.EnableAutoScheduling__c}" />&nbsp;
                            <apex:outputText value="{!$ObjectType.SCContract__c.fields.EnableAutoScheduling__c.label}" />
                        </apex:outputpanel>
                    <apex:outputField value="{!contract.EndDate__c}"/>
                        <apex:outputPanel >Laufzeit min/max/auto:{!RunTimeDetails}
                        </apex:outputPanel>
                    <!--                    
                    <apex:outputField value="{!contract.Contact__c}" />
                    <apex:outputField value="{!contract.util_MaintenanceDuration__c}"/>
                    -->                        
                </apex:pageBlockSection> 
                        
                <apex:pageBlockSection columns="1">
                    <apex:panelGrid columns="4">
                    <apex:outputText >
                        <b>{!$ObjectType.SCContract__c.fields.MaintenanceFirstDate__c.label}</b>&nbsp;
                    </apex:outputText>
                        <apex:outputField value="{!contract.MaintenanceFirstDate__c}"/>

                    <apex:outputText >
                        <b>{!$ObjectType.SCContract__c.fields.util_MaintenancePrice__c.label}</b>&nbsp;
                    </apex:outputText>  
                        <apex:outputField value="{!contract.util_MaintenancePrice__c}"/>

                    <apex:outputText >
                        <b>{!$ObjectType.SCContract__c.fields.MaintenanceLastDate__c.label}</b>&nbsp;
                    </apex:outputText>  
                        <apex:outputField value="{!contract.MaintenanceLastDate__c}"/>

                    <apex:outputText >
                        <b>{!$ObjectType.SCContract__c.fields.MaintenanceCreationShiftFactor__c.label}&nbsp;</b>
                    </apex:outputText>
                        <apex:outputField value="{!contract.MaintenanceCreationShiftFactor__c}"/>

                    
                    </apex:panelGrid>
                </apex:pageBlockSection> 
            </apex:pageBlock>
        <apex:outputpanel >  
    
            <apex:pageBlock >
                <apex:pageblocksection columns="1" title="{!$ObjectType.SCContract__c.fields.Template__c.label} [{!contract.util_templatedetails__c}]">
                    <apex:outputpanel >
                        <apex:outputField value="{!contract.Template__r.EnableVisitCreation__c}" />&nbsp;
                        <apex:outputText value="{!$ObjectType.SCContract__c.fields.EnableVisitCreation__c.label}" />
                    </apex:outputpanel>

                    <apex:outputpanel >
                        <apex:outputField value="{!contract.Template__r.EnableOrderCreation__c}" />&nbsp;
                        <apex:outputText value="{!$ObjectType.SCContract__c.fields.EnableOrderCreation__c.label}" />
                    </apex:outputpanel>

                    <apex:outputpanel >
                        <apex:outputField value="{!contract.Template__r.EnableAutoScheduling__c}" />&nbsp;
                        <apex:outputText value="{!$ObjectType.SCContract__c.fields.EnableAutoScheduling__c.label}" />
                    </apex:outputpanel>
                </apex:pageblocksection>
            </apex:pageBlock>

            <apex:pageBlockSection columns="1" rendered="{!IsCustomerLocked}">
                <apex:pageMessage severity="warning" strength="1" escape="false" title="{!$Label.SC_msg_AccLockTitle}"> 
                    {!$Label.SC_msg_AccLockInfo}: 
                    <apex:panelGroup layout="none" rendered="{!NOT(ISNULL(acc.LockType__c))}">
                        <b>{!$ObjectType.Account.fields.LockType__c.label}:</b> 
                        [<apex:outputField value="{!acc.LockType__c}"/>] 
                    </apex:panelGroup>
                    <apex:panelGroup layout="none" rendered="{!NOT(ISNULL(acc.RiskClass__c))}">
                        <b>{!$ObjectType.Account.fields.RiskClass__c.label}:</b> 
                        [<apex:outputField value="{!acc.RiskClass__c}"/>]
                    </apex:panelGroup>
                </apex:pageMessage>
            </apex:pageBlockSection>

          </apex:outputpanel>  
        </apex:pageBlockSection> 
 
        <apex:pageBlockSection columns="1"> 
            <apex:outputPanel rendered="{!NOT(IsCustomerLocked)}" style="width: 100%">  
                <c:SCNotification paramAccount="{!contract.Account__c}" />
            </apex:outputPanel>  
        </apex:pageBlockSection> 

        <div id="blocker"></div>

        <apex:pageBlockSection columns="1" id="dlgWarning">
 
        <apex:pageMessages showDetail="false" escape="false"  />


        <!-- Validation: can the contract be scheduled? -->
<!--        
                    <apex:pageMessage severity="warning" strength="2" title="{!$Label.SC_msg_SchedulingWarning}" escape="false"> 
                    < !--{!$Label.SC_msg_SchedulingImpossible}-- >
                    Der Vertrag kann nicht disponiert werden wegen:
                    
                    <B><apex:outputLabel value="{!$ObjectType.SCContract__c.fields.Status__c.label}"/>
                    [<apex:outputField value="{!contract.Status__c}"/>] / 
                    <apex:outputLabel value="{!$ObjectType.SCContract__c.fields.EnableVisitCreation__c.label}"/>
                    [<apex:outputField value="{!contract.EnableVisitCreation__c}"/><apex:outputField value="{!contract.Template__r.EnableVisitCreation__c}"/>] <BR/>
                    </B>
                    </apex:pageMessage>
-->                    
        </apex:pageBlockSection> 



        <!-- Validation: the contract visits -->
        <apex:pageBlockSection columns="1"  rendered="{!canDispatch}" id="dlgContractVisits" title="{!$Label.SC_msg_ContractVisits}">
          <apex:outputPanel >
        
            <table width="100%"><tr>
                <td >
                    <apex:commandLink id="lnkAutoCreateNewVisit"
                                  value="{!$Label.SC_btn_ContractCalcNextVisit}"  
                                  action="{!onCreateNewVisit}"   
                                  immediate="true" 
                                  reRender="dlgContractVisits"
                                  status="dlgProcessingStatus"/>&nbsp;&nbsp;

                    <apex:actionStatus id="dlgProcessingStatus" 
                                   startText="{!$Label.SC_btn_Processing}" 
                                   stopText="" 
                                   startStyleClass="processing"/>  <P/>
        
                
                </td>
                <td align="right">
                    <apex:inputCheckbox value="{!showAllVisits}" >
                        <apex:actionSupport event="onclick" action="{!onShowAllChanged}" 
                                            rerender="dlgContractVisits" status="dlgProcessingStatus"/>
                    </apex:inputCheckbox>
                    {!$Label.SC_btn_ShowAll}                    
                </td>
            </tr></table>
            
        
            <apex:pageblockTable value="{!visititems}" var="cv">
                <apex:column >
                    <apex:facet name="header">
                        {!$Label.SC_app_Action}
                    </apex:facet>

                    <apex:actionStatus id="statusInfo">
                        <apex:facet name="start">
                            <apex:outputText value="" styleClass="processing"/>
                        </apex:facet>
                        <apex:facet name="stop">
                            <apex:commandLink action="{!onNewContactHistory}" value="{!$Label.SC_btn_Info}" status="statusInfo" reRender="dlgForm" immediate="true">
                                                     <apex:param name="vid" value="{!cv.obj.id}"/>
                            </apex:commandLink>
                        </apex:facet>
                    </apex:actionStatus>

                    <apex:outputText value=" | " rendered="{!cv.canDelete || cv.canSkip}"/>                     
                    
                    <apex:actionStatus id="statusSkip">
                        <apex:facet name="start">
                            <apex:outputText value="" styleClass="processing"/>
                        </apex:facet>
                        <apex:facet name="stop">
                            <apex:commandLink action="{!onSkip}" value="{!$Label.SC_btn_Skip}" rendered="{!cv.canSkip}" status="statusSkip" reRender="dlgContractVisits" immediate="true">
                                                     <apex:param name="vid" value="{!cv.obj.id}"/>
                            </apex:commandLink>
                        </apex:facet>
                    </apex:actionStatus>
                    
                    <apex:outputText value=" | " rendered="{!cv.canDelete && cv.canSkip}"/>
                    
                    <apex:actionStatus id="statusDel">
                        <apex:facet name="start">
                            <apex:outputText value="" styleClass="processing"/>
                        </apex:facet>
                        <apex:facet name="stop">
                            <apex:commandLink action="{!onDelete}" value="{!$Label.SC_btn_Delete}" rendered="{!cv.canDelete}" status="statusDel" reRender="dlgContractVisits" immediate="true">
                                                     <apex:param name="vid" value="{!cv.obj.id}"/>
                            </apex:commandLink>
                        </apex:facet>
                    </apex:actionStatus>
                    
                </apex:column>

                <apex:column >
                    <apex:facet name="header">{!$ObjectType.SCContractVisit__c.fields.Order__c.label}
                    </apex:facet>
                    
                    <apex:actionStatus id="dlgCreatingOrderStatus">
                        <apex:facet name="start">
                            <apex:outputText value="{!$Label.SC_btn_Processing}" styleClass="processing"/>
                        </apex:facet>
                        <apex:facet name="stop">
                            <apex:commandLink action="{!onCreateOrder}" 
                                              ondblclick="return false;" 
                                              value="{!$Label.SC_btn_Create}" 
                                              rendered="{!cv.canCreateOrder}" 
                                              status="dlgCreatingOrderStatus"
                                              reRender="dlgContractVisits,dlgHistory"
                                              immediate="true" >
                                <apex:param name="vid" value="{!cv.obj.id}"/>
                            </apex:commandLink>
                        </apex:facet>
                    </apex:actionStatus>
                    
                    <apex:outputText value=" | " rendered="{!cv.canScheduleOrder && cv.canCreateOrder}"/>                      

                    <apex:actionStatus id="statusSchedule">
                        <apex:facet name="start">
                            <apex:outputText value="" styleClass="processing"/>
                        </apex:facet>
                        <apex:facet name="stop">
                            <apex:commandLink action="{!onScheduleContractVisit}" value="{!$Label.SC_btn_Schedule}" rendered="{!cv.canScheduleOrder}" status="statusSchedule" reRender="dlgForm,dlgContractVisits,dlgHistory" immediate="true">
                                                     <apex:param name="oid" value="{!cv.obj.Order__c}"/>
                                                     <apex:param name="vid" value="{!cv.obj.id}"/>
                            </apex:commandLink>
                        </apex:facet>
                    </apex:actionStatus>

                    <apex:outputText value=" | " rendered="{!(cv.canCancel) && (cv.canScheduleOrder || cv.canSkip || cv.canCreateOrder)}"/>                      
                    
                    <apex:actionStatus id="statusCancel">
                        <apex:facet name="start">
                            <apex:outputText value="" styleClass="processing"/>
                        </apex:facet>
                        <apex:facet name="stop">
                            <apex:commandLink action="{!onCancelOrder}" value="{!$Label.SC_btn_CancelProcess}" rendered="{!cv.canCancel}" status="statusCancel" reRender="dlgContractVisits,dlgHistory" immediate="true">
                                                     <apex:param name="vid" value="{!cv.obj.id}"/>
                            </apex:commandLink>
                        </apex:facet>
                    </apex:actionStatus>
                    
                </apex:column>

                <apex:column value="{!cv.obj.name}"/>
                <apex:column value="{!cv.obj.DueDate__c}"/>
                <apex:column value="{!cv.obj.StartDate__c}"/>
                <apex:column value="{!cv.obj.EndDate__c}"/>
                <apex:column value="{!cv.obj.Status__c}"/>
                <!--apex:column value="{!cv.obj.AutoCreated__c}"/-->
                <apex:column value="{!cv.obj.OrderCreationDate__c}"/>
                <apex:column >
                    <apex:facet name="header">{!$ObjectType.SCContractVisit__c.fields.Order__c.label}</apex:facet>
                    <apex:outputLink value="/{!cv.obj.Order__c}" target="_blank" >{!cv.obj.Order__r.name}</apex:outputLink> 
                </apex:column>
                <apex:column value="{!cv.obj.Order__r.Type__c}"/>
                <apex:column value="{!cv.obj.Order__r.Status__c}"/>
                <apex:column value="{!cv.obj.Order__r.CreatedDate}"/>
            </apex:pageblockTable>
          </apex:outputPanel>
            
        </apex:pageBlockSection>


    <apex:includeScript value="{!URLFOR($Resource.SCRes,'lib/jquery/js/jquery-1.6.2.min.js')}" />
    <script type="text/javascript"> 
        function showAppointmentAnalysisDialog() 
        {
            var dlgattribs = "menubar=0,location=0,status=0,resizable=1,scrollbars=1,width=" + screen.width + ",height=" + (screen.height - 1);
            dlg = window.open("/apex/SCAppointmentAnalysis", "Dispatching", dlgattribs);
            dlg.moveTo(0, 0);
        }

        function disableInputs()
        {
            jQuery(':input').attr('disabled',true);
        }
    </script>


        <apex:actionFunction name="onContinueServiceMessage" action="{!onContinueServiceMessage}" 
                             reRender="dlgContract" 
                             oncomplete="startScheduling();" 
                             status="dlgProcessingStatus"/>
        <apex:actionFunction name="startScheduling" action="{!startScheduling}" 
                             reRender="dlgContract" status="dlgProcessingStatus"/>
        <apex:actionFunction name="onShowAllChanged" action="{!onShowAllChanged}" 
                             rerender="dlgContractVisits" status="dlgProcessingStatus"/>
        
        <apex:outputPanel id="dlgServiceMessage" rendered="{!NOT(ISNULL(serviceOrder))}">
            <apex:pageBlock title="{!$Label.SC_app_CustomerProperty}" mode="edit">
                <apex:pageBlockSection columns="2">
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="{!$Label.SC_App_OrderParkingAvailable}"/>
                        <apex:inputField value="{!serviceOrder.CustPropIsParkingAvailable__c}" 
                                         styleClass="customerProperty" onchange="onChgCustomerProperty()"/>
                    </apex:pageBlockSectionItem>
                    <apex:pageMessage severity="info" strength="1" escape="false" title="{!$Label.SC_msg_OrderDispatchHint}"/> 
                    
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="{!$Label.SC_app_OrderParkingPermit}"/>
                        <apex:inputField value="{!serviceOrder.CustPropIsProvideParkingPermit__c}" 
                                         styleClass="customerProperty" onchange="onChgCustomerProperty()"/>
                    </apex:pageBlockSectionItem>
                    <apex:outputText value=""/>
                    
                    <apex:pageBlockSectionItem >
                        <apex:outputLabel value="{!$Label.SC_app_OrderApplAccessible}"/>
                        <apex:inputField value="{!serviceOrder.CustPropIsApplAccessible__c}" 
                                         styleClass="customerProperty" onchange="onChgCustomerProperty()"/>
                    </apex:pageBlockSectionItem>
                    <apex:outputText value=""/>

                    <apex:pageMessage id="custPropWarning" severity="warning" strength="1" escape="false" 
                                      title="{!$Label.SC_msg_CustomerPropertyWarning}" rendered="{!showServiceMessageWarning}"/>
                </apex:pageBlockSection>
            </apex:pageBlock>
            
            <script type="text/javascript"> 
            <apex:panelGroup rendered="{!orderStatusChanged}">
                onShowAllChanged();
            </apex:panelGroup>
            </script>
            
        </apex:outputPanel>

        <apex:outputPanel id="dlgAppointments" rendered="{!showAppointments}">
        
            <!-- Order summary - the time window fields are displayed if invalid -->
            <apex:pageBlock title="{!$ObjectType.SCOrder__c.label}" mode="edit" id="dlgOrder">
        
                <!--PMS 30799/ActionList-DE-02: Show only the service relevant order types in the order creation page -->
                <apex:inputField value="{!order2.Country__c}" style="display:none"/>    
        
                <apex:pageBlockSection id="dlgOverview" rendered="{!canDispatch}">
                    <apex:outputField value="{!order2.Name}"/>
                        <apex:inputField value="{!order2.CustomerTimewindow__c}" />
                    <apex:outputField value="{!order2.Status__c}"/>
                        <apex:inputField value="{!order2.CustomerPrefStart__c}"/>
                        <!--apex:inputField value="{!order2.CustomerPrefStart__c}" rendered="{!!IsTimewindowValid}"/-->
                        <!--apex:outputField value="{!order2.CustomerPrefStart__c}" rendered="{!IsTimewindowValid}"/-->
                    <apex:outputField value="{!order2.Type__c}"/>
                        <apex:inputField value="{!order2.CustomerPrefEnd__c}"/>
                        <!--apex:inputField value="{!order2.CustomerPrefEnd__c}" rendered="{!!IsTimewindowValid}"/-->
                        <!--apex:outputField value="{!order2.CustomerPrefEnd__c}" rendered="{!IsTimewindowValid}"/-->
                    <apex:outputField value="{!order2.DepartmentCurrent__r.name}"/>
                        <apex:outputField value="{!order2.CustomerPriority__c}"/>
        
                    <apex:pageBlock title="{!$ObjectType.SCInstalledBase__c.label}">
                        <apex:pageBlockSection columns="1">
                        <apex:outputfield value="{!orderitem.InstalledBase__r.ProductGroup__c}"/>
                        <apex:outputfield value="{!orderitem.InstalledBase__r.ProductPower__c}"/>
                        <apex:outputfield value="{!orderitem.InstalledBase__r.ProductEnergy__c}"/>
                        </apex:pageBlockSection>
                    </apex:pageBlock>
                    
                    <c:SCInfoBlock title="{!$ObjectType.SCInstalledBaseLocation__c.label}" text="{!LocationAddress}"/>
                </apex:pageBlockSection>
        
                <!-- Validation: can the order be scheduled? -->
                <apex:pageBlockSection columns="1" rendered="{!!canDispatch}" id="dlgWarning">
                            <apex:pageMessage severity="warning" strength="2" title="{!$Label.SC_msg_SchedulingWarning}" escape="false"> 
                            {!$Label.SC_msg_SchedulingImpossible}
                            <B><apex:outputLabel value="{!$ObjectType.SCOrder__c.fields.Type__c.label}"/>
                            [<apex:outputField value="{!order2.Type__c}"/>] / 
                            <apex:outputLabel value="{!$ObjectType.SCOrder__c.fields.Status__c.label}"/>
                            [<apex:outputField value="{!order2.Status__c}"/>] <BR/>
                            </B>
                            </apex:pageMessage>
                            <apex:commandButton value="{!$Label.SC_btn_Continue}" action="javascript:window.close()"/>
                </apex:pageBlockSection>
        
                <!-- Validation: show already existing appointments -->
                <apex:pageBlockSection columns="1"  rendered="{!HasPending && canDispatch}" id="dlgPendingAppointments">
                    <apex:pageMessage severity="info" strength="1" escape="false" title="{!$Label.SC_msg_SchedulingAppointmentsExist}"> 
                    </apex:pageMessage>
                    <apex:pageblockTable value="{!pendingAppointments}" var="a">
                        <apex:column value="{!a.Start__c}"/>
                        <apex:column value="{!a.End__c}"/>
                        <apex:column value="{!a.Resource__c}"/>
                        <apex:column value="{!a.Employee__c}"/>
                        <apex:column value="{!a.Mobile__c}"/>
                        <apex:column value="{!a.Phone__c}"/>
                        <apex:column value="{!a.AssignmentStatus__c}"/>
                        <apex:column value="{!a.CustomerTimewindow__c}"/>
                        <apex:column value="{!a.Fixed__c}"/>
                        <apex:column value="{!a.FixedResource__c}"/>
                    </apex:pageblockTable>
                </apex:pageBlockSection>
                
                <!-- Validation: show the geocoding component if not yet geocoded-->
                <apex:pageBlockSection columns="1" rendered="{!!IsGeocoded && canDispatch && !HasPending}" id="dlgGeocoding">
                    <apex:pageMessage severity="warning" strength="1" title="{!$Label.SC_msg_SchedulingGeocodeAddress}" 
                                      detail="{!$Label.SC_msg_SchedulingGeocodeAddress2}" escape="false"/> 
                    <c:SCAddressValidation id="addressList" 
                                               key="addressList" 
                                               paramAddr="{!locaddr}" 
                                               paramShowEdit="true" 
                                               paramShowMap="true" 
                                               pageController="{!This}" 
                                               pageControllerRerender="dlgForm,suggestions" />
                </apex:pageBlockSection>

<!-- PMS 31145/Review20110808/CR: Mehrfachdisposition deaktivieren (Change Request) HasPending  -->
                <apex:pageBlockSection columns="1" title="{!$Label.SC_app_AppointmentProposals}" rendered="{!canDispatch && IsGeocoded && !HasPending}">
        
                    <apex:outputPanel >
                        <apex:commandButton action="{!onGetAppointments}" value="{!$Label.SC_btn_GetAppointments}" status="dlgStatus" reRender="dlgForm"/> &nbsp;
                        <apex:commandButton action="{!onGetAppointmentsNext}" value="{!$Label.SC_btn_More} {!apptMaxLastProposalDay}" status="dlgStatusMore" reRender="dlgForm" id="dlgMore"/> &nbsp;
                        <apex:commandButton action="{!onCancel}" value="{!$Label.SC_btn_Cancel}"/> &nbsp;&nbsp;&nbsp;&nbsp;
                        <apex:commandButton onclick="javascript:showAppointmentAnalysisDialog()" value="Info"/> 
                        &nbsp;&nbsp;
                        <b><apex:outputLabel value="{!$Label.SC_app_PostCodeArea}" rendered="{!appSettings.POSTCODEAREA_EVALUATION__c}"/></b>
                        &nbsp;
                        <apex:outputText value="{!areaInfo}" rendered="{!appSettings.POSTCODEAREA_EVALUATION__c}"/> 
                        &nbsp;&nbsp;
                        <b><apex:outputLabel value="{!$Label.SC_app_Standby}" rendered="{!appSettings.ENGINEERSTANDBY_EVALUATION__c}"/></b>
                        &nbsp;
                        <apex:outputText value="{!standbyInfo}" rendered="{!appSettings.ENGINEERSTANDBY_EVALUATION__c}"/> 
                        &nbsp;&nbsp;
                        <apex:actionStatus id="dlgStatus" startText="{!$Label.SC_app_Processing}{!order2.CustomerPrefStart__c}..."/>
                        <apex:actionStatus id="dlgStatusMore" startText="{!$Label.SC_app_Processing}{!apptMaxLastProposalDay}..."/>
                    </apex:outputPanel>    
        

                    <apex:actionFunction name="saveSelected" action="{!save}" reRender="dlgForm,dlgHistory" status="dlgProcessingStatus"/>
                    <apex:actionFunction name="saveSelectedFixed" action="{!saveFixed}" reRender="dlgForm,dlgHistory" status="dlgProcessingStatus"/>
                    
                    <apex:messages rendered="{!ISNULL(apptList)}" />
        
                    <apex:pageBlockTable id="suggestions" var="appt" value="{!apptList}" rendered="{!NOT(ISNULL(apptList))}">
        
                        <apex:column headerValue="Auto">
                            <apex:inputCheckbox value="{!appt.selected}"
                                onclick="saveSelected(); disableInputs();" />
                        </apex:column>
        
                       <apex:column headerValue="{!$Label.SC_app_Date}">
                            <apex:outputText value="{0, date, dd.MM.yyyy E}">
                                <apex:param value="{!appt.day}" />
                            </apex:outputText>
                        </apex:column>
                        <apex:column headerValue="{!$Label.SC_app_From}">
                            <apex:outputText value="{0, time, HH:mm}">
                                <apex:param value="{!appt.cdstart}" />
                            </apex:outputText>
                        </apex:column>
                        <apex:column headerValue="{!$Label.SC_app_To}">
                            <apex:outputText value="{0, time, HH:mm}">
                                <apex:param value="{!appt.cdend}" />
                            </apex:outputText>
                        </apex:column>
        
                       <apex:column headerValue="{!$Label.SC_app_Fixed}">
                            <apex:inputCheckbox value="{!appt.selectedFixed}"
                                onclick="saveSelectedFixed(); disableInputs()" />
                       </apex:column>
        
                       <apex:column headerValue="{!$ObjectType.SCResource__c.label}">
                           <apex:outputText >{!appt.employeefirstname} {!appt.employeename}</apex:outputText>
                       </apex:column>
        
                       <apex:column value="{!appt.employeeId}" headerValue="{!$ObjectType.SCResource__c.label}" />
                       <apex:column value="{!appt.employeeFunc}" headerValue="{!$ObjectType.SCResource__c.fields.Type__c.label}" />
        
                       <apex:column value="{!appt.address}" headerValue="{!$Label.SC_app_PreviousAddress}" />
                       <apex:column value="{!appt.tour}" headerValue="{!$Label.SC_app_TourExtension}" />
        
                    </apex:pageBlockTable>
        
                </apex:pageBlockSection>
            </apex:pageBlock>    
         </apex:outputPanel>
     </apex:pageBlock>    
     
      <apex:pageBlock id="newEntry" mode="edit">   
      
            <apex:pageBlockButtons location="bottom" >
                <apex:commandButton action="{!onContactNew}" value="{!$Label.SC_btn_New}" immediate="true" rendered="{!!isNewEntry}"/>
                <apex:commandButton action="{!onContactSave}" value="{!$Label.SC_btn_Save}" status="dlgProcessingStatus" rendered="{!isNewEntry}"/>
                <apex:commandButton action="{!onContactCancel}" value="{!$Label.SC_btn_Cancel}" immediate="true" rendered="{!isNewEntry}"/>
            </apex:pageBlockButtons>
      


      
        <!-- contact history -->        
        <apex:pageBlockSection columns="1" rendered="{!canDispatch}" id="dlgContactHistory" title="Contact history">
        
            
            <apex:pageblockTable value="{!contactitems}" var="ch">

                <apex:column >
                    <apex:facet name="header">{!$Label.SC_app_Action}</apex:facet>

                    <apex:commandLink action="{!onDeleteContactHistory}" value="{!$Label.SC_btn_Delete}" rendered="{!ch.canDelete}" status="dlgProcessingStatus" reRender="dlgContactHistory" immediate="true">
                                             <apex:param name="chid" value="{!ch.obj.id}"/>
                    </apex:commandLink>
                </apex:column>

                <apex:column value="{!ch.obj.name}"/>
                <apex:column value="{!ch.obj.Status__c}"/>
                <apex:column value="{!ch.obj.Reason__c}"/>
                <apex:column value="{!ch.obj.NextCall__c}"/>
                <apex:column value="{!ch.obj.LastCall__c}"/>
                <apex:column value="{!ch.obj.Information__c}"/>
                <apex:column value="{!ch.obj.Order__c}"/>
                <apex:column value="{!ch.obj.Account__c}"/>
                <apex:column value="{!ch.obj.LastModifiedDate}"/>
                <apex:column value="{!ch.obj.LastModifiedById}"/>
            </apex:pageblockTable>      
        </apex:pageBlockSection>
        
                
       <apex:outputPanel rendered="{!isNewEntry}" title="{!$Label.SC_app_CH_Data}">
            <apex:pageBlockSection collapsible="false" columns="1" id="text">
                <apex:inputField style="width:100%" value="{!contHist.Information__c}" 
                                 id="infoText" required="{!(contHist.Reason__c == 'OTHER')}" />
            </apex:pageBlockSection>

            <apex:pageBlockSection columns="2" collapsible="false" id="dlgContactItem">
                <apex:inputField value="{!contHist.Status__c}" required="true" />
                    <apex:outputField value="{!contHist.LastCall__c}"/>
                <apex:inputField value="{!contHist.Reason__c}" required="true" />
                    <apex:outputField value="{!contHist.Order__c}"/>
                <apex:inputField value="{!contHist.NextCall__c}" id="nextCall" />
                    <apex:outputField value="{!contHist.Contract__c}"/>
            </apex:pageBlockSection>
        </apex:outputPanel>   
      </apex:pageBlock>   
</apex:outputPanel>
</apex:form>

<c:SCHistoryAdvanced id="dlgHistory" oid="{!contract.id}" mode="contract"/>

</apex:page>