<!--
 * @(#)SCChecklistTab.page
 * 
 * Copyright 2010 by GMS Development
 * Karl-Schurz-Strasse 29,  33100 Paderborn
 * All rights reserved.
 * This software is the confidential and proprietary information
 * of GMS Development GmbH. ("Confidential Information").  You
 * shall not disclose such Confidential Information and shall use
 * it only in accordance with the terms of the license agreement
 * you entered into with GMS.
 *
 * @author Thorsten Klein <tklein@gms-online.de>
 * @version $Revision$, $Date$
-->
<apex:page >
	<!-- Begin Default Content REMOVE THIS -->
	<h1>Congratulations</h1>
  This is your new Page: SCChecklistTab
  <!-- End Default Content REMOVE THIS -->
</apex:page>