<!--
 * @(#)SCContractCreationRedirect.page
 * 
 * Copyright 2011 by GMS Development
 * Karl-Schurz-Strasse 29,  33100 Paderborn
 * All rights reserved.
 * This software is the confidential and proprietary information
 * of GMS Development GmbH. ("Confidential Information").  You
 * shall not disclose such Confidential Information and shall use
 * it only in accordance with the terms of the license agreement
 * you entered into with GMS.
 *
 * @author Sergey Utko <sutko@gms-online.de>
 * @version $Revision$, $Date$
-->
<apex:page standardController="Account" extensions="SCContractCreationRedirect"
    action="{!redirectToContractWizard}">
    <h1>You shouldn't see this</h1>

    <p>If you see this page something went terribly wrong and you
    should contact your system administrator</p>
</apex:page>