<apex:page controller="SCContractPlanningController">
  <BR/>
  --- Under construction --- 
  <BR/>
  <BR/>
  <h1>Operative Workforce Management</h1>
  <BR/>
  Used for plan the expected workload and available resources (long, mid and short term)
  <BR/>
  <BR/>
  <h1>Maintenance Contract Planning</h1>
  <BR/>
  Create maintenance orders from preventative maintenance contracts and let the scheudling engine assign the workorders to the available resources (engineers)
  <BR/>
  <BR/>
  <h1>Contract Accounting</h1>
  <BR/>
  Invoice existing contracts in intervals
  <BR/>
  <BR/>
  --- Under construction --- 
  <BR/>
</apex:page>