<apex:page controller="SCCustomerSearchController" sidebar="{!(!isPopup)}" showHeader="{!(!isPopup)}" >
    
    <apex:stylesheet value="{!URLFOR($Resource.scjquery,'jquery/css/cupertino/jquery-ui-1.8.4.custom.css')}" />
    <apex:includeScript value="{!URLFOR($Resource.SCRes,'lib/jquery/js/jquery-1.6.2.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.scjquery,'jquery/js/jquery-ui-1.8.4.custom.min.js')}" />
    
    <header>

        <style>
        
            .customButton{
                height: 26px;
                margin: 0 0 0 7px;
                width: 140px;
            }
        
        </style>


        <script>
        
            jQuery(document).ready(function() {
                // Setting the focus to the first input field                       
                jQuery('[id$=postalCode]').focus();
                
                // Close this popup window on blur
                //initiateSelfClosing();
                
            });
            
        
            // Self-close function
            //onblur=function(){window.close()}
            //window.onblur=function(){self.close();};
        
            var active_element;
            var bIsMSIE;
        
            function initiateSelfClosing() {
                if (navigator.appName == "Microsoft Internet Explorer") {
                    active_element = document.activeElement;
                    document.onfocusout = closeWnd;
                    bIsMSIE = true;
                }
                else { window.onblur = closeWnd; }
            }
        
            function closeWnd() {
                if (window.opener != null) {
                    if (bIsMSIE && (active_element != document.activeElement)) {
                        active_element = document.activeElement;
                    }
                    else {
                        window.close();
                    }
                }
            }
            
            // added GMS (TK) -- BEGIN
            // Updates the address validation status of the icon
            function addressChanged(element,event)
            {
                if (event.keyCode != 9 || 
                    (element.type == 'select-one' && event.type == 'change')) 
                {
                    jQuery('[id$=iconGeocoded]').addClass('cp-hidden');
                    jQuery('[id$=iconNotGeocoded]').removeClass('cp-hidden');
                    jQuery('input[type=hidden][id$=hiddenIsGeocoded]').val(false);
                }
            } // addressChanged

           // added GMS (TK) -- END
           
           function testIt()
           {
               alert('ok');
           }
           
        </script>
        
        <style>
            a, a:hover 
            { 
                text-decoration: none; 
            }
            .cs-input {
                font-size:10px;
                width:180px;
            }
            .cs-title {
                font-weight:bold;
                font-size: 10pt;
            }
            .cs-label {
                width: 130px;
            }
            /* Address validation - hide the icon */
            .cp-hidden {
                display: none;
            }
            
            /* Address validation - show the icon */
            .cp-visible {
            } 
            
            /* Address validation - icon style*/
            .cp-icon {
                width: 17px;
                height: 17px;
                vertical-align: middle;
            }
            .cp-selected { background-color: #abcfed; }
            .cp-selected-id { width: 0px; display: block; overflow: hidden; height: 0px; }
        </style>
    </header>
    <body>  
    <apex:sectionHeader title="{!$Label.sc_CS_SectionHeader}" subTitle="{!$Label.sc_CS_SectionHeaderSubtitle}"/>

<!-- <a href="javascript:alert(parent.window.opener.location.href);">test it</a> -->
    
    <apex:form id="searchPage">
        <apex:pageMessages id="errors" />
                        

                        
                        <apex:pageBlock title="{!$Label.sc_CS_SearchHeader}" mode="edit" id="criteria" onkeyup="submitForm(event)" >
                            
                            <script type="text/javascript">
                                function returnAccId(accId, accName, accNumber) {
                                    // pass the selected account id to the callback (if specified)
                                    var callbackname = "{!callback}";
                                    if(callbackname != "") {
                                        try {
                                            // pass the id to the callback window
                                            {!callbackComplete}
                                        }
                                        catch(e) {
                                            alert("callback not defined" + e);
                                        }
                                        if (window.opener.onCustomerSearchClose)
                                        window.opener.onCustomerSearchClose(accId, accName, accNumber);
                                        window.close();
                                    }
                                                                    
                                    var found = false; 
                                    var tags = window.opener.document.getElementsByTagName('input');
                                    for (var i=0; i < tags.length; i++) {
                                        var tagName = tags[i].getAttribute('id');
                                        if (tagName != null) {
                                            var inputName = tagName;
                                            var pos = tagName.lastIndexOf(':');
                                            if (pos >= 0)
                                                inputName = tagName.slice(pos+1);
                                            if (inputName == '{!returnField}') {
                                                window.opener.document.getElementById(tagName).value = accId;
                                                found = true;
                                            }
                                            if (inputName == '{!returnName}') {
                                                window.opener.document.getElementById(tagName).value = accName;
                                                found = true;
                                            }
                                        }
                                    }
                                    if (window.opener.onCustomerSearchClose)
                                        window.opener.onCustomerSearchClose(accId, accName, accNumber);                                     
                                    if (found)          
                                        window.close();
                                }
                            </script>
                            <apex:variable value="123"  var="render_de">
                                <table style="margin:10px;font-size:8pt;">
                                    <tr>
                                        <td class="cs-label">{!$Label.sc_CS_SearchMask_AccountType}</td>
                                        <td>
                                            <apex:selectList value="{!optAccount}" id="selectAccountType" styleClass="cs-input" multiselect="false" size="1" tabindex="98">
                                                <apex:selectOptions value="{!accTypes}"/>
                                            </apex:selectList>
                                        </td>
                                        <td class="cs-label">{!$Label.sc_CS_SearchMask_DeletedCustomer}</td>
                                        <td><apex:inputCheckbox value="{!deletedcustomer}" tabindex="99" /></td>
                                    </tr>
                                    <tr>
                                       <!-- <td colspan="2" style="width: 300px;"><span class="cs-title"><span class="cs-title">{!$Label.sc_CS_SearchMask_title_address}</span></span></td><td colspan="2" style="width: 300px;"><span class="cs-title">{!$Label.arl_CS_SearchMask_title_contact}</span></td><td colspan="2" style="width: 300px;"><span class="cs-title">{!$Label.sc_CS_SearchMask_title_other}</span></td> -->
                                    </tr>
                                    <tr>
                                        <td class="cs-label">{!$ObjectType.Account.fields.BillingPostalCode.label}*</td>
                                        <td><apex:inputText id="postalCode" value="{!postalCode}" styleClass="cs-input" tabindex="1" /></td>
                                        <td class="cs-label">{!$ObjectType.Account.fields.BillingCity.label}*</td>
                                        <td><apex:inputText id="city" value="{!city}" styleClass="cs-input" tabindex="11" /></td>
                                    </tr>
                                    <tr>
                                        <td class="cs-label">{!$ObjectType.Account.fields.BillingStreet.label}*</td>
                                        <td><apex:inputText id="street" value="{!street}" styleClass="cs-input" tabindex="3" /></td>
                                        <td class="cs-label">{!$ObjectType.Account.fields.Phone.label}*</td>
                                        <td><apex:inputText id="phone" value="{!phone}" styleClass="cs-input" tabindex="13" /></td>
                                        <td class="cs-label">{!$ObjectType.Account.fields.AccountNumber.label}</td>
                                        <td><apex:inputText id="accountNumber" value="{!accountNumber}" styleClass="cs-input" tabindex="23" /></td>
                                    </tr> 
                                    <tr>
                                        <td></td><td></td>
                                        <td class="cs-label">{!$ObjectType.Account.fields.Mobile__c.label}*</td>
                                        <td><apex:inputText id="mobile" value="{!mobile}" styleClass="cs-input" tabindex="15" /></td>
                                        <td class="cs-label">{!$ObjectType.SCAccountInfo__c.fields.DistributionChannel__c.label}</td>
                                        <td>
                                            <apex:selectList value="{!distributionChannel}" styleClass="cs-input" multiselect="false" size="1" tabindex="24">
                                                <apex:selectOptions value="{!listDistributionChannel}"/>
                                            </apex:selectList>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="cs-label">{!$ObjectType.Account.fields.name.label}*</td>
                                        <td><apex:inputText id="accountName" value="{!accountName}" styleClass="cs-input" tabindex="7" /></td>
                                        <td class="cs-label">{!$ObjectType.Account.fields.Fax.label}*</td>
                                        <td><apex:inputText id="fax" value="{!fax}" styleClass="cs-input" tabindex="17" /></td>
                                        <td class="cs-label">{!$ObjectType.SCInstalledBase__c.fields.SerialNo__c.label}</td>
                                        <td><apex:inputText id="serialNumber" value="{!serialNumber}" styleClass="cs-input" tabindex="25" /></td>
                                    </tr>
                                    <tr>
                                        <td class="cs-label">{!$ObjectType.Account.fields.Name2__c.label}*</td>
                                        <td><apex:inputText id="Name2" value="{!name2}" styleClass="cs-input" tabindex="9" /></td>
                                        <td class="cs-label">{!$ObjectType.Account.fields.Email__c.label}*</td>
                                        <td><apex:inputText id="email" value="{!email}" styleClass="cs-input" tabindex="19  " /></td>
                                        <td class="cs-label">{!$ObjectType.SCInstalledBase__c.fields.ManufacturerSerialNo__c.label}</td>
                                        <td><apex:inputText id="manufacturerSerialNumber" value="{!manufacturerSerialNumber}" styleClass="cs-input" tabindex="26" /></td>
                                    </tr>
                                    <tr>
                                    </tr>
                                    <tr>
                                    </tr>
                                    <tr>
                                        <td><apex:commandButton action="{!runSearch}" value="{!$Label.sc_CS_SearchMask_ButtonSearch}" rerender="results" status="searchStatus" id="btnSearchButton" tabindex="27" /><br /></td>
                                        <td>
                                            <apex:actionStatus startText="{!$Label.sc_CS_SearchMask_ActionStatus}" startStyle="text-align:center;color:red;font-weight:bold;" id="searchStatus"/><br/>
                                        </td>
                                    </tr>
                                    
                                </table>
                                <script type="text/javascript"> 
                                    var searchButtonID = document.getElementById("{!$Component.btnSearchButton}").id;
                                </script>
                            </apex:variable>                  
 
<!-- ---------------------------------------------- SEARCHMASKS END ------------------------------------------------ --> 
                        
                         
                        </apex:pageBlock>
                        <apex:pageBlock id="results">
                            <apex:variable value="123"  var="render_showMoreButton" rendered="{!showMore}">
                                <apex:commandButton action="{!runSearch}" value="{!$Label.sc_CS_SearchMask_moreAccounts}" rendered="{!maxResults}" rerender="results,debug" status="searchStatus" />&nbsp;
                                <apex:actionStatus startText="{!$Label.sc_CS_SearchMask_ActionStatus}" startStyle="text-align:center;color:red;font-weight:bold;" id="searchStatus"/><br/>
                            </apex:variable>
                        <br />
                        <apex:pageBlockSection id="section2" columns="1" title="{!$Label.sc_CS_SearchMask_matchingAccounts}" rendered="{!(!createMode)}">
                                <apex:variable value="123"  var="render_de">
                                <apex:pageBlockTable value="{!accEntries}" var="account" id="accountTableDEService">

                                    <!-- apex:column rendered="{!(!isPopup)}" -->
                                        <!-- apex:commandButton value="{!$Label.sc_CS_SearchMask_ButtonRequest}" action="{!submitToSales}" rerender="results,debug" rendered="{!(!isPopup)}" style="font-size:10px;" -->
                                            <!-- apex:param name="selAcc" value="{!account.Id}" assignTo="{!selAcc}"/ -->
                                        <!-- /apex:commandButton -->
                                    <!-- /apex:column --> 

                                    <apex:column rendered="{!(!isPopup)}">
                                        <apex:commandButton value="{!$Label.sc_CS_SearchMask_ButtonServiceOrder}" action="{!submitToService}" rerender="results,debug" rendered="{!AND(account.ShowServiceOrder,(!isPopup))}" style="font-size:10px;">
                                            <apex:param name="selAcc" value="{!account.Id}" assignTo="{!selAcc}"/>
                                        </apex:commandButton>
                                    </apex:column> 

                                    <!-- apex:column rendered="{!IF(isPopup = true && isChangeContractOwner != true, true, false)}" -->
                                        <!-- apex:outputPanel layout="none" rendered="{!isPopup}" -->
                                            <!-- input class="btn" type="button" value="Select" onClick="returnAccId('{!account.Id}', '{!account.Name}', '{!account.AccountNumber}')" style="font-size:10px;"/ -->
                                        <!-- /apex:outputPanel -->
                                        <!-- apex:commandButton value="Select" onClick="returnAccId('{!account.Id}', '{!account.Name}')" rendered="{!isPopup}" style="font-size:10px;"/ -->
                                    <!-- /apex:column -->
                                    

                                    <!-- apex:column rendered="{!isChangeContractOwner}" -->
                                        <!-- apex:commandButton value="Select" rerender="results,debug" action="{!onSaveContractAccountOwner}" style="font-size:10px;" -->
                                            <!-- apex:param name="newContractOwnerId" value="{!account.Id}" assignTo="{!newContractOwnerId}"/ -->
                                        <!-- /apex:commandButton -->
                                    <!-- /apex:column -->
                     
                                    <apex:column >
                                        <apex:facet name="header">
                                            <apex:commandLink value="{!$ObjectType.Account.fields.name.label}" action="{!toggleSort}" rerender="results,debug">
                                                <apex:param name="sortField" value="Name" assignTo="{!sortField}"/>
                                            </apex:commandLink>
                                        </apex:facet>
                                        <a href="/{!account.Id}" target="_blank">
                                            <apex:outputText value="{!account.Name}"/>
                                        </a>
                                    </apex:column>
                                    
                                    <apex:column headerValue="{!$ObjectType.Account.fields.Name2__c.label}">
                                        <apex:outputText value="{!account.Name2}"/>
                                    </apex:column> 
                                    
                                    <apex:column headerValue="{!$ObjectType.Account.fields.Phone.label}">
                                        <apex:repeat value="{!account.Phone}" var="item">
                                            <apex:outputText value="{!item}"/><br/>
                                        </apex:repeat>
                                    </apex:column>
                                    
                                    <apex:column headerValue="{!$ObjectType.SCInstalledBase__c.label}">
                                        <apex:dataTable value="{!account.Equipments}" var="eq" frame="none" rules="none">
                                            <apex:column >
                                                <a href="/{!eq.EqId}" target="_blank">
                                                    <apex:outputText value="{!eq.SerialNo}"/>
                                                </a>
                                            </apex:column>
                                            <apex:column >
                                                <apex:repeat value="{!eq.ProductName}" var="item">
                                                    <apex:outputText value="{!item}"/><br/>
                                                </apex:repeat>
                                            </apex:column>
                                            <apex:column >
                                                <apex:repeat value="{!eq.Address}" var="item">
                                                    <apex:outputText value="{!item}"/><br/>
                                                </apex:repeat>
                                            </apex:column>
                                        </apex:dataTable>
                                    </apex:column>
                                    
                                    <!-- apex:column >
                                        <apex:facet name="header">
                                            {!$ObjectType.Account.fields.ServiceOrderLastDate__c.label}
                                        </apex:facet>
                                        <apex:outputText value="{!account.ServiceOrderLastDateSign}"/>
                                        <apex:outputText value="{!account.ServiceOrderLastDate}"/>
                                    </apex:column -->              
                                                                                      
                                    <apex:column headerValue="{!$ObjectType.Account.fields.ServiceOrderLastDate__c.label}"
                                                       value="{!account.ServiceOrderLastDateSign} {!account.ServiceOrderLastDate}"/>
                                           
                                    <apex:column headerValue="{!$ObjectType.Account.fields.ServiceOrderPending__c.label}"
                                                       value="{!account.ServiceOrderPending}"/>
                                    
                                    <apex:column >
                                        <apex:facet name="header">
                                            <apex:commandLink value="{!$ObjectType.Account.fields.AccountNumber.label}" action="{!toggleSort}" rerender="results,debug">
                                                <apex:param name="sortField" value="accountNumber" assignTo="{!sortField}"/>
                                            </apex:commandLink>
                                        </apex:facet>
                                        <apex:outputText value="{!account.accountNumber}"/>
                                    </apex:column>  
                                </apex:pageBlockTable>
                                </apex:variable>
                            
<!-- GEOCODING MASK GMSSU -->

                              <apex:commandButton value="{!$Label.sc_CS_SearchMask_ButtonCreateEndCustomer}" action="{!createPA}" rerender="results,debug" oncomplete="showSearchMask(false);" rendered="{!AND(IF(defCountry != 'NL', true, false),AllowedToCreateAccount)}" />
                              <apex:commandButton value="{!$Label.sc_CS_SearchMask_ButtonCreateEndCustomer}" action="{!createPANL}" rerender="results,debug" oncomplete="showSearchMask(false);" rendered="{!AND(IF(defCountry = 'NL', true, false),AllowedToCreateAccount)}" />

                             
                              <apex:commandButton value="{!$Label.SC_btn_Cancel}" action="{!goBackToContract}" rendered="{!isChangeContractOwner}"/>

                              <!---->
                             <apex:variable value="123"  var="render_de" rendered="{!showCreateBA}"><a class="btn" href="/001/e?retURL=%2F001%2Fo&RecordType={!searchRecordType}&ent=Account" target="_blank">{!$Label.sc_CS_SearchMask_ButtonCreateBusinessAccount}</a></apex:variable>
                            </apex:pageBlockSection>


                            <!-- START OF GEOCOMPONENT NL ONLY (delete it from here, later) -->
                            <apex:pageBlockSection id="geoSectionNL" columns="1" title="{!$Label.sc_CS_CreateNewCustomerHeader}" rendered="{!IF(createMode = true && defCountry = 'NL', true, false)}">
                                <apex:outputPanel >
                                    <table class="detailList" cellspacing="0" cellpadding="0" border="0">
                                        <tbody>
                                            <tr>
                                                <td class="labelCol">
                                                    <label>{!$Label.sc_CS_SearchMask_FirstName}</label>
                                                </td>
                                                <td class="dataCol">
                                                    <apex:inputText value="{!newPA.FirstName__c}"/>
                                                </td>
                                                <td class="labelCol">
                                                    <label>{!$Label.sc_CS_SearchMask_LastName}</label>
                                                </td>
                                                <td class="dataCol">
                                                    <apex:inputText value="{!newPA.LastName__c}"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="labelCol">
                                                    <label>{!$Label.sc_CS_SearchMask_Street}</label>
                                                </td>
                                                <td class="dataCol">
                                                    <apex:inputField value="{!newPA.BillingStreet}" onkeypress="addressChanged(this,event)"/>
                                                </td>
                                                <td class="labelCol">
                                                    <label>{!$Label.sc_CS_SearchMask_HouseNo}</label>
                                                </td>
                                                <td class="dataCol">
                                                    <apex:inputField value="{!newPA.BillingHouseNo__c}"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="labelCol">
                                                    <label>{!$Label.sc_CS_SearchMask_Extension}</label>
                                                </td>
                                                <td class="dataCol">
                                                    <apex:inputField value="{!newPA.BillingExtension__c}"/>
                                                </td>
                                                <td class="labelCol">
                                                    <label>{!$Label.sc_CS_SearchMask_County}</label>
                                                </td>
                                                <td class="dataCol">
                                                    <apex:inputField value="{!newPA.BillingCounty__c}"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="labelCol">
                                                    <label>{!$Label.sc_CS_SearchMask_PostalCode}</label>
                                                </td>
                                                <td class="dataCol">
                                                    <!-- BEGIN change GMS (TK) -->
                                                    <!-- address validation icon indicates if the address was geocoded -->
                                                    <apex:panelGroup layout="none">
                                                        <apex:inputHidden value="{!IsGeocoded}" id="hiddenIsGeocoded"/>
                                                        <apex:inputField value="{!newPA.BillingPostalCode}"
                                                                         onkeypress="addressChanged(this,event)"
                                                                         id="postalCode" />                        
                                                        <apex:outputPanel id="iconGeocoded" styleClass="{!IF(IsGeocoded,'cp-visible','cp-hidden')}">
                                                            <a href="javascript:void(0);">
                                                                <apex:image url="{!URLFOR($Resource.state_images, '005.png')}" 
                                                                      title="{!$Label.SC_app_Latitude}: {!newPA.GeoY__c}  {!$Label.SC_app_Longitude}: {!newPA.GeoX__c}" 
                                                                      styleClass="cp-icon"/>
                                                            </a>
                                                        </apex:outputPanel>
                                                        <apex:outputPanel id="iconNotGeocoded" styleClass="{!IF(IsGeocoded,'cp-hidden','cp-visible')}">
                                                            <a href="javascript:void(0);">                                     
                                                                <apex:image url="{!URLFOR($Resource.state_images, '003.png')}" 
                                                                            title="please geocode the address" 
                                                                            styleClass="cp-icon" />
                                                            </a>
                                                        </apex:outputPanel>
                                                    </apex:panelGroup>
                                                    <!-- END -->
                                                </td>
                                                <td class="labelCol">
                                                    <label>{!$Label.sc_CS_SearchMask_City}</label>
                                                </td>
                                                <td class="dataCol">
                                                    <apex:inputField value="{!newPA.BillingCity}" onkeypress="addressChanged(this,event)"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="labelCol">
                                                    <label>{!$Label.sc_CS_SearchMask_Phone}</label>
                                                </td>
                                                <td class="dataCol">
                                                    <apex:inputField value="{!newPA.phone}"/>
                                                </td>
                                                <td class="labelCol">
                                                    <label>{!$Label.sc_CS_SearchMask_Mobile}</label>
                                                </td>
                                                <td class="dataCol">
                                                    <apex:inputField value="{!newPA.Mobile__c}"/>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td class="labelCol">
                                                    <label>{!$Label.sc_CS_SearchMask_Country}</label>
                                                </td>
                                                <td class="dataCol">
                                                    <apex:inputField value="{!newPA.BillingCountry__c}" onchange="addressChanged(this,event)"/>
                                                </td>
                                                <td class="labelCol">
                                                </td>
                                                <td class="dataCol">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td colspan="4" align="center">
                                                    <div>
                                                        <apex:commandButton value="Save" action="{!savePANL}" rerender="results,debug,errors,addressValidation" oncomplete="{!IF(createMode == false,'showSearchMask(true);','')}"/>
                                                        <apex:commandButton value="Cancel" action="{!cancelPA}" rerender="results,debug" oncomplete="showSearchMask(true);"/>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>    
                                    </table>
                                </apex:outputPanel>
                                
                                <!-- #################### Address Validation ##################### -->
                                <!-- Cannot be activated on CCE -->
                                <!-- apex:outputPanel id="addressValidation" layout="none" rendered="{!AND(NOT(isGeocoded),isAddressValidation)}" -->
                                    <!-- c:SCAddressValidation rendered="{!NOT(IsGeocoded)}" 
                                                           id="addressList" 
                                                           key="addressList" 
                                                           paramAddr="{!myaddr}" 
                                                           paramShowEdit="true" 
                                                           paramShowMap="true" 
                                                           pageController="{!This}" 
                                                           pageControllerRerender="geoSectionNL" / -->
                                <!-- /apex:outputPanel -->
                            </apex:pageBlockSection>
                            <!-- END OF GEOCOMPONENT NL ONLY -->


                                                    
                            <apex:pageBlockSection id="section3" columns="1" title="{!$Label.sc_CS_CreateNewCustomerHeader}" rendered="{!IF(createMode = true && defCountry = 'GB', true, false)}">
                                
                                <!-- #################### Address Validation ##################### -->
                                <apex:outputPanel id="addressValidation" >
                                
                                <apex:outputPanel style="width:100px;margin: 0 0 0 150px;position: absolute;">
                                    <apex:commandButton value="Cancel" 
                                                        action="{!cancelPA}" 
                                                        rerender="results,debug" 
                                                        styleClass="customButton"
                                                        oncomplete="showSearchMask(true);" rendered="false"/>
                                </apex:outputPanel>
                                                           
                                

                                </apex:outputPanel>
                                                           
                                
                            </apex:pageBlockSection>
                            
                            <apex:pageBlockSection id="createEndCustomerSection" columns="1" title="{!$Label.sc_CS_CreateNewCustomerHeader}" rendered="{!IF(createMode = true && defCountry != 'GB' && defCountry != 'NL', true, false)}" >
                                
                                <apex:commandButton value="Save" 
                                                    action="{!savePA}" 
                                                    id="savePAbutton" 
                                                    rerender="results,debug,errors,addressValidation" 
                                                    oncomplete="{!IF(createMode == false,'showSearchMask(true);','')}"
                                                    status="statusProcessing"/>
                                                    
                                <apex:commandButton value="Cancel" 
                                                    action="{!cancelPA}" 
                                                    rerender="results,debug" 
                                                    oncomplete="showSearchMask(true);"
                                                    style="float:right; margin-right:6px; position:relative; top: 16px;"
                                                    styleClass="customButtonSave"
                                                    id="cancelPAcreation"/>
                                
                                <!-- #################### Address Validation ##################### -->
                                <!-- Cannot be activated on CCE -->
                                <!-- c:SCAddressValidationDE id="addressList" 
                                                         key="addressList" 
                                                         paramAddr="{!myaddr}" 
                                                         paramShowEdit="true" 
                                                         paramShowMap="true" 
                                                         pageController="{!This}"
                                                         pageControllerRerender="searchPage" 
                                                         paramAction="savePAbutton"
                                                         paramCancel="cancelPAcreation"
                                                         paramMode="customerSearch"
                                                         rendered="true" / -->
                            </apex:pageBlockSection>
        </apex:pageBlock>
        <script type="text/javascript">
            function submitForm(e)
            {
                var keynum = 0;
                if (window.event) 
                {
                    keynum = window.event.keyCode;
                }
                else if (e.which) 
                {
                    keynum = e.which;
                }
            
                if (keynum == 13) 
                {
                    document.getElementById(searchButtonID).click();
                }
            }
            
           /**
            * Added GMSSU.
            * This function shows or hides the main sarch mask if the user clicks on the "Create end customer" button.
            * So the page gets more place for the address / geocoding tables.
            */
            function showSearchMask(param)
            {
                if(param == true)
                document.getElementById('{!$Component.criteria}').style.display = 'block';
                if(param == false)
                document.getElementById('{!$Component.criteria}').style.display = 'none';
            }
        </script>
    </apex:form>
    
    </body>
 
</apex:page>