<apex:page cache="true" 
           expires="{!10*3600}"
           controller="SCDomainCacheController"
           showHeader="false"
           sidebar="false"
           contentType="{!contentType}">
<apex:panelGroup layout="none" rendered="{!renderDomain}">{!content}</apex:panelGroup>
<apex:panelGroup layout="none" rendered="{!renderDependencies}">{!dependencies}</apex:panelGroup>

</apex:page>