<apex:page standardController="SCInstalledBaseLocation__c">

    <!-- 
    This visualforce page must be included into related list.
    The component will be included in this page.
    The actual id and mode will be passed to component and then to controller. 
    Example id:   https://cs4.salesforce.com/a0lP00000009yeD -> oid = "a0lP00000009yeD"
    Example mode: SCOrder     -> mode = "order"
                  SCContract  -> mode = "contract"
                  Account     -> mode = "account"
    -->
    
    <c:SCHistoryAdvanced oid="{!id}" mode="installedbaselocation"/>

</apex:page>