<!--
 * @(#)SCHover.page
 * 
 * Copyright 2010 by GMS Development
 * Karl-Schurz-Strasse 29,  33100 Paderborn
 * All rights reserved.
 * This software is the confidential and proprietary information
 * of GMS Development GmbH. ("Confidential Information").  You
 * shall not disclose such Confidential Information and shall use
 * it only in accordance with the terms of the license agreement
 * you entered into with GMS.
 *
 * @author Alex Wagner <awagner@gms-online.de>
 * @version $Revision$, $Date$
-->
<apex:page controller="SCHoverController" 
           sidebar="false" 
           showHeader="false" 
           standardStylesheets="false"
           id="cp_hover">   

<style>


</style>

    <!-- Set all main setting of the table here -->
    <div style="border-top: 3px solid #5D92BC; 
                margin: 0 0 0 {!IF(mode != 'CONTRACTREF', '40px;', '-'&width&'px;')}; 
                padding: 10px; 
                overflow:auto;
                display:block; 
                -webkit-box-shadow:  0px 2px 8px 1px rgba(0, 0, 0, 0.5); 
                box-shadow:  0px 2px 8px 1px rgba(0, 0, 0, 0.5); 
                -ms-filter: 'progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')'; 
                -webkit-border-radius: 6px; border-radius: 6px; background: rgb(255,255,255);
                background: -moz-linear-gradient(top,  #ffffff 0%, #ededed 100%); 
                background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); 
                background: -webkit-linear-gradient(top,  #ffffff 0%,#ededed 100%); 
                background: -o-linear-gradient(top,  #ffffff 0%,#ededed 100%); 
                background: -ms-linear-gradient(top,  #ffffff 0%,#ededed 100%); 
                background: linear-gradient(top,  #ffffff 0%,#ededed 100%); 
                filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
                {!IF(mode != 'CONTRACTREF', 'min-height:100px;max-height:188px;width:400px;', 'min-height:70px;max-height:150px;width:560px;')}; ">
        
        <div style="display:block;
                    width:35px;
                    height:35px;
                    background: transparent url(/img/alohaSkin/hover_lookup_tl.png) 0 10px no-repeat;
                    margin: -10px 0 0 -33px;
                    position: absolute;
                    ">
        </div>
            
        <!-- Set the height and width of the content here -->
        <div style="display:block; overflow:auto; width:100%; {!IF(mode != 'CONTRACTREF', 'min-height:100px;max-height:188px;', 'min-height:70px;max-height:150px;')};">
        
            <table cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr>
                        <td class="pbTitle">
                            <h2 style="color:#000;width:100%;margin: 3px 0 5px 7px;">{!itemHeader}</h2>
                        </td>
                    </tr>
                </tbody>
            </table>
    
            <!-- Content (body) -->
            <apex:dataTable value="{!items}" 
                            var="i" 
                            cellspacing="7px" 
                            columnClasses="{!columnClasses}">
                <apex:column >
                    <apex:outputText rendered="{!IF(i.entryid != '', true, false)}">
                        <a href="/{!i.entryid}" target="_blank">
                            {!i.label}
                        </a>
                    </apex:outputText>
                    
                    <apex:outputText value="{!i.label}" style="color:#4a4a56;" rendered="{!IF(i.entryid = '', true, false)}"/>
                </apex:column>
                <apex:column />
                <apex:column style="vertical-align:top;">
                    <apex:outputText value="{!i.info}"/>
                </apex:column>
                
                <apex:repeat value="{!i.addInfos}" 
                             var="ai">
                    <apex:column />
                    <apex:column style="vertical-align:top;">
                        <apex:outputText value="{!ai}"/>
                    </apex:column>
                </apex:repeat>
            </apex:dataTable>
            
            <apex:outputLabel style="margin:7px;">
                {!itemRemark}
            </apex:outputLabel>
        
        </div>
    </div>
</apex:page>