<apex:page standardController="SCMaterialMovement__c" 
    extensions="SCMaterialMovementFreetextExtension"
    wizard="true"
    showChat="false"
    sidebar="false"
    showHeader="false"
>
    <apex:form >
        <apex:pageBlock >
            <apex:sectionHeader title="Material Anfordern" id="header" />
            
            <apex:pageBlockButtons location="bottom">
                <apex:commandButton action="{!onCreate}" 
                    value="Anfordern" 
                    oncomplete=" opener.location.href='/{!SCMaterialMovement__c.Id}';"
                />
                <apex:commandButton action="{!onCancel}" 
                    value="{!$Label.SC_btn_Cancel}" 
                />
            </apex:pageBlockButtons>
            <apex:pageBlockSection >
                <apex:outputField value="{!SCMaterialMovement__c.Name}" />
                <apex:outputField value="{!SCMaterialMovement__c.Article__c}" />
                <apex:outputField value="{!SCMaterialMovement__c.Qty__c}" />
                <apex:outputField value="{!SCMaterialMovement__c.Description__c}" />
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="MaterialReservierung" for="movement"/>
                    <apex:outputText value="{!message}" id="movement"/>
                </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            
             <apex:pageMessage summary="{!message}" severity="{!severity}" strength="1" />
            
        </apex:pageBlock>
    </apex:form>
    
</apex:page>