<!--
 * @(#)SCManualPlanningPage.page
 * 
 * Copyright 2010 by GMS Development
 * Karl-Schurz-Strasse 29,  33100 Paderborn
 * All rights reserved.
 * This software is the confidential and proprietary information
 * of GMS Development GmbH. ("Confidential Information").  You
 * shall not disclose such Confidential Information and shall use
 * it only in accordance with the terms of the license agreement
 * you entered into with GMS.
 *
 * @author hs <hschroeder@gms-online.de>
 * @version $Revision$, $Date$
-->

<apex:page title="Manual Planning" name="ManualPlanning" tabStyle="SCPlanningboard__tab" 
    StandardController="SCOrderItem__c" Extensions="SCPlanningSessionExtension" >
    <c:SCPlanningBoard codeBase="{!codeBase}"
        sessionID="{!sessionID}" 
        userID="{!userID}" 
        service="{!service}" 
        userLang="{!userLang}" 
    />
</apex:page>