<apex:page controller="SCOrderSearchController" showHeader="false" renderAs="pdf"  cache="true">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
 <style type="text/css">
@page{
    size:A4 landscape;
    
    @bottom-right {
        content: "Page " counter(page) "/" counter(pages);
        font-family: 'Arial', 'Helvetica', sans-serif;
        font-size:9px;
    }
}
.myHeader{
    background: url("/img/alohaSkin/grid_headerbg.gif") repeat-x scroll 0 bottom #EDF8FC;
    height:26px;
    border-bottom:solid 1pt #D4DADC;
    padding-left:3px;
}

body {
    font-family: 'Arial', 'Helvetica', sans-serif;
    font-size:9px;
}

.rowclass {
    font-size:9px;
    font-family: 'Arial', 'Helvetica', sans-serif;
    border-left:solid 1pt #D4DADC;
    border-right:solid 1pt #D4DADC;
    border-top:solid 1pt #D4DADC;
}
h1{
   font-size:18px;
   font-weight:bold;
}
h2{
   font-size:10px;
   font-weight:normal;
}
.row1 {
    background-color:#fff;
    height:30px;
}
.row2 {
    background-color:#F2F2F3;
    height:30px;
}
.col1 {
    border-bottom:solid 1pt #D4DADC;    
}
hr {
    height:1px;
    border-width:0;
    color:gray;
    width:100%;
    background-color:#D4DADC;
    margin:0;
    padding:0;
}

</style>

</head>

<!-- Results Start Here -->

<table border="0" width="100%">
<tr>
<td width="50%" valign="bottom">
<h1 style="margin:0;"><apex:outputText value="{!$Label.SC_app_OrderSearch}" /></h1> 
</td>
<td align="right" valign="bottom"><apex:outputText value="{!now()}" /></td>
</tr>
<tr><td colspan="3"><hr/></td></tr>
<tr><td colspan="3">
<h2 style="margin:6px 0 0 0;color:#1797C0;"><b>{!filterTextOutput}</b></h2><br/><h2 style="margin:0 0 10px 0;">{!searchCriteria}</h2>
</td></tr>
</table>
<br/>
    <apex:dataTable value="{!FoundOrdersForPDF}" var="a" onRowClick="selectApp(this); return true;" align="left" headerClass="myHeader" styleClass="rowclass" width="100%" rowClasses="row1,row2" columnClasses="col1">
          
        <apex:column value="{!a.name}" headerValue="{!$ObjectType.SCOrder__c.fields.Name.label}"/>
        
        <apex:column value="{!a.CreatedDate}" headerValue="{!$ObjectType.SCOrder__c.fields.CreatedDate.label}"/>
                 
        <apex:column value="{!a.Type__c}" headerValue="{!$ObjectType.SCOrder__c.fields.Type__c.label}" rendered="{!showOrderType}" />
        
        
        <apex:column headerValue="{!$ObjectType.SCOrder__c.fields.Status__c.label}" rendered="{!showOrderStatus}">
            <div id="status-{!a.Id}">
            <apex:outputField value="{!a.Status__c}"  style="font-face: Arial;"/>
            </div>
        </apex:column>
               
        <apex:column value="{!a.InvoicingStatus__c}" headerValue="{!$ObjectType.SCOrder__c.fields.InvoicingStatus__c.label}" rendered="{!showOrderInvoicingStatus}"/>
        
        <apex:column value="{!a.InvoicingType__c}" headerValue="{!$ObjectType.SCOrder__c.fields.InvoicingType__c.label}" rendered="{!showOrderInvoicingType}"/>

        <apex:column value="{!a.Channel__c}" headerValue="{!$ObjectType.SCOrder__c.fields.Channel__c.label}" rendered="{!showOrderChannel}"/>
        
        <apex:column headerValue="{!$ObjectType.Account.fields.LastName__c.label}" rendered="{!renderRoleName}">
        <apex:repeat value="{!a.OrderRole__r}" var="f"> 
            <apex:outputLabel value="{!f.Name1__c}"/>
        </apex:repeat>
        </apex:column>
        
        <apex:column headerValue="{!$ObjectType.Account.fields.LastName__c.label}" rendered="{!renderLocationName}">
        <apex:repeat value="{!a.OrderItem__r}" var="ff"> 
            <apex:outputLabel value="{!ff.InstalledBase__r.InstalledBaseLocation__r.LocName__c}"/>
        </apex:repeat>
        </apex:column>

        <apex:column headerValue="{!$ObjectType.SCOrderRole__c.fields.Address__c.label} Role" rendered="{!renderRoleAddress}">
        <apex:repeat value="{!a.OrderRole__r}" var="b"> 
            <apex:outputText escape="false" value="{!b.Address__c}"/>
        </apex:repeat>
        </apex:column>
        
        <apex:column headerValue="{!$ObjectType.SCOrderRole__c.fields.Address__c.label} Location" rendered="{!renderLocationAddress}">
        <apex:repeat value="{!a.OrderItem__r}" var="bb">
            <apex:outputText escape="false" value="{!bb.InstalledBase__r.InstalledBaseLocation__r.Address__c}"/>
        </apex:repeat>
        </apex:column> 

        <apex:column headerValue="{!$ObjectType.SCProductModel__c.label}" rendered="{!showModel}">
        <apex:repeat value="{!a.OrderItem__r}" var="d"> 
            <apex:outputLabel rendered="{!NOT(ISNULL(d.InstalledBase__r.ProductModel__r.Name))}">
                {!d.InstalledBase__r.ProductModel__r.Name}
            </apex:outputLabel>
        </apex:repeat>
        </apex:column>
       
        <apex:column headerValue="{!$ObjectType.SCOrder__c.fields.Price__c.label}" rendered="{!showPrice}">
            <apex:outputText value="{!a.Price__c}"/>&nbsp;
        </apex:column>
        
        <apex:column value="{!a.PaymentType__c}" headerValue="{!$ObjectType.SCOrder__c.fields.PaymentType__c.label}" rendered="{!showPaymentType}"/> 


    </apex:dataTable>


</apex:page>