<apex:page standardController="SCOrder__c" sidebar="false" showHeader="false" >
    <apex:form id="mainForm">
        <c:SCOrderInterfaceMonitor id="monitor" oId="{!id}" autopoll="true"/>
    </apex:form>
</apex:page>