<apex:page standardController="SCOrder__c" showHeader="false" sidebar="false">
    
    <!-- 
    This visualforce page must be included into order layout.
    The component will be included in this page.
    The actual id will be passed to component and then to controller. 
    Example id:   https://cs2.salesforce.com/a0lR0000000St4R -> oid = "a0lR0000000St4R"
   
    -->
        <c:SCOrderProtocol oid="{!id}" popup="false"/>
</apex:page>