<!--
 * @(#)SCOrderCustom.page
 * 
 * Copyright 2010 by GMS Development
 * Karl-Schurz-Strasse 29,  33100 Paderborn
 * All rights reserved.
 * This software is the confidential and proprietary information
 * of GMS Development GmbH. ("Confidential Information").  You
 * shall not disclose such Confidential Information and shall use
 * it only in accordance with the terms of the license agreement
 * you entered into with GMS.
 *
 * @author Thorsten Klein <tklein@gms-online.de>
 * @version $Revision$, $Date$
-->
<apex:page standardController="SCOrder__c" showHeader="true">
	<apex:panelBar >
		<apex:panelBarItem label="Item 1">data 1</apex:panelBarItem>
		<apex:panelBarItem label="Item 2">data 2</apex:panelBarItem>
		<apex:panelBarItem label="Item 3">data 3</apex:panelBarItem>
	</apex:panelBar>

	<apex:pageBlock title="My Content" mode="detail">
		<apex:detail relatedList="true" relatedListHover="true"
			rendered="true" />
	</apex:pageBlock>
</apex:page>