<!--
 * @(#)SCOrderInbox.page
 * 
 * Copyright 2010 by GMS Development
 * Karl-Schurz-Strasse 29,  33100 Paderborn
 * All rights reserved.
 * This software is the confidential and proprietary information
 * of GMS Development GmbH. ("Confidential Information").  You
 * shall not disclose such Confidential Information and shall use
 * it only in accordance with the terms of the license agreement
 * you entered into with GMS.
 *
 * @author Alexander Wagner <awagner@gms-online.de>
 * @author Sebastian Schrage  <sschrage@gms-online.de>
 * @version $Revision$, $Date$
-->
<apex:page controller="SCOrderInboxController"
    title="Order Inbox" 
    showHeader="true">
    
<style>

.cp-selected
{
    background-color: #ABCFED;
}

.cp-selected-id
{
    visibility: hidden;
    width: 0px;
    height: 0px;
    display: block;
    overflow: hidden;
}

.cp-no-wrap
{
    white-space: nowrap; 
}

.statField
{
    visibility: hidden;
    width: 0px;
    height: 0px;
    display: block;
    overflow: hidden;
}

.btn_fixed_with
{
    width: 120px;
}

.l_align
{
    text-align: left;
}

.r_align
{
    text-align: right;
}

.systemHdr
{
    background-color: #EEEEEE;
    display: block;
    margin: 1px;
    padding: 1px;
}

.historyHdr
{
    background-color: #EEEEEE;
    margin: 1px;
}

.myHdr
{
    font-size: 95%;
}

.myLink
{
    font-size: 100%;
}

.column50
{
    width: 50%;
    valign: top;
}

.cp-filterrow
{
    vertical-align : middle;
}

.currency
{
    text-align: right;
    padding-right: 10px;
}

a.cp-link-button {
    text-decoration: none;
    margin: 1px 3px 1px 3px;
    text-align: center;
}

a.cp-link-button:hover {
    text-decoration: none;
    color: #333333;
    background-position: right -30px;
}

a.cp-link-button:visited {
    text-decoration: none;
    color: #333333;
}
</style>
           
<apex:stylesheet value="{!URLFOR($Resource.scjquery,'jquery/css/cupertino/jquery-ui-1.8.4.custom.css')}" />

<apex:includeScript value="{!URLFOR($Resource.scjquery,'jquery/js/jquery-1.4.2.min.js')}" />
<apex:includeScript value="{!URLFOR($Resource.scjquery,'jquery/js/jquery-ui-1.8.4.custom.min.js')}" />

<script type="text/javascript">

var processWnd = 0;
var openDayWnd = 0;

/*
 * Help functions for popup window
 * in varios browsers.
 */   
var newWin=null;
function openPopup()
{
    var url="/apex/PopupPage";
    newWin=window.open(url, 'Popup',
        'height=500,width=400,left=100,top=100,resizable=yes,scrollbars=yes,toolbar=no,status=no');
    newWin.focus();
     
    return false;
}
                                   
function closePopup()
{
    if (null!=newWin)
    {
      newWin.close();
    }  
}

function processOrder(appId)
{
    if (0 != openDayWnd)
    {
        openDayWnd.close();
        openDayWnd = 0;
    }
     
    var windowFeatures = 'height=' + screen.height + ',width=' + screen.width +
                         ',toolbar=0,scrollbars=1,status=0' + 
                         ',resizable=yes,location=0,menuBar=0';
    processWnd = open('SCProcessOrder?aid=' + appId, 'OrderProcess', 
                       windowFeatures+',left=0,top=0');
}

function checkDayOpen(appId,differentRescource,RescourceId)
{
    var screenW = 640, screenH = 480;
    if (parseInt(navigator.appVersion)>3) {
     screenW = screen.width;
     screenH = screen.height;
    }
    else if (navigator.appName == "Netscape" 
        && parseInt(navigator.appVersion)==3
        && navigator.javaEnabled()
       ) 
    {
     var jToolkit = java.awt.Toolkit.getDefaultToolkit();
     var jScreenSize = jToolkit.getScreenSize();
     screenW = jScreenSize.width;
     screenH = jScreenSize.height;
    }
    
    var centeredY = screen.height / 8;
    var centeredX = screen.width / 8;
    screenW = screenW * 6/8;
    screenH = screenH * 6/8;
    <!--var windowFeatures = 'height=screenH,width=screenW' +-->
    var windowFeatures = 'height=' + screenH + ',width=' + screenW +
                         ',toolbar=0,scrollbars=1,status=0' + 
                         ',resizable=1,location=0,menuBar=0';    
    if (differentRescource == 'true')
    {
        openDayWnd = window.open('SCDayStart?aid=' + appId + '&uid=' + RescourceId, 'SCDayStart',
             windowFeatures+',left=' + centeredX +',top=' + centeredY);
    }
    else
    {
        openDayWnd = window.open('SCDayStart?aid=' + appId, 'SCDayStart',
             windowFeatures+',left=' + centeredX +',top=' + centeredY);
    }
    
//    openDayWnd.blur();
//    window.focus();
    //return false;                  
}

function selectApp(element)
{
    //alert("element is: "+element.text());
    $('.cp-selected').toggleClass('cp-selected');
    $(element).toggleClass('cp-selected');
    
    selectItem($('.cp-selected-id', element).text());
}
    
function dblClickProcess(element,differentRescource,RescourceId)
{
    var stat = $('.statField', element).text();
    if (stat && (5503 == stat))
    {
        checkDayOpen($('.cp-selected-id', element).text(),differentRescource,RescourceId);
    }
}

function hoverOn(row)
{
    if (!$(row).hasClass('cp-selected'))
    {
        if (window.hiOn) { hiOn(row); }
    }
}

</script>

    <apex:messages id="messages" />

    <c:SCFixAppointment callback="refreshCurrentItem" />
        
    <apex:form >
        <apex:actionFunction name="selectItem" action="{!selectItem}" 
                             reRender="selAppId,listView,detailView" status="GoStatus">
            <apex:param name="appId" assignTo="{!selectedApp}" value="" />
        </apex:actionFunction>

        <apex:actionFunction name="refreshCurrentItem" action="{!refreshCurrentItem}" 
                             reRender="selAppId,listView,detailView" status="GoStatus" />
      
        <apex:inputHidden id="selAppId" value="{!selectedApp}" />
        
        <!-- ################### Page Title ###################### -->
        <apex:sectionHeader title="{!$Label.SC_app_AssignedOrders}" subtitle="{!$User.LastName}, {!$User.FirstName}" />
        
        <!-- ################### View Selection ###################### -->
        <apex:panelGrid columns="8" width="900px" >
            <apex:panelGroup layout="none" styleClass="cp-filterrow">
                <b><apex:outputText value="{!$Label.SC_btn_View}:" /></b>
            </apex:panelGroup>
           
                 <apex:outputLabel value="{!$Label.SC_app_Engineer}: " for="selResource" rendered="{!AllowedToChooseTheResource}"/>
                 <apex:selectList value="{!SelectedResource}"
                                  disabled="{!NOT(AllowedToChooseTheResource)}"
                                  multiselect="false"
                                  rendered="{!AllowedToChooseTheResource}"
                                  required="false"
                                  size="1" 
                                  id="selResource">
                    <apex:actionSupport event="onchange" action="{!ChangeResource}" reRender="detailView,listView" status="GoStatus"/>
                    <apex:selectOptions value="{!AllResourceList}"/>
                </apex:selectList>

            <apex:outputLabel value="{!$Label.SC_app_Status}:" for="viewStatus" />
            <apex:selectList value="{!curViewStatus}" size="1" multiselect="false" id="viewStatus">
                <apex:selectOptions value="{!viewStatus}"/>
                <apex:actionSupport event="onchange" action="{!refreshList}" 
                                    reRender="listView,detailView" status="GoStatus"/>
            </apex:selectList>
            <apex:outputText value="{!$Label.SC_app_Interval}:" />
            <apex:selectList value="{!curViewInterval}" size="1" multiselect="false" >
                <apex:selectOptions value="{!viewInterval}"/>
                <apex:actionSupport event="onchange" action="{!refreshList}" 
                                    reRender="listView,detailView" status="GoStatus"/>
            </apex:selectList>
            <apex:commandButton action="{!refreshList}" value="{!$Label.SC_btn_Go}" reRender="listView,detailView" status="GoStatus"/>
            <apex:actionStatus id="GoStatus" startText="lese..." stoptext=""/>
        </apex:panelGrid>
        
        <!-- ################### List View ###################### -->
        <apex:pageBlock id="listView" rendered="{!NOT(ISNULL(appObjects))}">
            <apex:panelGrid columns="2" columnClasses="l_align,r_align" style="width: 100%">
                <apex:panelGroup layout="none">
                    <apex:commandButton action="{!assignAppointment}" value="{!$Label.SC_btn_AssignToOrderItem}" 
                                        rendered="{!AND(NOT(ISNULL(curAppObj)), curAppObj.status == 5509)}" reRender="listView" 
                                        styleClass="btn_fixed_with"/>
                    <apex:commandButton action="{!acceptAppointment}" value="{!$Label.SC_btn_Accept}" 
                                        rendered="{!OR(ISNULL(curAppObj), curAppObj.status == 5510, curAppObj.status == 5503)}" reRender="listView" 
                                        disabled="{!OR(ISNULL(curAppObj), curAppObj.status != 5510)}" 
                                        styleClass="btn_fixed_with"/>
                    
                    <apex:commandButton accesskey="f" value="{!$Label.SC_app_FixAppointment}" rerender="none"
                                        onclick="initAppointment('{!curAppObj.appointment.Id}'); return false;"
                                        reRender="listView" 
                                        disabled="{!IF(ISNULL(curAppObj) || 
                                                      (curAppObj.status != 5510 && curAppObj.status != 5509 && curAppObj.status != 5503 && curAppObj.status != 5502 && defCountry = 'NL') ||
                                                      (curAppObj.status != 5510 && defCountry != 'NL'), true, false)}" 
                                        styleClass="btn_fixed_with"/>
                                        
                    <apex:commandButton onclick="javascript: checkDayOpen('{!curAppObj.appointment.Id}','{!differentRescource}','{!RescourceId}');return false;"
                                        disabled="{!OR(ISNULL(curAppObj), curAppObj.status != 5503)}" 
                                        value="{!$Label.SC_btn_ProcessOrder}" 
                                        styleClass="btn_fixed_with"/>
                </apex:panelgroup>
                <apex:panelGroup layout="none">
                    <apex:commandButton action="{!rejectAppointment}" value="{!$Label.SC_btn_Reject}" 
                                        disabled="{!OR(ISNULL(curAppObj), curAppObj.status == 5509)}" reRender="listView" 
                                        styleClass="btn_fixed_with"/>
                </apex:panelgroup>
            </apex:panelGrid>
            <br/>&nbsp;
                
            <apex:pageBlockTable value="{!appObjects}" var="item" 
                                 onRowClick="selectApp(this); return true;" 
                                 onRowDblClick="dblClickProcess(this,'{!differentRescource}','{!RescourceId}'); return false;">
                <apex:column styleClass="{!IF(curAppObj.appointment.Id == item.appointment.Id, 'cp-selected', '')}" >
                    <apex:facet name="header">{!$ObjectType.SCOrder__c.fields.CustomerPriority__c.label}</apex:facet>
                    <apex:outputField value="{!item.appointment.Order__r.CustomerPriority__c}" />
                    <span id="{!item.appointment.Id}" class="cp-selected-id">{!item.appointment.Id}</span>
                    <span id="stat_{!item.appointment.Id}" class="statField">{!item.status}</span>
                </apex:column>
                <apex:column styleClass="{!IF(curAppObj.appointment.Id == item.appointment.Id, 'cp-selected', '')}" >
                    <apex:facet name="header">&nbsp;</apex:facet>
                    <apex:outputField value="{!item.appointment.CustomerTimewindow__c}" />
                </apex:column>
                <apex:column styleClass="{!IF(curAppObj.appointment.Id == item.appointment.Id, 'cp-selected', '')}" >
                    <apex:facet name="header">{!$ObjectType.SCAppointment__c.fields.Start__c.label}</apex:facet>
                    <apex:outputField value="{!item.appointment.Start__c}" />
                </apex:column>
                <apex:column styleClass="{!IF(curAppObj.appointment.Id == item.appointment.Id, 'cp-selected', '')}" >
                    <apex:facet name="header">{!$ObjectType.SCAppointment__c.fields.End__c.label}</apex:facet>
                    <apex:outputField value="{!item.appointment.End__c}" />
                </apex:column>
                <apex:column styleClass="{!IF(curAppObj.appointment.Id == item.appointment.Id, 'cp-selected', '')}" >
                    <apex:facet name="header">{!$ObjectType.SCOrder__c.fields.FailureType__c.label}</apex:facet>
                    <apex:outputField value="{!item.appointment.Order__r.FailureType__c}" />
                </apex:column>
                <apex:column styleClass="{!IF(curAppObj.appointment.Id == item.appointment.Id, 'cp-selected', '')}" >
                    <apex:facet name="header">{!$ObjectType.SCAssignment__c.fields.Status__c.label}</apex:facet>
                    <apex:outputField value="{!item.appointment.Assignment__r.Status__c}" rendered="{!item.status != 1}"/>
                    <apex:outputText value="{!$Label.SC_app_Assigned}" rendered="{!item.status == 1}"/>
                </apex:column>
                <apex:column styleClass="{!IF(curAppObj.appointment.Id == item.appointment.Id, 'cp-selected', '')}" >
                    <apex:facet name="header">{!$ObjectType.SCOrderRole__c.fields.Address__c.label}</apex:facet>
                    <apex:outputText value="{0}, {1}" >
                        <apex:param value="{!item.instBaseLoc.LocName__c}" />
                        <apex:param value="{!item.address}" />
                    </apex:outputText>
                </apex:column>
                <apex:column styleClass="{!IF(curAppObj.appointment.Id == item.appointment.Id, 'cp-selected', '')}" >
                    <apex:facet name="header">{!$ObjectType.SCOrderRole__c.fields.Phone__c.label}</apex:facet>
                    <apex:outputField value="{!item.orderRole.Phone__c}" />
                </apex:column>
                <apex:column styleClass="{!IF(curAppObj.appointment.Id == item.appointment.Id, 'cp-selected', '')}" >
                    <apex:facet name="header">{!$ObjectType.SCOrderRole__c.fields.Phone2__c.label}</apex:facet>
                    <apex:outputField value="{!item.orderRole.Phone2__c}" />
                </apex:column>
                <apex:column styleClass="{!IF(curAppObj.appointment.Id == item.appointment.Id, 'cp-selected', '')}" >
                    <apex:facet name="header">{!$ObjectType.SCOrderRole__c.fields.MobilePhone__c.label}</apex:facet>
                    <apex:outputField value="{!item.orderRole.MobilePhone__c}" />
                </apex:column>
                <apex:column styleClass="{!IF(curAppObj.appointment.Id == item.appointment.Id, 'cp-selected', '')}" >
                    <apex:facet name="header">{!$ObjectType.SCOrder__c.fields.Name.label}</apex:facet>
                    <a id="lookup1{!item.appointment.Order__r.Id}" 
                         href="/{!item.appointment.Order__r.Id}" 
                         onmouseover="LookupHoverDetail.getHover('lookup1{!item.appointment.Order__r.Id}', 
                             '/{!item.appointment.Order__r.Id}/m?isAjaxRequest=1&amp;nocache=0').show();" 
                         onmouseout="LookupHoverDetail.getHover('lookup1{!item.appointment.Order__r.Id}').hide();" 
                         onfocus="LookupHoverDetail.getHover('lookup1{!item.appointment.Order__r.Id}', 
                             '/{!item.appointment.Order__r.Id}/m?isAjaxRequest=1&amp;nocache=0').show();" 
                         onblur="LookupHoverDetail.getHover('lookup1{!item.appointment.Order__r.Id}').hide();" 
                         target="_blank">
                        <apex:outputField value="{!item.appointment.Order__r.Name}" />
                    </a>
                </apex:column>
            </apex:pageBlockTable> 
        </apex:pageBlock>
        
        <!-- ################### Detail View ###################### -->
        <apex:panelGroup id="detailView" layout="none">
        <apex:pageBlock rendered="{!orderSelected}">

            <!-- ################### Order Details ###################### -->
            <apex:pageBlockSection collapsible="false" columns="2" id="order" title="{!$Label.SC_app_OrderDetails}">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$ObjectType.SCOrder__c.fields.Name.label}" />
                    <apex:panelGroup layout="none">
                    <a id="lookup2{!curOrder.boOrder.order.Id}" 
                         href="/{!curOrder.boOrder.order.Id}" 
                         onmouseover="LookupHoverDetail.getHover('lookup2{!curOrder.boOrder.order.Id}', 
                             '/{!curOrder.boOrder.order.Id}/m?isAjaxRequest=1&amp;nocache=0').show();" 
                         onmouseout="LookupHoverDetail.getHover('lookup2{!curOrder.boOrder.order.Id}').hide();" 
                         onfocus="LookupHoverDetail.getHover('lookup2{!curOrder.boOrder.order.Id}', 
                             '/{!curOrder.boOrder.order.Id}/m?isAjaxRequest=1&amp;nocache=0').show();" 
                         onblur="LookupHoverDetail.getHover('lookup2{!curOrder.boOrder.order.Id}').hide();" 
                         target="_blank">
                        <apex:outputField value="{!curOrder.boOrder.order.Name}" />
                    </a>
                    </apex:panelGroup>
                </apex:pageBlockSectionItem>
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$ObjectType.SCAppointment__c.fields.Start__c.label}" />
                    <apex:panelGroup layout="none">
                        <apex:outputField value="{!curAppObj.appointment.Start__c}" />&nbsp;&nbsp;
                        <apex:outputText value="{!$Label.SC_app_Duration}" />:&nbsp;
                        <apex:outputText value="{!curAppObj.duration}" />&nbsp;
                        <apex:outputText value="{!$Label.SC_app_Min}" />
                    </apex:panelGroup>
                </apex:pageBlockSectionItem>
                
                <apex:outputField value="{!curOrder.boOrder.order.Type__c}" />
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$ObjectType.SCAppointment__c.fields.CustomerPrefStart__c.label}" />
                    <apex:panelGroup layout="none">
                        <apex:outputField value="{!curAppObj.appointment.CustomerTimewindowStart__c}" />&nbsp;-&nbsp;
                        <apex:outputField value="{!curAppObj.appointment.CustomerTimewindowEnd__c}" />
                    </apex:panelGroup>
                </apex:pageBlockSectionItem>
                
                <apex:outputField value="{!curOrder.boOrder.order.CustomerPriority__c}" />
                <apex:outputField value="{!curOrder.boOrder.order.CustomerTimewindow__c}" />
                
                <apex:outputField value="{!curOrder.boOrder.order.InvoicingType__c}" rendered="{!ShowPricing}" />
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="{!$Label.SC_app_CreatedBy}" />
                    <apex:panelGroup layout="none">
                        <apex:outputField value="{!curOrder.boOrder.order.CreatedBy.Name}" />,&nbsp;
                        <apex:outputField value="{!curOrder.boOrder.order.CreatedDate}" />
                    </apex:panelGroup>
                </apex:pageBlockSectionItem>
                
            </apex:pageBlockSection>

            <!-- ################### Appointments ###################### -->
            <apex:pageBlockSection collapsible="false" columns="1" id="appointments" title="{!$Label.SC_app_Appointments}">
                <apex:dataTable value="{!curOrder.boOrder.appointments}" var="appointment" cellpadding="2" width="100%">
                    <apex:column >
                        <apex:outputField value="{!appointment.Resource__r.FirstName_txt__c}" />&nbsp;
                        <apex:outputField value="{!appointment.Resource__r.LastName_txt__c}" />&nbsp;
                        (<apex:outputField value="{!appointment.Resource__r.Alias_txt__c}" />)
                    </apex:column>
                    <apex:column >
                        <apex:outputField value="{!appointment.Resource__r.Phone_txt__c}" />
                    </apex:column>
                    <apex:column >
                        <apex:outputField value="{!appointment.Start__c}" />&nbsp;-&nbsp;
                        <apex:outputField value="{!appointment.End__c}" />
                    </apex:column>
                    <apex:column >
                        <apex:outputField value="{!appointment.Assignment__r.Status__c}" />
                    </apex:column>
                </apex:dataTable>
            </apex:pageBlockSection>

            <!-- ################### Order Lines ###################### -->
            <apex:pageBlockSection collapsible="false" columns="1" id="lines" title="{!$Label.SC_app_OrderLines}">
                <apex:dataTable value="{!curOrder.boOrder.boOrderLines}" var="line" cellpadding="2" width="100%">
                    <apex:column >
                        <!-- status column -->
                        <apex:image url="{!URLFOR($Resource.SCRes, 'images/' + line.symMatStat)}"
                                    styleClass="cp-symbol" 
                                    alt="{!line.matStatDescr}" 
                                    title="{!line.matStatDescr}"/>              
                    </apex:column>
                    <apex:column value="{!line.itemIdentifier}" styleClass="cp-no-wrap" />
                    <apex:column >
                        <apex:outputField value="{!line.orderLine.Article__r.Name}" />
                    </apex:column>
                    <apex:column >
                        <apex:outputField value="{!line.orderLine.Article__r.ArticleNameCalc__c}" />
                    </apex:column>
                    <apex:column >
                        <apex:outputField value="{!line.orderLine.ValuationType__c}" />
                    </apex:column>
                    <apex:column styleClass="r_align">
                        <apex:outputText value="{0, number, integer}" >
                            <apex:param value="{!line.orderLine.Qty__c}" />
                        </apex:outputText>
                    </apex:column>
                    <apex:column value="{!line.orderLine.Price__c}" 
                                 styleClass="cp-no-wrap r_align"
                                 rendered="{!ShowPricing}"/>
                    <apex:column >
                        <apex:outputField value="{!line.orderLine.InvoicingType__c}" rendered="{!ShowPricing}"/>
                    </apex:column>
                    <apex:column >
                        <apex:outputField value="{!line.orderLine.InvoicingSubtype__c}" rendered="{!ShowPricing}"/>
                    </apex:column>
                </apex:dataTable>
            </apex:pageBlockSection>

            <!-- ################### Order Roles ###################### -->
            <apex:pageBlockSection collapsible="false" columns="1" id="roles" title="{!$Label.SC_app_OrderRoles}">
                <apex:dataTable value="{!curOrder.roleObjList}" var="roleObj" cellpadding="2" width="100%">
                    <apex:column style="white-space: nowrap;">
                        <!-- image hover to show details of the account status fields-->
                        <c:SCHoverLink oid="{!roleObj.role.Account__c}" mode="ACCOUNT" image="{!roleObj.imageAlert}"/> 
                        <!-- image hover to show details of the current cases -->
                        <c:SCHoverLink oid="{!roleObj.role.Account__c}" mode="CONTRACT" image="{!roleObj.imageVipContract}"/> 
                         
                        <!-- image hover to show details of the current cases -->
                        <c:SCHoverLink oid="{!roleObj.role.Account__c}" mode="CASES" image="{!roleObj.imageCasesOrders}"/> 
                    </apex:column>
                       
                    <apex:column style="white-space: nowrap;">
                        <apex:panelGroup rendered="{!roleObj.isAG}">
                            <apex:commandLink id="caBtn"
                                              onClick="javascript: void(0);" 
                                              value="CA" 
                                              immediate="true" 
                                              reRender="none"
                                              styleClass="btn cp-link-button"/>
                        </apex:panelGroup>
                        <apex:panelGroup rendered="{!roleObj.isLE}">
                            <apex:commandLink id="srBtn"
                                              onClick="javascript: void(0);" 
                                              value="SR"
                                              immediate="true" 
                                              reRender="none"
                                              styleClass="btn cp-link-button"/>
                        </apex:panelGroup>
                        <apex:panelGroup rendered="{!roleObj.isRE}">
                            <apex:commandLink id="irBtn"
                                              onClick="javascript: void(0);" 
                                              value="IR" 
                                              immediate="true" 
                                              reRender="none"
                                              styleClass="btn cp-link-button"/>
                        </apex:panelGroup>
                        <apex:panelGroup rendered="{!roleObj.isRG}">
                            <apex:commandLink id="pyBtn"
                                              onClick="javascript: void(0);" 
                                              value="PY" 
                                              immediate="true" 
                                              reRender="none"
                                              styleClass="btn cp-link-button"/>
                        </apex:panelGroup>
                    </apex:column>
                    
                    <apex:column >
                        <apex:panelGroup rendered="{!roleObj.isPersonAccount}">
                            <img title="Person Account" alt="Person Account" src="/img/icon/perAccounts16.gif"/>
                        </apex:panelGroup>
                    </apex:column>
                    
                    <apex:column >
                        <apex:outputField value="{!roleObj.role.Name1__c}" />
                    </apex:column>
                    <apex:column >
                        <apex:outputText value="{!roleObj.address}" />
                    </apex:column>
                    <apex:column >
                        <apex:outputText value=", {0}: {1}" rendered="{!NOT(ISNULL(roleObj.role.Phone__c))}" >
                            <apex:param value="{!$ObjectType.SCOrderRole__c.fields.Phone__c.label}" />
                            <apex:param value="{!roleObj.role.Phone__c}" />
                        </apex:outputText>
                        <apex:outputText value=", {0}: {1}" rendered="{!NOT(ISNULL(roleObj.role.Phone2__c))}" >
                            <apex:param value="{!$ObjectType.SCOrderRole__c.fields.Phone2__c.label}" />
                            <apex:param value="{!roleObj.role.Phone2__c}" />
                        </apex:outputText>
                        <apex:outputText value=", {0}: {1}" rendered="{!NOT(ISNULL(roleObj.role.Fax__c))}" >
                            <apex:param value="{!$ObjectType.SCOrderRole__c.fields.Fax__c.label}" />
                            <apex:param value="{!roleObj.role.Fax__c}" />
                        </apex:outputText>
                        <apex:outputText value=", {0}: {1}" rendered="{!NOT(ISNULL(roleObj.role.HomePhone__c))}">
                            <apex:param value="{!$ObjectType.SCOrderRole__c.fields.HomePhone__c.label}" />
                            <apex:param value="{!roleObj.role.HomePhone__c}" />
                        </apex:outputText>
                        <apex:outputText value=", {0}: {1}" rendered="{!NOT(ISNULL(roleObj.role.MobilePhone__c))}">
                            <apex:param value="{!$ObjectType.SCOrderRole__c.fields.MobilePhone__c.label}" />
                            <apex:param value="{!roleObj.role.MobilePhone__c}" />
                        </apex:outputText>
                        <apex:panelGroup layout="none" rendered="{!NOT(ISNULL(roleObj.role.Email__c))}">
                            ,&nbsp;<apex:outputText value="{!$ObjectType.SCOrderRole__c.fields.Email__c.label}" />
                            :&nbsp;<apex:outputLink value="mailto:{!roleObj.role.Email__c}" >{!roleObj.role.Email__c}</apex:outputLink>
                        </apex:panelGroup>
                    </apex:column>
                </apex:dataTable>
            </apex:pageBlockSection>

            <!-- ################### Locations ###################### -->
            <apex:repeat value="{!curOrder.locationList}" id="locations" var="location">
                <br/>
                <!-- the outer table divides the section in two symetric panes -->
                <!-- only one row with two columns -->
                <apex:panelGrid width="100%" columns="2" columnClasses="column50" 
                                cellpadding="0" cellspacing="0">
                    <apex:panelGroup layout="none">
                        <apex:variable value="{!0}" var="rowNum" />
                        <!-- the table in the left column displays the location address -->
                        <!-- and the contact information for the location -->
                        <apex:dataTable value="{!location.locContacts}" var="contact" 
                                        width="100%" cellpadding="2"  
                                        headerClass="pbSubheader tertiaryPalette myHdr">
                            <apex:column >
                                <apex:facet name="header"><h3>
                                    {!$Label.SC_app_InstalledBaseLocation} {!location.no}
                                    <a class="pbSubheader tertiaryPalette myLink" id="lookup{!location.locId}" 
                                         href="/{!location.locId}" 
                                         onmouseover="LookupHoverDetail.getHover('lookup{!location.locId}', 
                                             '/{!location.locId}/m?isAjaxRequest=1&amp;nocache=0').show();" 
                                         onmouseout="LookupHoverDetail.getHover('lookup{!location.locId}').hide();" 
                                         onfocus="LookupHoverDetail.getHover('lookup{!location.locId}', 
                                             '/{!location.locId}/m?isAjaxRequest=1&amp;nocache=0').show();" 
                                         onblur="LookupHoverDetail.getHover('lookup{!location.locId}').hide();" 
                                         target="_blank">
                                        [{!location.locIntName}]
                                    </a>
                                </h3></apex:facet>
                                <apex:outputText value="{0}, {1}" rendered="{!(rowNum == 0)}">
                                    <apex:param value="{!location.locName}" />
                                    <apex:param value="{!location.locAddress}" />
                                </apex:outputText><br/>
                        
                                <apex:outputText value="{0}: {1}" rendered="{!NOT(ISNULL(contact.Name))}">
                                    <apex:param value="{!$Label.SC_app_Contact}" />
                                    <apex:param value="{!contact.Name}" />
                                </apex:outputText>
                                <apex:outputText value=", {0}" rendered="{!NOT(ISNULL(contact.Name2__c))}">
                                    <apex:param value="{!contact.Name2__c}" />
                                </apex:outputText>
                                <apex:outputText value=", {0}: {1}" rendered="{!NOT(ISNULL(contact.Phone__c))}" >
                                    <apex:param value="{!$ObjectType.SCInstalledBaseLocationContact__c.fields.Phone__c.label}" />
                                    <apex:param value="{!contact.Phone__c}" />
                                </apex:outputText>
                                <apex:outputText value=", {0}: {1}" rendered="{!NOT(ISNULL(contact.Mobile__c))}">
                                    <apex:param value="{!$ObjectType.SCInstalledBaseLocationContact__c.fields.Mobile__c.label}" />
                                    <apex:param value="{!contact.Mobile__c}" />
                                </apex:outputText>
                                <apex:outputText value=", {0}: {1}" rendered="{!NOT(ISNULL(contact.Email__c))}">
                                    <apex:param value="{!$ObjectType.SCInstalledBaseLocationContact__c.fields.Email__c.label}" />
                                    <apex:param value="{!contact.Email__c}" />
                                </apex:outputText>
                            </apex:column>
                            <apex:column style="width:0px">
                                <apex:variable var="rowNum" value="{!rowNum + 1}" />
                            </apex:column>
                        </apex:dataTable>
                    </apex:panelGroup>
                    <apex:panelGroup layout="none">
                        <!-- the table in the right column displays the summarized -->
                        <!-- order items and their completion status -->
                        <apex:dataTable value="{!location.completionList}" var="compl" width="100%" 
                                        columnsWidth="70%,30%" cellpadding="2" 
                                        headerClass="pbSubheader tertiaryPalette myHdr">
                            <apex:column >
                                <apex:facet name="header"><h3>{!$Label.SC_app_OrderItems}</h3></apex:facet>
                                <apex:outputField value="{!compl.orderItem.InstalledBase__r.ProductUnitClass__c}" />/
                                <apex:outputField value="{!compl.orderItem.InstalledBase__r.ProductUnitType__c}" />
                            </apex:column>
                            <apex:column >
                                <apex:facet name="header"><h3>{!$Label.SC_app_Completed}</h3></apex:facet>
                                <apex:outputText value="{!compl.noCompleted}" />&nbsp;/&nbsp;
                                <apex:outputText value="{!compl.noAll}" />
                            </apex:column>
                        </apex:dataTable>
                    </apex:panelGroup>
                </apex:panelGrid>
    
                <!-- ################### Order items ###################### -->
                <apex:repeat value="{!location.orderItemObjs}" var="itemObj">
                <br/>
                <apex:dataTable value="{!pseudoList}" var="pseudo" width="100%"  
                                columnsWidth="50%,50%" cellpadding="2" 
                                headerClass="pbSubheader tertiaryPalette myHdr">
                    <apex:column >
                        <apex:facet name="header">
                            <h3>
                                {!$Label.SC_app_OrderItem} {!itemObj.no} 
                                <a class="pbSubheader tertiaryPalette myLink" id="lookup{!itemObj.orderItem.Id}" 
                                     href="/{!itemObj.orderItem.Id}" 
                                     onmouseover="LookupHoverDetail.getHover('lookup{!itemObj.orderItem.Id}', 
                                         '/{!itemObj.orderItem.Id}/m?isAjaxRequest=1&amp;nocache=0').show();" 
                                     onmouseout="LookupHoverDetail.getHover('lookup{!itemObj.orderItem.Id}').hide();" 
                                     onfocus="LookupHoverDetail.getHover('lookup{!itemObj.orderItem.Id}', 
                                         '/{!itemObj.orderItem.Id}/m?isAjaxRequest=1&amp;nocache=0').show();" 
                                     onblur="LookupHoverDetail.getHover('lookup{!itemObj.orderItem.Id}').hide();" 
                                     target="_blank">
                                    [{!itemObj.orderItem.Name}]
                                </a>
                                &nbsp;
                                <a class="pbSubheader tertiaryPalette myLink" 
                                   href="/apex/scmanualplanningpage?id={!itemObj.orderItem.Id}">
                                    [{!$Label.SC_app_PlanningBoard}]
                                </a>
                            </h3>
                        </apex:facet>
                        <apex:outputField value="{!itemObj.orderItem.InstalledBase__r.Type__c}" />:&nbsp;
                        <!-- show product model if available -->
                        <apex:outputField value="{!itemObj.orderItem.InstalledBase__r.ProductModel__c}" 
                                          rendered="{!NOT(ISNULL(itemObj.orderItem.InstalledBase__r.ProductModel__c))}" />
                        <!-- show unit class if available and unit type and product model are not available -->
                        <apex:outputField value="{!itemObj.orderItem.InstalledBase__r.ProductUnitClass__c}" 
                                          rendered="{!AND(NOT(ISNULL(itemObj.orderItem.InstalledBase__r.ProductUnitClass__c)), 
                                                          ISNULL(itemObj.orderItem.InstalledBase__r.ProductUnitType__c), 
                                                          ISNULL(itemObj.orderItem.InstalledBase__r.ProductModel__c))}" />
                        <!-- show unit type if available and product model are not available -->
                        <apex:outputField value="{!itemObj.orderItem.InstalledBase__r.ProductUnitType__c}" 
                                          rendered="{!AND(NOT(ISNULL(itemObj.orderItem.InstalledBase__r.ProductUnitType__c)), 
                                                          ISNULL(itemObj.orderItem.InstalledBase__r.ProductModel__c))}" />
                        <apex:panelGroup layout="none" rendered="{!NOT(ISNULL(itemObj.orderItem.InstalledBase__r.InstallationDate__c))}">
                            ,&nbsp;<apex:outputField value="{!itemObj.orderItem.InstalledBase__r.InstallationDate__c}" />
                        </apex:panelGroup>
                        <apex:panelGroup layout="none" rendered="{!NOT(ISNULL(itemObj.systemList))}">
                            <br/>&nbsp;<br/>
                                <apex:outputText styleClass="systemHdr" value="{!itemObj.systemName}" />
                            <apex:dataTable value="{!itemObj.systemList}" var="system" cellpadding="2">
                                <apex:column >
                                    -&nbsp;<apex:outputField value="{!system.Type__c}" />:&nbsp;
                                    <!-- show product model if available -->
                                    <apex:outputField value="{!system.ProductModel__c}" 
                                                      rendered="{!NOT(ISNULL(system.ProductModel__c))}" />
                                    <!-- show unit class if available and unit type and product model are not available -->
                                    <apex:outputField value="{!system.ProductUnitClass__c}" 
                                                      rendered="{!AND(NOT(ISNULL(system.ProductUnitClass__c)), 
                                                                      ISNULL(system.ProductUnitType__c), 
                                                                      ISNULL(system.ProductModel__c))}" />
                                    <!-- show unit type if available and product model are not available -->
                                    <apex:outputField value="{!system.ProductUnitType__c}" 
                                                      rendered="{!AND(NOT(ISNULL(system.ProductUnitType__c)), 
                                                                      ISNULL(system.ProductModel__c))}" />
                                    <apex:panelGroup layout="none" rendered="{!NOT(ISNULL(system.InstallationDate__c))}">
                                        ,&nbsp;<apex:outputField value="{!system.InstallationDate__c}" />
                                    </apex:panelGroup>
                                </apex:column>
                            </apex:dataTable>
                        </apex:panelGroup>
                    </apex:column>
                    <apex:column >
                        <apex:facet name="header"><h3>{!$Label.SC_app_Symptom}</h3></apex:facet>
                        <apex:panelGroup rendered="{!NOT(ISNULL(itemObj.orderItem.ErrorSymptom1__c))}" layout="none">
                            {!$Label.SC_app_Sym1}:&nbsp;<apex:outputField value="{!itemObj.orderItem.ErrorSymptom1__c}"/><br/>
                        </apex:panelGroup>
                        <apex:panelGroup rendered="{!NOT(ISNULL(itemObj.orderItem.ErrorSymptom2__c))}" layout="none">
                            {!$Label.SC_app_Sym2}:&nbsp;<apex:outputField value="{!itemObj.orderItem.ErrorSymptom2__c}"/><br/>
                        </apex:panelGroup>
                        <apex:panelGroup rendered="{!NOT(ISNULL(itemObj.orderItem.ErrorCondition1__c))}" layout="none">
                            {!$Label.SC_app_Cond}:&nbsp;<apex:outputField value="{!itemObj.orderItem.ErrorCondition1__c}"/><br/>
                        </apex:panelGroup>
                        <apex:panelGroup rendered="{!NOT(ISNULL(itemObj.orderItem.ErrorText__c))}" layout="none">
                            <apex:outputText value="{!itemObj.orderItem.ErrorText__c}"/>
                        </apex:panelGroup>
                    </apex:column>
                </apex:dataTable>
                </apex:repeat>
    
                <!-- ################### History ###################### -->
                <apex:pageBlockSection collapsible="false" columns="1" id="history" 
                                       title="{!$Label.SC_app_OrderHistory}" rendered="{!location.hasHistory}"/>
                <apex:repeat value="{!location.histOrders}" var="histOrd">
                <br/>
                <!-- data table for displaying the first line with order infos -->
                <apex:dataTable value="{!pseudoList}" var="pseudo" width="80%"  
                                columnsWidth="15%,20%,30%,10%,15%" cellpadding="2">
                    <apex:column styleClass="historyHdr">
                        <apex:outputField value="{!histOrd.order.CreatedDate}" />
                    </apex:column>
                    <apex:column styleClass="historyHdr">
                        <apex:outputField value="{!histOrd.order.Type__c}" />
                    </apex:column>
                    <apex:column styleClass="historyHdr">
                        <a id="lookup{!histOrd.order.Id}" 
                             href="/{!histOrd.order.Id}" 
                             onmouseover="LookupHoverDetail.getHover('lookup{!histOrd.order.Id}', 
                                 '/{!histOrd.order.Id}/m?isAjaxRequest=1&amp;nocache=0').show();" 
                             onmouseout="LookupHoverDetail.getHover('lookup{!histOrd.order.Id}').hide();" 
                             onfocus="LookupHoverDetail.getHover('lookup{!histOrd.order.Id}', 
                                 '/{!histOrd.order.Id}/m?isAjaxRequest=1&amp;nocache=0').show();" 
                             onblur="LookupHoverDetail.getHover('lookup{!histOrd.order.Id}').hide();" 
                             target="_blank">
                            <apex:outputField value="{!histOrd.order.Name}" />
                        </a>
                    </apex:column>
                    <apex:column styleClass="historyHdr" rendered="{!ShowPricing}">
                        <apex:outputField value="{!histOrd.order.PriceGross__c}" />
                    </apex:column>
                    <apex:column styleClass="historyHdr" rendered="{!ShowPricing}">
                        <apex:outputField value="{!histOrd.order.PaymentType__c}" />
                    </apex:column>
                </apex:dataTable>
                
                <!-- data table for displaying the appointments -->
                <apex:dataTable value="{!histOrd.appointments}" var="appointment" width="80%"  
                                columnsWidth="40%,20%,40%" cellpadding="2">
                    <apex:column >
                        <apex:outputField value="{!appointment.Resource__r.FirstName_txt__c}" />&nbsp;
                        <apex:outputField value="{!appointment.Resource__r.LastName_txt__c}" />&nbsp;
                        (<apex:outputField value="{!appointment.Resource__r.Alias_txt__c}" />)
                    </apex:column>
                    <apex:column >
                        <apex:outputField value="{!appointment.Resource__r.Phone_txt__c}" />
                    </apex:column>
                    <apex:column >
                        <apex:outputField value="{!appointment.Start__c}" />&nbsp;-&nbsp;
                        <apex:outputField value="{!appointment.End__c}" />
                    </apex:column>
                </apex:dataTable>
                
                <!-- data table for displaying the order items with order lines -->
                <apex:variable value="{!'-'}" var="lastOrderId" />
                <apex:dataTable value="{!histOrd.boOrderLines}" var="ordLine" width="80%"  
                                cellpadding="2">
                    <apex:column >
                        <!-- if the order item has changed, display it -->
                        <apex:panelGroup rendered="{!(lastOrderId != ordLine.orderLine.OrderItem__r.Id)}" layout="none">
                            <!-- show product model if available -->
                            <apex:outputField value="{!ordLine.orderLine.OrderItem__r.InstalledBase__r.ProductModel__c}" 
                                              rendered="{!NOT(ISNULL(ordLine.orderLine.OrderItem__r.InstalledBase__r.ProductModel__c))}" />
                            <!-- show unit class if available and unit type and product model are not available -->
                            <apex:outputField value="{!ordLine.orderLine.OrderItem__r.InstalledBase__r.ProductUnitClass__c}" 
                                              rendered="{!AND(NOT(ISNULL(ordLine.orderLine.OrderItem__r.InstalledBase__r.ProductUnitClass__c)), 
                                                              ISNULL(ordLine.orderLine.OrderItem__r.InstalledBase__r.ProductUnitType__c), 
                                                              ISNULL(ordLine.orderLine.OrderItem__r.InstalledBase__r.ProductModel__c))}" />
                            <!-- show unit type if available and product model are not available -->
                            <apex:outputField value="{!ordLine.orderLine.OrderItem__r.InstalledBase__r.ProductUnitType__c}" 
                                              rendered="{!AND(NOT(ISNULL(ordLine.orderLine.OrderItem__r.InstalledBase__r.ProductUnitType__c)), 
                                                              ISNULL(ordLine.orderLine.OrderItem__r.InstalledBase__r.ProductModel__c))}" />
                            <br/>
                        </apex:panelGroup>
                        
                        <!-- data table inside the other data tabel for displaying the -->
                        <!-- order lines in a good style -->
                        <apex:dataTable value="{!ordLine}" var="oneLine" width="90%"  
                                        columnsWidth="20%,50%,10%,10%,10%" >
                            <apex:column >
                                -&nbsp;<apex:outputField value="{!oneLine.orderLine.Article__r.Name}" />
                            </apex:column>
                            <apex:column >
                                <apex:outputField value="{!oneLine.orderLine.ArticleName__c}" />
                            </apex:column>
                            <apex:column >
                                <apex:outputText value="{0, number, integer}" >
                                    <apex:param value="{!oneLine.orderLine.Qty__c}" />
                                </apex:outputText>
                            </apex:column>
                            <apex:column styleClass="currency">
                                <apex:outputField value="{!oneLine.orderLine.Price__c}" rendered="{!ShowPricing}"/>
                            </apex:column>
                            <apex:column >
                                <apex:outputField value="{!oneLine.orderLine.InvoicingType__c}" rendered="{!ShowPricing}"/>
                            </apex:column>
                        </apex:dataTable>
                    </apex:column>
                    <apex:column style="width:0px">
                        <apex:variable var="lastOrderId" value="{!ordLine.orderLine.OrderItem__r.Id}" />
                    </apex:column>
                </apex:dataTable>
                
                </apex:repeat>
            </apex:repeat>

        </apex:pageBlock>
        </apex:panelGroup>

    </apex:form>
</apex:page>