<apex:page standardController="SCStock__c" 
	extensions="SCReloadMobileStockExtension"
	wizard="true"
	showChat="false"
	sidebar="false"
	showHeader="false"
>
	<apex:form >
		<apex:pageBlock >
			<apex:sectionHeader title="{!$Label.SC_app_ReloadMobileStock}" id="header" />
			
			<apex:pageBlockButtons location="bottom">
	        	<apex:commandButton action="{!onReload}" 
	        		value="{!$Label.SC_app_ReloadMobileStock}" 
	        		oncomplete=" opener.location.href='/{!SCStock__c.Id}'; window.close();"
	        	/>
	        	<apex:commandButton action="{!onCancel}" 
	        		value="{!$Label.SC_btn_Cancel}" 
	        		oncomplete="window.close();"
	        	/>
	        </apex:pageBlockButtons>
			<apex:pageBlockSection >
				<apex:outputField value="{!SCStock__c.Name}" />
				<apex:outputField value="{!SCStock__c.Name__c}" />
				<apex:outputField value="{!SCStock__c.Plant__c}" />
				<apex:outputField value="{!SCStock__c.Description__c}" />
				<apex:pageBlockSectionItem >
					<apex:outputLabel value="{!$Label.SC_app_TotalStockItems}" for="totalStockItems"/>
					<apex:outputText value="{!stockItemsCount}" id="totalStockItems"/>
				</apex:pageBlockSectionItem>
			</apex:pageBlockSection>
		</apex:pageBlock>
	</apex:form>
    
</apex:page>